<aside
  class="text-opacity-70 opacity-90 font-N27 text-sm cursor-pointer border-2 rounded-md text-[#0A0C10] border-[#CFD9E4] shadow-[0_0px_20px_0px_#CFD9E4] hover:shadow-[0_0px_20px_0px_#CFD9E4] dark:text-[#F5F9FF] dark:border-[#08152C] dark:shadow-[0_0px_10px_0px_#08152C] dark:hover:shadow-[0_0px_20px_0px_#08152C] hover:text-opacity-100 hover:opacity-100"
>
  <svg
    width="70"
    height="70"
    viewBox="0 0 70 70"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M3.69918 38.2975C1.87805 36.4763 1.87806 33.5237 3.69918 31.7026L31.7026 3.69921C33.5237 1.87809 36.4763 1.8781 38.2974 3.69922L66.3008 31.7026C68.1219 33.5237 68.1219 36.4763 66.3008 38.2975L38.2974 66.3009C36.4763 68.122 33.5237 68.122 31.7026 66.3009L3.69918 38.2975Z"
      fill="#EE513B"></path>
    <path
      d="M26.015 9.47717L23.1792 12.313L30.5034 19.6371C30.2071 20.2727 30.0417 20.9816 30.0417 21.7292C30.0417 23.8516 31.3752 25.6625 33.25 26.3699V44.2864C31.3752 44.9938 30.0417 46.8047 30.0417 48.9271C30.0417 51.6655 32.2616 53.8854 35 53.8854C37.7384 53.8854 39.9583 51.6655 39.9583 48.9271C39.9583 47.0029 38.8623 45.3347 37.2604 44.5128V26.3942L44.2617 33.3954C43.9798 34.0181 43.8229 34.7095 43.8229 35.4375C43.8229 38.1759 46.0429 40.3958 48.7813 40.3958C51.5197 40.3958 53.7396 38.1759 53.7396 35.4375C53.7396 32.6991 51.5197 30.4792 48.7813 30.4792C48.2491 30.4792 47.7366 30.563 47.256 30.7182L39.7369 23.199C39.8808 22.7346 39.9583 22.2409 39.9583 21.7292C39.9583 18.9908 37.7384 16.7708 35 16.7708C34.4883 16.7708 33.9946 16.8484 33.5302 16.9923L26.015 9.47717Z"
      fill="white"></path>
  </svg>
  <span>Git</span>
</aside>
