<aside
  class="text-opacity-70 opacity-90 font-N27 text-sm cursor-pointer border-2 rounded-md text-[#0A0C10] border-[#CFD9E4] shadow-[0_0px_20px_0px_#CFD9E4] hover:shadow-[0_0px_20px_0px_#CFD9E4] dark:text-[#F5F9FF] dark:border-[#08152C] dark:shadow-[0_0px_10px_0px_#08152C] dark:hover:shadow-[0_0px_20px_0px_#08152C] hover:text-opacity-100 hover:opacity-100"
>
  <svg
    width="70"
    height="70"
    viewBox="0 0 70 70"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M40.6745 9.61643C37.9326 6.36328 35.5716 3.0593 35.0892 2.37308C35.0384 2.32225 34.9622 2.32225 34.9115 2.37308C34.4291 3.0593 32.068 6.36328 29.3261 9.61643C5.79164 39.6318 33.0328 59.8879 33.0328 59.8879L33.2613 60.0404C33.4643 63.1663 33.9721 67.665 33.9721 67.665H34.9876H36.0031C36.0031 67.665 36.5109 63.1918 36.714 60.0404L36.9425 59.8625C36.9679 59.8879 64.2091 39.6318 40.6745 9.61643ZM34.9876 59.4303C34.9876 59.4303 33.769 58.3884 33.439 57.8548V57.8037L34.9115 25.1198C34.9115 25.0181 35.0638 25.0181 35.0638 25.1198L36.5363 57.8037V57.8548C36.2062 58.3884 34.9876 59.4303 34.9876 59.4303Z"
      fill="#00FE69"></path>
  </svg>
  <span>MongoDB</span>
</aside>
