<aside
  class="text-opacity-70 opacity-90 text-sm cursor-pointer border-2 rounded-md text-[#0A0C10] border-[#CFD9E4] shadow-[0_0px_20px_0px_#CFD9E4] hover:shadow-[0_0px_20px_0px_#CFD9E4] dark:text-[#F5F9FF] dark:border-[#08152C] dark:shadow-[0_0px_10px_0px_#08152C] dark:hover:shadow-[0_0px_20px_0px_#08152C] hover:text-opacity-100 hover:opacity-100"
>
  <svg
    width="70"
    height="70"
    viewBox="0 0 70 70"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M58.7148 10.9776C52.6482 2.2948 40.6661 -0.278832 32.0032 5.24059L16.7918 14.9378C14.7358 16.2305 12.9722 17.938 11.6138 19.9512C10.2554 21.9644 9.33206 24.239 8.9029 26.6294C8.17733 30.6553 8.81532 34.8082 10.7159 38.4306C9.41336 40.4062 8.52495 42.6253 8.10433 44.954C7.67104 47.3923 7.72895 49.8925 8.27466 52.3082C8.82037 54.7238 9.8429 57.0062 11.2823 59.0214C17.3489 67.7054 29.3315 70.2796 37.9933 64.7584L53.2082 55.0612C55.2637 53.7683 57.0267 52.0607 58.3846 50.0475C59.7424 48.0343 60.665 45.7598 61.0936 43.3696C61.8204 39.3441 61.184 35.1911 59.2853 31.5678C60.5869 29.5922 61.4747 27.3733 61.8951 25.0451C62.3289 22.6068 62.2713 20.1065 61.7257 17.6908C61.1801 15.2751 60.1574 12.9927 58.7177 10.9776"
      fill="#FF3E00"></path>
    <path
      d="M30.5169 59.8387C28.1226 60.461 25.5949 60.3337 23.2753 59.4738C20.9556 58.6139 18.9557 57.063 17.5455 55.0303C16.68 53.8186 16.0652 52.4463 15.7371 50.9939C15.4089 49.5415 15.3741 48.0382 15.6345 46.5721C15.7227 46.0908 15.8441 45.6162 15.998 45.1517L16.2844 44.2767L17.0643 44.8489C18.8638 46.1721 20.876 47.1782 23.0142 47.8239L23.5794 47.9954L23.5275 48.5601C23.4588 49.3624 23.6764 50.1632 24.1418 50.8204C24.5664 51.4332 25.1689 51.9008 25.8678 52.1601C26.5668 52.4193 27.3285 52.4577 28.05 52.27C28.3801 52.1822 28.6949 52.0445 28.9834 51.8617L44.1976 42.1633C44.57 41.9289 44.8894 41.6195 45.1356 41.2549C45.3817 40.8902 45.5492 40.4782 45.6274 40.0453C45.7054 39.6033 45.6946 39.1502 45.5957 38.7124C45.4967 38.2747 45.3116 37.861 45.051 37.4955C44.6264 36.8828 44.0239 36.4152 43.325 36.1557C42.6261 35.8963 41.8644 35.8576 41.1428 36.0448C40.8127 36.1326 40.498 36.2703 40.2094 36.4531L34.4036 40.1543C33.4481 40.7614 32.4056 41.2189 31.312 41.5112C28.9177 42.1336 26.39 42.0063 24.0703 41.1464C21.7506 40.2866 19.7507 38.7355 18.3406 36.7028C17.4749 35.4912 16.8599 34.119 16.5316 32.6665C16.2033 31.2141 16.1685 29.7107 16.429 28.2446C16.6876 26.8072 17.2433 25.4396 18.0606 24.2292C18.8779 23.0189 19.9389 21.9924 21.1755 21.2155L36.3916 11.5189C37.3468 10.911 38.3894 10.4529 39.4832 10.1603C41.8775 9.53796 44.4052 9.66531 46.7249 10.5252C49.0445 11.3851 51.0445 12.936 52.4546 14.9687C53.3202 16.1803 53.9351 17.5526 54.2634 19.005C54.5916 20.4575 54.6266 21.9608 54.3662 23.4269C54.2773 23.9081 54.1556 24.3827 54.0022 24.8473L53.7158 25.7223L52.9364 25.1512C51.137 23.8279 49.1248 22.8218 46.9865 22.1763L46.4207 22.0048L46.4732 21.4401C46.5417 20.6373 46.3243 19.8361 45.8595 19.178C45.4349 18.5653 44.8324 18.0977 44.1334 17.8384C43.4344 17.5792 42.6727 17.5408 41.9513 17.7284C41.6212 17.8162 41.3064 17.9539 41.0179 18.1367L25.7996 27.8357C25.4273 28.0699 25.1079 28.3792 24.862 28.7438C24.616 29.1084 24.4488 29.5203 24.371 29.9531C24.2926 30.3951 24.3031 30.8483 24.4018 31.2862C24.5006 31.7241 24.6856 32.1379 24.9462 32.5034C25.3709 33.1161 25.9734 33.5837 26.6723 33.8431C27.3712 34.1026 28.1328 34.1413 28.8544 33.9542C29.1845 33.8662 29.4992 33.7285 29.7878 33.5458L35.593 29.8464C36.548 29.2383 37.5907 28.7803 38.6846 28.4884C41.0789 27.866 43.6065 27.9933 45.9261 28.8532C48.2456 29.7131 50.2455 31.2641 51.6555 33.2968C52.5212 34.5083 53.1362 35.8806 53.4644 37.3331C53.7927 38.7855 53.8276 40.2889 53.567 41.755C53.309 43.1924 52.7539 44.5601 51.9373 45.7708C51.1207 46.9815 50.0606 48.0086 48.8246 48.7864L33.6085 58.4801C32.6534 59.0881 31.6108 59.5462 30.5169 59.8387Z"
      fill="white"></path>
  </svg>
  <span>Svelte</span>
</aside>
