---
import TechnologyStack from "./TechnologyStack.astro";
---

<section
  id="about"
  class="container mx-auto px-60 flex flex-col gap-6 max-xl:px-40 max-lg:px-10 max-md:px-5 max-md:gap-2"
>
  <h2
    class="w-full text-4xl uppercase font-black text-purple-600 dark:text-[#96F] max-lg:text-3xl max-md:text-2xl max-sm:sticky max-sm:top-4 max-sm:z-30 max-sm:text-xl max-sm:w-4/5 max-sm:text-left"
  >
    Sobre mí
  </h2>
  <div class="w-full flex flex-col gap-8 items-center">
    <section
      class="w-full flex flex-col gap-2 dark:text-[#F5F9FF]/60 text-[#0A0C10]/70 max-md:gap-2 max-sm:gap-1 max-sm:text-sm"
    >
      <p class="text-[#0A0C10]/70 dark:text-[#F5F9FF]/60">
        Comencé mi carrera de
        <a
          href="https://www.senati.edu.pe/especialidades/tecnologias-de-la-informacion/ingenieria-de-software-con-inteligencia-artificial"
          target="_blank"
          rel="noreferrer"
          class="text-opacity-100 text-[#0A0C10] dark:text-[#F5F9FF] hover:text-purple-600 focus-visible:text-[#90F] dark:hover:text-[#96F] transition-all dark:focus-visible:text-[#96F]"
        >
          Ingeniería de Software e Inteligencia Artifical
        </a> en
        <a
          href="https://www.senati.edu.pe/"
          target="_blank"
          rel="noreferrer"
          class="text-opacity-100 text-[#0A0C10] dark:text-[#F5F9FF] hover:text-purple-600 focus-visible:text-[#90F] dark:hover:text-[#96F] transition-all dark:focus-visible:text-[#96F]"
          >SENATI</a
        > , en el año 2021, donde aprendí los fundamentos de la programación y el
        desarrollo de software.
      </p>
      <p class="text-[#0A0C10] dark:text-[#F5F9FF]">
        Mi objetivo es crear productos que ofrezcan experiencias excepcionales,
        con un diseño atractivo, intuitivo y de alta calidad.
      </p>
      <p>
        Estoy siempre dispuesto a aprender nuevas tecnologías y a afrontar
        nuevos desafíos laborales que me permitan seguir creciendo
        profesionalmente.
      </p>
    </section>
    <div class="flex flex-col gap-4">
      <h3
        class="text-2xl uppercase font-bold text-purple-600 dark:text-[#96F] max-lg:text-xl max-md:text-lg max-sm:text-base"
      >
        Tecnologías
      </h3>
      <TechnologyStack />
    </div>
  </div>
</section>
