---
import Github from "../../contactIcons/Github.astro";
import Instagram from "../../contactIcons/Instagram.astro";
import LinkedIn from "../../contactIcons/LinkedIn.astro";
import Gmail from "../../contactIcons/Mail.astro";
import Twitter from "../../contactIcons/Twitter.astro";
import TechnologyStack from "./TechnologyStack.astro";
import Experience from "./experience/Experience.astro";
---

<section
  id="about"
  class="lg:container lg:mx-auto w-full flex gap-4 flex-col py-10 px-3 lg:px-10 md:py-8"
>
  <h2
    class="w-full text-4xl md:text-[2.5rem] uppercase font-black text-purple-700 dark:text-purple-600 mb-10"
  >
    Sobre mí
  </h2>
  <div class="w-full grid grid-cols-1 sm:grid-cols-2 gap-10">
    <section>
      <div class="grid grid-cols-2 sm:grid-cols-4 gap-4">
        <aside class="flex flex-col items-center gap-2 text-center">
          <span class="text-4xl font-black">20</span>
          <span class="text-sm font-semibold text-zinc-950 dark:text-gray-600"
            >Años de edad</span
          >
        </aside>
        <aside class="flex flex-col items-center gap-2 text-center">
          <span class="text-4xl font-black">1+</span>
          <span class="text-sm font-semibold text-zinc-950 dark:text-gray-600"
            >Años desarrollador web</span
          >
        </aside>
        <aside class="flex flex-col items-center gap-2 text-center">
          <span class="text-4xl font-black">3</span>
          <span class="text-sm font-semibold text-zinc-950 dark:text-gray-600"
            >Gato Increible</span
          >
        </aside>
        <aside class="flex flex-col items-center gap-2 text-center">
          <span class="text-4xl font-black">4000</span>
          <span class="text-sm font-semibold text-zinc-950 dark:text-gray-600"
            >Commits</span
          >
        </aside>
      </div>
      <div
        class="flex flex-wrap justify-center gap-2 mt-10 [&>a]:bg-purple-300/50 dark:[&>a]:bg-purple-950/30 [&>a]:rounded-full [&>a]:p-3 [&>a>svg]:w-8 [&>a>svg]:h-8 [&>a]:w-14 [&>a]:h-14"
      >
        <Gmail />
        <LinkedIn />
        <Github hyperlink='https://github.com/ypnqh"' />
        <Instagram />
        <Twitter />
      </div>
    </section>
    <section
      class="flex flex-col gap-4 dark:text-[#F5F9FF]/60 text-[#0A0C10]/70 max-sm:text-sm mb-8"
    >
      <p>
        Desarrollador web, con tecnologías React, Tailwind CSS, Go. para crear
        hermosas experiencias de usuario y desarrollador que traigan placer.
      </p>
      <p class="text-[#0A0C10] dark:text-[#F5F9FF]">
        Mi objetivo es crear productos que ofrezcan experiencias excepcionales,
        con un diseño atractivo, intuitivo y de alta calidad.
      </p>
      <p>
        Estoy siempre dispuesto a aprender nuevas tecnologías y a afrontar
        nuevos desafíos laborales que me permitan seguir creciendo
        profesionalmente.
      </p>
      <p>La mayor parte de eso sigue siendo cierto hoy en día.</p>
    </section>
  </div>
  <div class="flex flex-col gap-4 mt-7">
    <h3
      class="text-2xl md:text-3xl font-bold text-purple-700 dark:text-purple-600"
    >
      Tecnologías
    </h3>
    <TechnologyStack />
  </div>
  <div class="flex flex-col gap-2 mt-7">
    <h3
      class="text-2xl md:text-3xl font-bold text-purple-700 dark:text-purple-600"
    >
      Experiencia
    </h3>
    <Experience />
  </div>
</section>

<style>
  aside > span:first-child {
    background-image: linear-gradient(45deg, #a855f7, #8200fc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
</style>
