---
import Astrojs from "./stack/Astrojs.astro";
import CSS from "./stack/CSS.astro";
import Docker from "./stack/Docker.astro";
import Fiber from "./stack/Fiber.astro";
import Figma from "./stack/Figma.astro";
import Git from "./stack/Git.astro";
import Go from "./stack/Go.astro";
import HTML from "./stack/HTML.astro";
import JavaScript from "./stack/JavaScript.astro";
import MongoDB from "./stack/MongoDB.astro";
import MySQL from "./stack/MySQL.astro";
import Nextjs from "./stack/Nextjs.astro";
import Nodejs from "./stack/Nodejs.astro";
import PNPM from "./stack/PNPM.astro";
import PostgresSQL from "./stack/PostgresSQL.astro";
import React from "./stack/React.astro";
import Supabase from "./stack/Supabase.astro";
import Svelte from "./stack/Svelte.astro";
import TailwindCSS from "./stack/TailwindCSS.astro";
import TypeScript from "./stack/TypeScript.astro";
import Vitejs from "./stack/Vitejs.astro";
---

<section
  class="w-full flex flex-wrap gap-4 justify-between font-medium mt-5 [&>aside]:w-28 [&>aside]:flex [&>aside]:flex-col [&>aside]:gap-2 [&>aside]:items-center [&>aside]:p-2 [&>aside]:text-center max-sm:[&>aside]:w-24 max-sm:[&>aside]:text-xs max-sm:[&>aside>svg]:w-14"
>
  <Go />
  <TypeScript />
  <JavaScript />
  <Nodejs />
  <HTML />
  <CSS />
  <Fiber />
  <React />
  <Svelte />
  <Nextjs />
  <Astrojs />
  <TailwindCSS />
  <Vitejs />
  <MongoDB />
  <MySQL />
  <PostgresSQL />
  <Supabase />
  <Docker />
  <Git />
  <PNPM />
  <Figma />
  <aside class="max-xl:hidden"></aside>
  <aside class="max-xl:hidden"></aside>
  <aside class="max-xl:hidden"></aside>
</section>
