---
import TailwindCSS from "../../tags/TailwindCSS.astro";
import Astrojs from "../../tags/Astrojs.astro";
import Portfolio from "/public/portfolio.webp";
import Github from "../../contactIcons/Github.astro";
---

<section
  id="proyect"
  class="container mx-auto px-60 flex flex-col gap-6 max-xl:px-40 max-lg:px-10 max-md:px-5 max-md:gap-2"
>
  <h2
    class="w-full text-4xl uppercase font-black text-purple-600 dark:text-[#96F] max-lg:text-3xl max-md:text-2xl max-sm:sticky max-sm:top-4 max-sm:z-30 max-sm:text-xl max-sm:w-4/5 max-sm:text-left"
  >
    Proyectos
  </h2>
  <div class="w-full flex gap-4 max-sm:flex-col">
    <article
      class="w-full flex items-center justify-center gap-1 p-2 py-4 transition-all rounded-lg border-1 shadow-[0_0px_20px_0px_#CFD9E4] hover:shadow-[0_0px_20px_0px_#CFD9E4] dark:border-[#172554] dark:shadow-[0_0px_5px_0px_#172554] hover:bg-blue-200 dark:hover:bg-blue-950 max-md:flex-col max-md:w-1/2 max-sm:w-full max-sm:gap-6"
    >
      <section class="w-1/2 max-md:w-full rounded-md">
        <img
          class="w-[600px] h-auto rounded-md"
          src={Portfolio}
          alt="Portfolio"
        />
      </section>
      <section class="w-full flex gap-4 max-md:justify-center">
        <div
          class="text-[#0A0C10] dark:text-[#F5F9FF] max-md:w-full max-md:flex max-md:flex-col"
        >
          <aside
            class="w-full flex items-center justify-between max-md:justify-evenly"
          >
            <div class="flex items-center gap-1">
              <span class="font-bold text-base">Mi portafolio</span>
              <span
                class="font-normal text-xs p-1 text-[#F5F9FF] rounded bg-[#113B73]"
              >
                Reciente
              </span>
            </div>
            <div class="flex gap-2 [&>a>svg]:w-5 items-center justify-center">
              <a
                class="rotate-180"
                href="https://ypnq.fly.dev/"
                target="_blank"
                rel="noreferrer"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="stroke-[#0A0C10] dark:stroke-[#F5F9FF] hover:stroke-purple-600 hover:scale-125 dark:hover:stroke-purple-600 transition-all duration-500 focus-visible:text-[#96F]"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M17 7l-10 10"></path>
                  <path d="M16 17l-9 0l0 -9"></path>
                </svg>
              </a>
              <Github hyperlink="https://github.com/ypnqh/portfolio" />
            </div>
          </aside>
          <aside class="py-2 max-md:flex max-md:flex-col max-md:items-center">
            <p
              class="text-sm text-gray-700 dark:text-gray-400 max-md:text-center"
            >
              Primer sitio de portafolio construido con Astro y TailwindCSS.
            </p>
            <section class="py-2 flex gap-2">
              <Astrojs />
              <TailwindCSS />
            </section>
          </aside>
        </div>
      </section>
    </article>
    <article
      class="w-full flex items-center justify-center gap-1 px-2 py-4 cursor-pointer border-2 rounded-md text-[#0A0C10] border-[#CFD9E4] shadow-[0_0px_20px_0px_#CFD9E4] hover:shadow-[0_0px_20px_0px_#CFD9E4] dark:text-[#F5F9FF] dark:border-[#08152C] dark:shadow-[0_0px_10px_0px_#08152C] dark:hover:shadow-[0_0px_20px_0px_#08152C] hover:text-opacity-100 max-md:flex-col max-md:w-1/2 max-sm:w-full opacity-0 max-sm:hidden"
    >
      <section class="w-1/2">
        <img class="w-96 h-auto" src={Portfolio} alt="Portfolio" />
      </section>
      <section class="w-full flex gap-4 max-md:justify-center">
        <div class="text-[#F5F9FF] max-md:w-full max-md:flex max-md:flex-col">
          <aside
            class="w-full flex items-center justify-between max-md:justify-evenly"
          >
            <div class="flex items-center gap-1">
              <span class="font-bold text-base">Mi portafolio</span>
              <span class="font-normal text-xs p-1 rounded bg-[#113B73]">
                Reciente
              </span>
            </div>
            <div class="flex gap-2">
              <a
                class="rotate-180 text-[#F5F9FF] opacity-60"
                href="https://ypnq.fly.dev/"
                target="_blank"
                rel="noreferrer"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="icon icon-tabler icon-tabler-arrow-down-left stroke-[#F5F9FF] dark:stroke-[#F5F9FF] hover:text-[#96F] transition-all focus-visible:text-[#96F]"
                  width="20"
                  height="20"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M17 7l-10 10"></path>
                  <path d="M16 17l-9 0l0 -9"></path>
                </svg>
              </a>
              <a
                href="https://github.com/ypnqh/portfolio"
                target="_blank"
                rel="noreferrer"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="icon icon-tabler icon-tabler-brand-github stroke-[#F5F9FF] dark:stroke-[#F5F9FF] hover:text-[#96F] transition-all focus-visible:text-[#96F]"
                  width="20"
                  height="20"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path
                    d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5"
                  ></path>
                </svg>
              </a>
            </div>
          </aside>
          <aside class="py-2 max-md:flex max-md:flex-col max-md:items-center">
            <p class="text-sm text-gray-400 max-md:text-center">
              Primer sitio de portafolio construido con Astro y TailwindCSS.
            </p>
            <section class="py-2 flex gap-2">
              <Astrojs />
              <TailwindCSS />
            </section>
          </aside>
        </div>
      </section>
    </article>
  </div>
</section>

<style>
  p {
    text-wrap: balance;
  }
</style>
