---
import Portfolio from "/public/portfolio.webp";
---

<section
  id="experience"
  class="w-full h-auto mx-auto container px-10 flex flex-col justify-between gap-8"
>
  <h2 class="text-5xl px-10 font-bold font-Raleway text-[#96F]">Proyectos</h2>
  <div class="w-full flex justify-between gap-8 px-10">
    <article
      class="w-full flex items-center justify-center gap-1 cursor-pointer border-2 rounded-md text-[#0A0C10] border-[#CFD9E4] shadow-[0_0px_20px_0px_#CFD9E4] hover:shadow-[0_0px_20px_0px_#CFD9E4] dark:text-[#F5F9FF] dark:border-[#08152C] dark:shadow-[0_0px_10px_0px_#08152C] dark:hover:shadow-[0_0px_20px_0px_#08152C] hover:text-opacity-100 hover:opacity-100"
    >
      <section class="w-full flex gap-2 items-center text-[#F5F9FF]">
        <img class="w-64" src={Portfolio} alt="Portfolio" />
      </section>
      <section class="w-full flex gap-4">
        <div class="text-[#F5F9FF]">
          <h4 class="w-full flex items-center gap-2">
            <div class="flex items-center gap-2">
              <span class="font-bold text-lg">Mi portafolio</span>
              <span class="font-normal text-xs p-1 rounded bg-[#113B73]">
                Reciente
              </span>
            </div>
            <span class="rotate-180 text-[#F5F9FF] opacity-60">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-arrow-down-left"
                width="20"
                height="20"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M17 7l-10 10"></path>
                <path d="M16 17l-9 0l0 -9"></path>
              </svg>
            </span>
          </h4>

          <aside class="py-2">
            <p class="text-sm text-gray-400">
              Primer sitio de portafolio construido con Astro y TailwindCSS.
            </p>
            <section class="py-2 flex gap-2">
              <span
                class="font-bold text-[#F5F9FF] bg-[#FF5A03] rounded-[10px] px-3 py-1 text-xs"
                >Astro</span
              >
              <span
                class="font-bold text-[#0A0C10] bg-[#38BDF8] rounded-[10px] px-3 py-1 text-xs"
                >TailwindCSS</span
              >
            </section>
          </aside>
        </div>
      </section>
    </article>
    <article class="w-full px-10 flex flex-col justify-center gap-1">
      <section class="flex gap-2 items-center text-[#F5F9FF]">
        <div
          class="w-10 h-10 flex justify-center items-center bg-[#113B73] rounded-full"
        >
          <svg
            class="opacity-70"
            width="18"
            height="20"
            viewBox="0 0 18 20"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M13 1V5M5 1V5M1 9H17M1 5C1 4.46957 1.21071 3.96086 1.58579 3.58579C1.96086 3.21071 2.46957 3 3 3H15C15.5304 3 16.0391 3.21071 16.4142 3.58579C16.7893 3.96086 17 4.46957 17 5V17C17 17.5304 16.7893 18.0391 16.4142 18.4142C16.0391 18.7893 15.5304 19 15 19H3C2.46957 19 1.96086 18.7893 1.58579 18.4142C1.21071 18.0391 1 17.5304 1 17V5ZM5 13H7V15H5V13Z"
              stroke="#F5F9FF"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
          </svg>
        </div>
        <section class="w-full flex justify-between items-center">
          <h4
            class="font-bold text-base flex justify-center items-center gap-2"
          >
            Desarrollador FrontEnd <span
              class="font-normal text-xs p-1 rounded bg-[#113B73]">Current</span
            >
          </h4>
          <h4 class="font-bold text-base">Zoftinium</h4>
        </section>
      </section>
      <section class="flex gap-4">
        <div class="w-10 h-auto flex justify-center pr-2 pl-4">
          <span class="w-[2px] h-auto bg-gray-700 rounded-lg"></span>
        </div>
        <div class="">
          <p class="text-sm text-gray-500 py-2">Started on February, 2023</p>
          <aside class="py-2">
            <p class="text-sm text-gray-400">
              Create new functionalities, screens and behaviors, based on the
              predefined design for each project. Develop the requested
              components within the established environments, ensuring the
              customer's intended use of the solution.
            </p>
            <section class="py-2 flex gap-2">
              <span
                class="font-bold text-[#0A0C10] bg-[#FFCA28] rounded-[10px] px-3 py-1 text-xs"
                >JavaScript</span
              >
              <span
                class="font-bold text-[#F5F9FF] bg-[#3178C6] rounded-[10px] px-3 py-1 text-xs"
                >TypeScript</span
              >
            </section>
          </aside>
        </div>
      </section>
    </article>
  </div>
</section>

<style>
  p {
    text-wrap: balance;
  }
</style>
