---
import { Image } from "astro:assets";
import { IconArrowUpRight, IconBrandGithub, IconLink } from "../../icons/Icons";
import Astrojs from "../../tags/Astrojs.astro";
import TailwindCSS from "../../tags/TailwindCSS.astro";
import TypeScript from "../../tags/TypeScript.astro";
import Portfolio from "/public/portfolio.webp";
---

<section
  id="proyect"
  class="lg:container lg:mx-auto w-full flex gap-4 flex-col py-10 px-3 lg:px-10 md:py-8"
>
  <aside class="mb-8">
    <h2 class="w-full text-3xl font-black text-sky-500 mb-4">Proyectos</h2>
    <p class="text-zinc-200 font-light">Revisa mi trabajo.</p>
  </aside>
  <div class="w-full grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
    <article
      class="w-full flex items-center justify-center gap-1 p-4 rounded-lg border-2 flex-col snap-start border-gray-700/30 bg-clip-padding shadow-xl transition-[min-width,width,margin-left,opacity] duration-300 spacing-0 dark:border-white/20 sm:rotate-[1.5deg] bg-[linear-gradient(40deg,var(--tw-gradient-stops))] from-pink-300/80 to-violet-500/40 shadow-violet-500/20"
    >
      <section
        class="w-auto h-90 rounded-md object-cover object-center [mask-image:linear-gradient(180deg,#fff_16.35%,rgb(255_255_255_/_0%)_91.66%)]"
      >
        <Image
          class="w-full h-90 rounded-md"
          loading="lazy"
          src={Portfolio}
          alt="Portfolio de Humberto Yupanqui Apaza"
        />
      </section>
      <section class="w-full flex gap-4 justify-center">
        <div class="text-[#F5F9FF]">
          <aside class="w-auto flex items-center justify-between">
            <div class="flex items-center gap-2">
              <span class="font-bold text-lg">Mi portafolio</span>
              <span
                class="font-light text-xs p-1 text-[#F5F9FF] rounded bg-[#113B73]"
              >
                Reciente
              </span>
            </div>
            <div class="flex gap-2 [&>a>svg]:w-5 items-center justify-center">
              <a
                class="rotate-180"
                href="https://ypnq.fly.dev/"
                target="_blank"
                rel="noreferrer"
              >
                <IconArrowUpRight />
              </a>
            </div>
          </aside>
          <aside class="py-2">
            <p class="text-sm text-gray-700 dark:text-zinc-50 my-3">
              Primer sitio de portafolio construido con Astro,Tailwind CSS y
              React.
            </p>
            <section class="py-2 flex flex-wrap gap-2 mb-3">
              <Astrojs />
              <TailwindCSS />
              <TypeScript />
            </section>
            <section class="w-full flex justify-between">
              <p class="font-light text-sm">2023</p>
              <div class="flex gap-2">
                <a href="https://github.com/ypnqh/portfolio">
                  <IconBrandGithub />
                </a>
                <a href="https://ypnq.fly.dev/">
                  <IconLink />
                </a>
              </div>
            </section>
          </aside>
        </div>
      </section>
    </article>
  </div>
</section>
