---
import Portfolio from "/public/portfolio.webp";
---

<section
  id="proyect"
  class="w-full h-auto mx-auto container px-10 flex flex-col justify-between gap-8"
>
  <h2 class="text-5xl px-10 font-bold text-[#96F]">Proyectos</h2>
  <div class="w-full flex justify-between gap-8 px-10">
    <article
      class="w-full flex items-center justify-center gap-1 px-2 py-4 cursor-pointer border-2 rounded-md text-[#0A0C10] border-[#CFD9E4] shadow-[0_0px_20px_0px_#CFD9E4] hover:shadow-[0_0px_20px_0px_#CFD9E4] dark:text-[#F5F9FF] dark:border-[#08152C] dark:shadow-[0_0px_10px_0px_#08152C] dark:hover:shadow-[0_0px_20px_0px_#08152C] hover:text-opacity-100 hover:opacity-100"
    >
      <section class="w-full flex gap-2 items-center text-[#F5F9FF]">
        <img class="w-64" src={Portfolio} alt="Portfolio" />
      </section>
      <section class="w-full flex gap-4">
        <div class="text-[#F5F9FF]">
          <h4 class="w-full flex items-center gap-2">
            <div class="flex items-center gap-2">
              <span class="font-bold text-lg">Mi portafolio</span>
              <span class="font-normal text-xs p-1 rounded bg-[#113B73]">
                Reciente
              </span>
            </div>
            <span class="rotate-180 text-[#F5F9FF] opacity-60">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-arrow-down-left"
                width="20"
                height="20"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M17 7l-10 10"></path>
                <path d="M16 17l-9 0l0 -9"></path>
              </svg>
            </span>
          </h4>
          <aside class="py-2">
            <p class="text-sm text-gray-400">
              Primer sitio de portafolio construido con Astro y TailwindCSS.
            </p>
            <section class="py-2 flex gap-2">
              <span
                class="font-bold text-[#F5F9FF] bg-[#FF5A03] rounded-[10px] px-3 py-1 text-xs"
                >Astro</span
              >
              <span
                class="font-bold text-[#0A0C10] bg-[#38BDF8] rounded-[10px] px-3 py-1 text-xs"
                >TailwindCSS</span
              >
            </section>
          </aside>
        </div>
      </section>
    </article>
    <article
      class="w-full flex items-center justify-center gap-1 px-2 py-4 cursor-pointer border-2 rounded-md text-[#0A0C10] border-[#CFD9E4] shadow-[0_0px_20px_0px_#CFD9E4] hover:shadow-[0_0px_20px_0px_#CFD9E4] dark:text-[#F5F9FF] dark:border-[#08152C] dark:shadow-[0_0px_10px_0px_#08152C] dark:hover:shadow-[0_0px_20px_0px_#08152C] hover:text-opacity-100 hover:opacity-100"
    >
      <section class="w-full flex gap-2 items-center text-[#F5F9FF]">
        <img class="w-64" src={Portfolio} alt="Portfolio" />
      </section>
      <section class="w-full flex gap-4">
        <div class="text-[#F5F9FF]">
          <h4 class="w-full flex items-center gap-2">
            <div class="flex items-center gap-2">
              <span class="font-bold text-lg">Mi portafolio</span>
              <span class="font-normal text-xs p-1 rounded bg-[#113B73]">
                Reciente
              </span>
            </div>
            <span class="rotate-180 text-[#F5F9FF] opacity-60">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-arrow-down-left"
                width="20"
                height="20"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M17 7l-10 10"></path>
                <path d="M16 17l-9 0l0 -9"></path>
              </svg>
            </span>
          </h4>
          <aside class="py-2">
            <p class="text-sm text-gray-400">
              Primer sitio de portafolio construido con Astro y TailwindCSS.
            </p>
            <section class="py-2 flex gap-2">
              <span
                class="font-bold text-[#F5F9FF] bg-[#FF5A03] rounded-[10px] px-3 py-1 text-xs"
                >Astro</span
              >
              <span
                class="font-bold text-[#0A0C10] bg-[#38BDF8] rounded-[10px] px-3 py-1 text-xs"
                >TailwindCSS</span
              >
            </section>
          </aside>
        </div>
      </section>
    </article>
  </div>
</section>

<style>
  p {
    text-wrap: balance;
  }
</style>
