<article class="sm:scrollbar-none overflow-auto">
  <pre
    class="text-sm language-go"
    tabindex="-1">
<code class="language-go" data-selected-index="0">
<span class="text-gray-500 font-bold text-xs">1</span> <span class="text-fuchsia-500 italic">package</span> <span class="text-orange-300"> main</span>
<span class="text-gray-500 font-bold text-xs">2</span>
<span class="text-gray-500 font-bold text-xs">3</span> <span class="text-fuchsia-500 italic">import</span> <span class="text-orange-400 font-bold text-sm"> (</span>
<span class="text-gray-500 font-bold text-xs">4</span>    <span class="text-green-400">"fmt"</span>
<span class="text-gray-500 font-bold text-xs">5</span> <span class="text-orange-400 font-bold text-sm">)</span>
<span class="text-gray-500 font-bold text-xs">6</span> <span class="text-fuchsia-500 italic">type</span> <span class="text-orange-300 font-bold">WelcomeProps</span> <span class="text-fuchsia-500 italic">struct</span> <span class="text-orange-400 font-bold text-sm">{'{'}</span>
<span class="text-gray-500 font-bold text-xs">7</span>    <span class="text-gray-300">uses</span> <span class="text-fuchsia-500 italic">string</span>
<span class="text-gray-500 font-bold text-xs">8</span> <span class="text-orange-400 font-bold ">{'}'}</span>
<span class="text-gray-500 font-bold text-xs">9</span>
<span class="text-gray-500 font-bold text-xs">10</span> <span class="text-fuchsia-500">func</span> <span class="text-orange-400 font-bold">(</span><span class="text-gray-300">props WelcomeProps</span><span class="text-orange-400 font-bold">)</span> <span class="text-orange-400 font-bold">{'{'}</span>
<span class="text-gray-500 font-bold text-xs">11</span>   <span class="text-gray-300">fmt.</span><span class="text-cyan-400">Println</span><span class="text-orange-400 font-bold">(</span><span class="text-green-400">"This is my little slice of the internet."</span><span class="text-orange-400 font-bold">)</span>
<span class="text-gray-500 font-bold text-xs">12</span>   <span class="text-gray-300">fmt.</span><span class="text-cyan-400">Println</span><span class="text-orange-400 font-bold">(</span><span class="text-green-400">"I use this site to"</span><span class="text-gray-300">, props.uses</span><span class="text-orange-400 font-bold">)</span>
<span class="text-gray-500 font-bold text-xs">13</span> <span class="text-orange-400 font-bold">{'}'}</span>
<span class="text-gray-500 font-bold text-xs">14</span>
<span class="text-gray-500 font-bold text-xs">15</span> <span class="text-fuchsia-500">func</span> <span class="text-sky-400 font-bold">main</span><span class="text-orange-400 font-bold">()</span> <span class="text-orange-400 font-bold">{'{'}</span>
<span class="text-gray-500 font-bold text-xs">16</span>   <span class="text-cyan-400">Welcome</span><span class="text-orange-400 font-bold">(</span><span class="text-gray-300">WelcomeProps</span><span class="text-orange-400 font-bold">{'{'}</span><span class="text-gray-300">uses:</span> <span class="text-green-400">"Explore new tech"</span><span class="text-orange-400 font-bold">{'}'}</span><span class="text-orange-400 font-bold">)</span>
<span class="text-gray-500 font-bold text-xs">17</span>   <span class="text-cyan-400">Welcome</span><span class="text-orange-400 font-bold">(</span><span class="text-gray-300">WelcomeProps</span><span class="text-orange-400 font-bold">{'{'}</span><span class="text-gray-300">uses:</span> <span class="text-green-400">"Display my skills"</span><span class="text-orange-400 font-bold">{'}'}</span><span class="text-orange-400 font-bold">)</span>
<span class="text-gray-500 font-bold text-xs">18</span>   <span class="text-cyan-400">Welcome</span><span class="text-orange-400 font-bold">(</span><span class="text-gray-300">WelcomeProps</span><span class="text-orange-400 font-bold">{"{"}</span><span class="text-gray-300">uses:</span> <span class="text-green-400">"Find freelancing opportunities"</span><span class="text-orange-400 font-bold">{"}"}</span><span class="text-orange-400 font-bold">)</span>
<span class="text-gray-500 font-bold text-xs">19</span>   <span class="text-cyan-400">Welcome</span><span class="text-orange-400 font-bold">(</span><span class="text-gray-300">WelcomeProps</span><span class="text-orange-400 font-bold">{"{"}</span><span class="text-gray-300">uses:</span> <span class="text-green-400">"Find a fulltime job"</span><span class="text-orange-400 font-bold">{"}"}</span><span class="text-orange-400 font-bold">)</span>
<span class="text-gray-500 font-bold text-xs">20</span> <span class="text-orange-400 font-bold">{"}"}</span>
<span class="text-gray-500 font-bold text-xs">21</span>
</code>
</pre>
</article>
