---
import IconStar from "@/icons/IconStar.astro";
import IconBrandGithub from "@/icons/IconBrandGithub.astro";
import IconBrandInstagram from "@/icons/IconBrandInstagram.astro";
import IconBrandx from "@/icons/IconBrandx.astro";
import ContactInfo from "../../ContactInfo.astro";
import IconMail from "../../icons/IconMail.astro";
import Hobbies from "../../Hobbies.astro";
import Tooltip from "../../Tooltip.astro";
import Button from "../../buttons/Button.astro";
import Xcard from "./Xcard.astro";
import IconBrandLinkedin from "@/icons/IconBrandLinkedin.astro";
---

<section
  id="home"
  class="min-h-screen justify-center items-center flex gap-5 flex-col md:flex-row xl:gap-10"
>
  <div class="w-auto flex flex-col gap-8">
    <section class="flex flex-col gap-4 md:gap-6">
      <span
        class="text-emerald-400 text-base font-light drop-shadow-[0_0_6px_rgb(52,211,153,0.6)]"
      >
        ¡Bienvenido a mi sitio!
      </span>
      <h1 class="text-5xl lg:text-6xl font-black text-zinc-300">
        Hola, soy<span
          class="font-black bg-gradient-to-r to-sky-400 from-emerald-500 bg-clip-text text-transparent drop-shadow-[0_0_2px_rgb(52,211,153,0.6)]"
        >
          Humberto Yupanqui Apaza</span
        >, desarrollador Fullstack
      </h1>
      <article class="text-zinc-400 text-base font-light flex flex-col gap-3">
        <p>
          Me encanta escribir código que lleva las cosas al siguiente nivel
          creando sitios web de alto rendimiento, integraciones de API
          automatizadas, creando mis propias herramientas de desarrollo y
          creando experiencias de usuario impresionantes que te hacen sentir
          <span class="text-sky-400">¡GUAU!</span>.
        </p>
        <p>
          Siempre estoy interesado en aprender y explorar nuevas tecnologías,
          marcos y lenguajes de programación. Actualmente, estoy aprendiendo
          sobre Astro y Svelte.
        </p>
      </article>
    </section>
    <section class="w-auto flex gap-8 items-center flex-wrap">
      <Button
        buttonName="Descargar CV"
        href="/resume.pdf"
        rel="noopener noreferrer"
        target="_blank"
        className="download"
      >
        <svg
          slot="icon"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
          ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
            d="M4 17v2a2 2 0 0 0 2 2h12a2 2 0 0 0 2 -2v-2"></path><path
            d="M7 11l5 5l5 -5"></path><path d="M12 4l0 12"></path>
        </svg>
      </Button>
      <Button
        className="contact contact-home"
        buttonName="¡A trabajar!"
        href="mailto:hyupanquia24@gmail.com"
      />
    </section>
  </div>
  <div class="w-full flex flex-col items-center gap-5 sm:w-auto relative">
    <Hobbies />
    <Xcard />
    <ul class="contact-details-list">
      <ContactInfo
        className="hover:bg-yellow-500 hover:border-yellow-600"
        href="https://github.com/ypnqh/portfolio/stargazers"
      >
        <IconStar />
        <Tooltip name="Una estrella en GitHub" />
      </ContactInfo>
      <ContactInfo href="https://github.com/yupanquidev">
        <IconBrandGithub />
        <Tooltip name="GitHub" />
      </ContactInfo>
      <ContactInfo href="mailto:hyupanquia24@gmail.com">
        <IconMail />
        <Tooltip name="Email" />
      </ContactInfo>
      <ContactInfo href="https://linkedin.com/in/yupanquidev">
        <IconBrandLinkedin />
        <Tooltip name="LinkedIn" />
      </ContactInfo>
      <ContactInfo href="https://instagram.com/yupanquidev">
        <IconBrandInstagram />
        <Tooltip name="Instagram" />
      </ContactInfo>
      <ContactInfo href="https://x.com/yupanquidev">
        <IconBrandx />
        <Tooltip name="X" />
      </ContactInfo>
    </ul>
  </div>
</section>

<style is:inline>
  h1 {
    text-wrap: balance;
  }

  .contact-details-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-top: 16px;
  }

  aside > a > svg {
    transform: scaleX(1.05) scaleY(1.05);
    transition: all 0.3s ease-in-out;

    view-timeline-name: --image;
    view-timeline-axis: block;

    animation-timeline: --image;
    animation-name: show;

    animation-range: entry 0% cover 50%;
    animation-fill-mode: both;
  }

  @keyframes show {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  .download-cv > svg path {
    transition: all 0.3s;
  }

  .download-cv:hover > svg path:nth-child(2) {
    d: path("M4 18v2a2 2 0 0 0 2 2h12a2 2 0 0 0 2 -2v-2");
  }

  .download-cv:hover > svg path:nth-child(3) {
    d: path("M7 9l5 5l5 -5");
  }

  .download-cv:hover > svg path:last-child {
    d: path("M12 2l0 12");
  }
</style>
