---
import ButtonContact from "../../ButtonContact.astro";
import Hobbies from "../../Hobbies.astro";
import StarGithub from "../../StarGithub.astro";
import ToggleSwitch from "../../ToggleSwitch.astro";
import ButtonDownloadCV from "../../buttons/ButtonDownloadCV.astro";
import CardHome from "./CardHome.astro";
---

<section
  id="home"
  class="lg:container lg:mx-auto w-full flex gap-10 flex-col py-6 px-3 lg:px-10 md:py-8 lg:flex-row"
>
  <div class="w-auto flex flex-col gap-8">
    <div class="flex flex-col gap-4 md:gap-6">
      <span class="text-sky-400 text-base md:text-lg font-semibold">
        ¡Bienvenido a mi sitio!
      </span>
      <h1 class="lg:text-6xl font-black text-zinc-100 md:text-5xl text-4xl">
        Hola, soy<span
          class="font-black bg-gradient-to-r from-sky-600 to-purple-900 bg-clip-text text-transparent"
        >
          Humberto Yupanqui Apaza</span
        >, desarrollador Fullstack
      </h1>
      <p
        class="text-[#F5F9FF] text-base font-light opacity-70 flex flex-col gap-3"
      >
        <span>
          Me encanta escribir código que lleva las cosas al siguiente nivel
          creando sitios web de alto rendimiento, integraciones de API
          automatizadas, creando mis propias herramientas de desarrollo y
          creando experiencias de usuario impresionantes que te hacen sentir
          ¡GUAU!.
        </span>
        <span>
          Siempre estoy interesado en aprender y explorar nuevas tecnologías,
          marcos y lenguajes de programación. Actualmente, estoy aprendiendo
          sobre Astro y Svelte.
        </span>
      </p>
    </div>
    <section class="w-auto flex gap-8 items-center flex-wrap">
      <ButtonDownloadCV />
      <ButtonContact style="bg-zinc-800 text-zinc-100 hover:bg-zinc-900/80" />
    </section>
  </div>
  <div class="w-full flex flex-col items-center gap-5 pt-4 sm:w-auto relative">
    <Hobbies />
    <CardHome />
    <aside class="flex gap-4 items-center justify-center mt-4">
      <StarGithub />
      <ToggleSwitch />
    </aside>
  </div>
</section>

<style>
  h1 {
    text-wrap: balance;
  }
</style>
