---
import {
  IconBrandThreads,
  IconHeart,
  IconMessageCircle,
  IconSend,
} from "../../icons/Icons";
---

<article class="w-96 bg-[#f3f5f7] dark:bg-[#181818] p-4 rounded-2xl flex gap-3">
  <aside class="w-10 h-auto flex flex-col justify-between items-center gap-2">
    <picture class="w-10">
      <img
        class="w-10 h-10 rounded-full"
        src="https://pbs.twimg.com/profile_images/1685076669432758274/P2SW5cdz_200x200.jpg"
        loading="lazy"
        alt="Avatar de Humberto Yupanqui Apaza"
      />
    </picture>
    <span class="h-full w-[3px] rounded-full bg-[#333]"></span>
    <picture class="w-7">
      <img
        class="w-7 h-7 rounded-full"
        src="https://pbs.twimg.com/profile_images/1685076669432758274/P2SW5cdz_200x200.jpg"
        loading="lazy"
        alt="Avatar de Humberto Yupanqui Apaza"
      />
    </picture>
  </aside>
  <aside class="flex flex-col gap-4">
    <header class="flex gap-3">
      <section class="w-full flex justify-between items-center">
        <div>
          <h1
            class="font-bold text-[15px] text-[#181818] dark:text-[#f3f5f7] line-clamp-1"
          >
            Humberto Yupanqui Apaza
          </h1>
          <p class="text-[#71767B] text-[15px] hidden">@ypnqh_</p>
        </div>
        <IconBrandThreads />
      </section>
    </header>
    <main class="flex flex-col gap-3 text-[#181818] dark:text-[#f3f5f7]">
      <p class="line-clamp-4 text-sm">
        Hola, soy nuevo en Twitter y no me gustan mucho las redes sociales 🙃
        Estoy buscando conectarme con otros desarrolladores y aprender sobre lo
        último en desarrollo web 🤗.
      </p>
      <div class="flex gap-2">
        <IconHeart />
        <IconMessageCircle />
        <IconSend />
      </div>
    </main>
    <footer class="flex gap-2 text-sm items-center">
      <aside class="flex gap-1">
        <p class="text-[#181818] dark:text-[#f3f5f7] font-light">4</p><span
          class="text-[#71767b]">Respuestas</span
        >
      </aside>
      <span class="w-1 h-1 rounded-full bg-[#71767b]"></span>
      <aside class="flex gap-1">
        <p class="text-[#181818] dark:text-[#f3f5f7] font-light">414</p><span
          class="text-[#71767b]">Me gusta</span
        >
      </aside>
    </footer>
  </aside>
</article>
