<article
  class="w-full bg-[#16181C] sm:w-80 lg:w-96 border-2 border-zinc-700 p-4 rounded-2xl flex flex-col gap-4 motion"
>
  <header class="w-full flex gap-3">
    <img
      class="w-10 h-10 rounded-full avatar"
      src="https://pbs.twimg.com/profile_images/1685076669432758274/P2SW5cdz_200x200.jpg"
      loading="lazy"
      alt="Avatar de Humberto Yupanqui Apaza"
    />
    <section class="w-full flex justify-between items-center">
      <div>
        <h5 class="font-bold text-[15px] text-[#E7E9EA] line-clamp-1">
          Humberto Yupanqui Apaza
        </h5>
        <p class="text-[#71767B] text-sm">@yupanquidev</p>
      </div>
      <div>
        <a
          class="bg-[#eff3f4] text-[#0f1419] text-sm font-bold py-2 px-4 rounded-full transition-opacity hover:opacity-90 duration-500"
          href="https://twitter.com/yupanquidev">Seguir</a
        >
      </div>
    </section>
  </header>
  <main class="text-zinc-100 font-light text-sm">
    Hola, soy nuevo en Twitter y no me gustan mucho las redes sociales 🙃 Estoy
    buscando conectarme con otros desarrolladores y aprender sobre lo último en
    desarrollo web 🤗.
  </main>
  <footer class="flex gap-5 text-sm">
    <aside class="flex gap-1">
      <p class="text-[#e7e9ea] font-light">40</p>
      <span class="text-[#71767b]">Siguiendo</span>
    </aside>
    <aside class="flex gap-1">
      <p class="text-[#e7e9ea] font-light">1</p>
      <span class="text-[#71767b]">Seguidores</span>
    </aside>
  </footer>
</article>

<style>
  .motion {
    animation: animate-float 5s infinite;
  }

  @keyframes animate-float {
    0%,
    100% {
      transform: translateY(0px);
    }

    50% {
      transform: translateY(5px);
    }
  }
</style>
