<aside
  class="text-sm font-bold cursor-pointer border-2 text-[#0A0C10] border-[#CFD9E4] dark:text-[#F5F9FF] dark:hover:shadow-[0_0px_20px_0px_#08152C] transition-all rounded-lg border-1 shadow-[0_0px_20px_0px_#CFD9E4] hover:shadow-[0_0px_20px_0px_#CFD9E4] dark:border-[#172554] dark:shadow-[0_0px_5px_0px_#172554] hover:bg-blue-200 dark:hover:bg-blue-950"
>
  <svg
    width="70"
    height="70"
    viewBox="0 0 70 70"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M25.9141 57.968C22.9831 55.3035 22.0772 49.6015 23.3029 45.4982C25.4345 48.1094 28.4187 48.9087 31.5095 49.3883C36.2523 50.0811 40.8885 49.8146 45.3116 47.6831L46.8037 46.7771C47.3784 48.7309 47.3163 50.8168 46.6265 52.733C45.9367 54.6491 44.6549 56.2959 42.9668 57.4351L40.0359 59.4601C37.0517 61.4851 36.199 63.8299 37.3714 67.2937L37.478 67.6667C36.0198 67.0685 34.7886 66.0238 33.9609 64.6825C33.0653 63.3211 32.5839 61.7291 32.5753 60.0996C32.5753 59.3002 32.5753 58.5009 32.4687 57.7015C32.2023 55.7298 31.2964 54.8772 29.5378 54.8239C27.7792 54.7706 26.3937 55.8897 26.0207 57.595L25.9141 57.968Z"
      fill="url(#paint0_linear_125_39)"></path>
    <path
      d="M9.02121 44.8054C9.02121 44.8054 17.814 40.5422 26.6068 40.5422L33.2148 20.1322C33.4812 19.0664 34.174 18.4269 34.9733 18.4269C35.826 18.4269 36.572 19.1197 36.7852 20.1322L43.3931 40.5422C53.8379 40.5422 60.9788 44.8054 60.9788 44.8054L46.0576 4.3051C45.6313 3.07943 44.8853 2.33337 43.926 2.33337H26.074C25.1147 2.33337 24.422 3.07943 23.9424 4.3051L9.02121 44.8054Z"
      fill="#17191E"></path>
    <defs>
      <linearGradient
        id="paint0_linear_125_39"
        x1="34.9734"
        y1="64.4161"
        x2="41.7412"
        y2="42.1409"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#D83333"></stop>
        <stop offset="1" stop-color="#F041FF"></stop>
      </linearGradient>
    </defs>
  </svg>
  <span>Astro</span>
</aside>
