<aside
  class="text-sm font-bold cursor-pointer border-2 text-[#0A0C10] border-[#CFD9E4] dark:text-[#F5F9FF] dark:hover:shadow-[0_0px_20px_0px_#08152C] transition-all rounded-lg border-1 shadow-[0_0px_20px_0px_#CFD9E4] hover:shadow-[0_0px_20px_0px_#CFD9E4] dark:border-[#172554] dark:shadow-[0_0px_5px_0px_#172554] hover:bg-blue-200 dark:hover:bg-blue-950"
>
  <svg
    width="70"
    height="70"
    viewBox="0 0 70 70"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M11.6667 60.6667L7 2.33337H63L58.3333 60.6667L35 67.6667L11.6667 60.6667Z"
      fill="#1172B8"></path>
    <path
      d="M58.3333 7H34.9999V64.1667L53.6666 58.3333L58.3333 7Z"
      fill="#33AADD"></path>
    <path
      d="M43.1666 36.1667H19.8333L18.6666 28.0001L37.3333 22.1667H18.6666L17.5 15.1667H53.6666L52.5 23.3334L37.3333 29.1667H51.3333L49 51.3334L35 56.0001L21 51.3334L19.8333 39.6667H26.8333L28 45.5001L35 47.8334L42 45.5001L43.1666 36.1667Z"
      fill="white"></path>
  </svg>
  <span>CSS</span>
</aside>
