<aside
  class="text-sm font-semibold cursor-pointer border-2 text-[#0A0C10] border-[#CFD9E4] dark:text-[#F5F9FF] dark:hover:shadow-[0_0px_20px_0px_#08152C] transition-all duration-200 rounded-lg border-1 shadow-[0_0px_20px_0px_#CFD9E4] hover:shadow-[0_0px_20px_0px_#CFD9E4] dark:border-[#172554] dark:shadow-[0_0px_5px_0px_#172554] hover:bg-blue-200 dark:hover:bg-blue-950 hover:scale-105"
>
  <svg
    width="70"
    height="70"
    viewBox="0 0 70 70"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M58.8303 28.6713C58.4721 26.1636 57.1585 24.1337 54.6509 22.2231L53.218 21.2678L52.2627 22.7007C51.0686 24.4919 50.4716 27.1189 50.591 29.5071C50.7104 30.343 50.9492 31.8953 51.9045 33.2089C51.0686 33.6865 49.2774 34.2836 47.0086 34.2836H2.58792L2.46851 34.7612C2.11028 37.3882 2.11028 45.0305 7.12552 50.8816C10.9467 55.4192 16.559 57.688 23.9624 57.688C40.0828 57.688 51.9045 50.2846 57.5168 36.7912C59.6662 36.7912 64.4426 36.7912 66.8308 32.1342C66.9502 32.0148 67.0696 31.7759 67.4278 30.8206L67.6667 30.343L66.3532 29.3877C64.9202 28.5518 61.4573 28.1936 58.8303 28.6713ZM38.0529 12.312H31.2465V18.402H38.0529V12.312ZM38.0529 19.7155H31.2465V25.8054H38.0529V19.7155ZM30.0523 19.7155H23.2459V25.8054H30.0523V19.7155ZM22.1713 19.7155H15.3648V25.8054H22.1713V19.7155ZM14.1707 26.9995H7.36434V33.0894H14.1707V26.9995ZM22.1713 26.9995H15.3648V33.0894H22.1713V26.9995ZM30.0523 26.9995H23.2459V33.0894H30.0523V26.9995ZM38.0529 26.9995H31.2465V33.0894H38.0529V26.9995ZM46.0534 26.9995H39.247V33.0894H46.0534V26.9995Z"
      fill="#003F8C"></path>
  </svg>
  <span>Docker</span>
</aside>
