<aside
  class="text-sm font-semibold cursor-pointer border-2 text-[#F5F9FF] transition-all duration-200 rounded-lg border-1 border-[#172554] shadow-[0_0px_5px_0px_#172554] hover:bg-blue-950 hover:scale-105"
>
  <svg
    width="70"
    height="70"
    viewBox="0 0 70 70"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M18.9832 31.8391H7.18915L6.2457 33.178L18.7649 33.171L18.9832 31.8391Z"
      fill="#00ACD7"></path>
    <path
      d="M18.5667 34.6143H3.30396L2.33333 35.9479L18.3484 35.9365L18.5667 34.6143Z"
      fill="#00ACD7"></path>
    <path
      d="M18.1503 37.3884H11.6294L10.7526 38.7273L17.9319 38.7221L18.1503 37.3884Z"
      fill="#00ACD7"></path>
    <path
      d="M21.2173 27.8207H31.5497L31.0464 30.7922H24.373L23.8706 33.8961H29.8864L29.384 36.8773H23.3681L22.3624 42.9598H18.7044L21.2173 27.8207Z"
      fill="#333333"></path>
    <path
      d="M31.7172 31.605H35.3315L33.4428 42.9572H29.8286L31.7172 31.605ZM32.1556 28.5458C32.3047 27.5945 33.2438 26.8237 34.26 26.8237C35.2762 26.8237 36.0005 27.5945 35.8742 28.5458C35.7479 29.4971 34.8027 30.2749 33.783 30.2749C32.7633 30.2749 32.0171 29.491 32.1556 28.5458Z"
      fill="#333333"></path>
    <path
      d="M37.2069 27.8207H40.8203L39.8821 33.5489H39.9592C40.5502 32.5064 41.726 31.4577 43.5218 31.4577C45.8944 31.4577 47.7305 33.2832 47.0615 37.2885C46.4258 41.1535 44.061 43.1194 41.548 43.1194C39.8339 43.1194 38.9763 42.1663 38.7107 41.1167H38.5695L38.274 42.958H34.6983L37.2069 27.8207ZM40.7764 40.3083C42.1066 40.3083 43.0562 39.1185 43.3481 37.2859C43.6401 35.4534 43.1114 34.2846 41.7699 34.2846C40.4468 34.2846 39.4788 35.4306 39.1833 37.2859C38.8843 39.1211 39.4533 40.3083 40.7764 40.3083Z"
      fill="#333333"></path>
    <path
      d="M47.4814 37.3271C48.0645 33.8093 50.666 31.4595 54.0882 31.4595C57.3105 31.4595 59.2325 33.5209 58.6117 37.2535L58.4706 38.1548H50.9107L50.8879 38.2881C50.659 39.7296 51.3385 40.5678 52.7502 40.5678C53.6893 40.5678 54.5039 40.1689 54.916 39.4078L58.2119 39.5034C57.407 41.7358 55.2413 43.1764 52.2496 43.1764C48.6853 43.1711 46.8677 40.9545 47.4814 37.3271ZM55.4482 36.0557C55.6332 34.8957 54.9379 34.068 53.7559 34.068C52.588 34.068 51.5534 34.9325 51.2947 36.0557H55.4482Z"
      fill="#333333"></path>
    <path
      d="M60.3716 31.605H63.8788L63.5281 33.6742H63.6465C64.319 32.174 65.4343 31.4524 66.6759 31.4524C67.0098 31.4547 67.3423 31.4959 67.6667 31.5751L67.1345 34.7238C66.8021 34.5984 66.1884 34.5318 65.7377 34.5318C64.4593 34.5318 63.3501 35.441 63.1143 36.7931L62.0936 42.9571H58.4803L60.3716 31.605Z"
      fill="#333333"></path>
  </svg>
  <span>Fiber</span>
</aside>
