<aside
  class="text-sm font-semibold cursor-pointer border-2 text-[#0A0C10] border-[#CFD9E4] dark:text-[#F5F9FF] dark:hover:shadow-[0_0px_20px_0px_#08152C] transition-all duration-200 rounded-lg border-1 shadow-[0_0px_20px_0px_#CFD9E4] hover:shadow-[0_0px_20px_0px_#CFD9E4] dark:border-[#172554] dark:shadow-[0_0px_5px_0px_#172554] hover:bg-blue-200 dark:hover:bg-blue-950 hover:scale-105"
>
  <svg
    width="70"
    height="70"
    viewBox="0 0 70 70"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M35 34.9998C35 32.1119 36.1472 29.3423 38.1893 27.3002C40.2313 25.2582 43.001 24.111 45.8889 24.111C48.7768 24.111 51.5464 25.2582 53.5885 27.3002C55.6306 29.3423 56.7778 32.1119 56.7778 34.9998C56.7778 37.8878 55.6306 40.6574 53.5885 42.6995C51.5464 44.7415 48.7768 45.8887 45.8889 45.8887C43.001 45.8887 40.2313 44.7415 38.1893 42.6995C36.1472 40.6574 35 37.8878 35 34.9998Z"
      fill="#1ABCFE"></path>
    <path
      d="M13.2222 56.7778C13.2222 53.8899 14.3694 51.1203 16.4115 49.0782C18.4536 47.0361 21.2232 45.8889 24.1111 45.8889H35V56.7778C35 59.6657 33.8528 62.4353 31.8107 64.4774C29.7687 66.5195 26.999 67.6667 24.1111 67.6667C21.2232 67.6667 18.4536 66.5195 16.4115 64.4774C14.3694 62.4353 13.2222 59.6657 13.2222 56.7778Z"
      fill="#0ACF83"></path>
    <path
      d="M35 2.33325V24.111H45.8889C48.7768 24.111 51.5464 22.9638 53.5885 20.9217C55.6306 18.8797 56.7778 16.1101 56.7778 13.2221C56.7778 10.3342 55.6306 7.5646 53.5885 5.52253C51.5464 3.48047 48.7768 2.33325 45.8889 2.33325L35 2.33325Z"
      fill="#FF7262"></path>
    <path
      d="M13.2222 13.2221C13.2222 16.1101 14.3694 18.8797 16.4115 20.9217C18.4536 22.9638 21.2232 24.111 24.1111 24.111H35V2.33325H24.1111C21.2232 2.33325 18.4536 3.48047 16.4115 5.52253C14.3694 7.5646 13.2222 10.3342 13.2222 13.2221Z"
      fill="#F24E1E"></path>
    <path
      d="M13.2222 34.9998C13.2222 37.8878 14.3694 40.6574 16.4115 42.6995C18.4536 44.7415 21.2232 45.8887 24.1111 45.8887H35V24.111H24.1111C21.2232 24.111 18.4536 25.2582 16.4115 27.3002C14.3694 29.3423 13.2222 32.1119 13.2222 34.9998Z"
      fill="#A259FF"></path>
  </svg>
  <span>Figma</span>
</aside>
