<aside
  class="text-sm font-semibold cursor-pointer border-2 text-[#F5F9FF] transition-all duration-200 rounded-lg border-1 border-[#172554] shadow-[0_0px_5px_0px_#172554] hover:bg-blue-950 hover:scale-105"
>
  <svg
    width="70"
    height="70"
    viewBox="0 0 70 70"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M7.26384 29.8424C7.1366 29.8424 7.10479 29.7743 7.16841 29.672L7.83641 28.7518C7.90003 28.6496 8.05908 28.5814 8.18632 28.5814H19.5424C19.6696 28.5814 19.7014 28.6837 19.6378 28.7859L19.0971 29.672C19.0334 29.7743 18.8744 29.8765 18.779 29.8765L7.26384 29.8424Z"
      fill="#79D4FD"></path>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M2.46057 32.978C2.33333 32.978 2.30152 32.9098 2.36514 32.8076L3.03314 31.8873C3.09676 31.7851 3.25581 31.7169 3.38305 31.7169H17.8883C18.0155 31.7169 18.0792 31.8192 18.0473 31.9214L17.7929 32.7394C17.7611 32.8757 17.6338 32.9439 17.5066 32.9439L2.46057 32.978Z"
      fill="#79D4FD"></path>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M10.1585 36.1135C10.0313 36.1135 9.99949 36.0112 10.0631 35.909L10.5084 35.057C10.5721 34.9547 10.6993 34.8525 10.8265 34.8525H17.1885C17.3157 34.8525 17.3793 34.9547 17.3793 35.091L17.3157 35.909C17.3157 36.0453 17.1885 36.1476 17.0931 36.1476L10.1585 36.1135Z"
      fill="#79D4FD"></path>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M43.177 29.229C41.173 29.7743 39.8052 30.1833 37.833 30.7286C37.3559 30.8649 37.3241 30.899 36.9105 30.3877C36.4334 29.8084 36.0835 29.4335 35.4155 29.0926C33.4115 28.0361 31.4711 28.3428 29.6579 29.6039C27.4948 31.1035 26.3815 33.3188 26.4133 36.0794C26.4451 38.806 28.1947 41.0554 30.7076 41.4303C32.8707 41.737 34.6838 40.919 36.1153 39.1809C36.4016 38.806 36.656 38.397 36.9741 37.9198C35.829 37.9198 34.3976 37.9198 30.8349 37.9198C30.1669 37.9198 30.0078 37.4768 30.2305 36.8974C30.644 35.8408 31.4074 34.0686 31.8528 33.1825C31.9482 32.978 32.1709 32.6372 32.648 32.6372H44.2268C44.1632 33.5574 44.1632 34.4776 44.0359 35.3978C43.686 37.8517 42.8271 40.1011 41.4275 42.0778C39.1372 45.3156 36.1471 47.3264 32.3617 47.8718C29.2444 48.3148 26.3497 47.6673 23.8049 45.6223C21.451 43.7138 20.115 41.1917 19.7651 38.0562C19.3515 34.3412 20.3695 31.0012 22.4689 28.0702C24.7274 24.9006 27.7175 22.8897 31.3756 22.174C34.3657 21.5946 37.2286 21.9695 39.8052 23.844C41.4911 25.0369 42.6999 26.6728 43.4951 28.6496C43.686 28.9563 43.5588 29.1267 43.177 29.229Z"
      fill="#79D4FD"></path>
    <path
      d="M53.7061 48.0762C50.8114 48.0081 48.1712 47.1219 45.9445 45.077C44.0677 43.3389 42.8908 41.1235 42.509 38.4992C41.9365 34.648 42.9226 31.2398 45.0856 28.2065C47.4077 24.9346 50.207 23.2306 53.9924 22.5148C57.237 21.9014 60.2907 22.2422 63.0581 24.253C65.5711 26.0934 67.1298 28.5814 67.5433 31.8533C68.0841 36.4543 66.8435 40.2033 63.8852 43.407C61.7858 45.6905 59.2092 47.1219 56.2509 47.7695C55.392 47.9399 54.5331 47.974 53.7061 48.0762ZM61.2768 34.3072C61.245 33.8641 61.245 33.5233 61.1814 33.1825C60.6088 29.8084 57.7141 27.8998 54.6922 28.6496C51.7339 29.3653 49.8253 31.3761 49.1255 34.5798C48.5529 37.2382 49.7617 39.9307 52.052 41.0213C53.8015 41.8393 55.551 41.737 57.237 40.8168C59.7499 39.4194 61.1178 37.2382 61.2768 34.3072Z"
      fill="#79D4FD"></path>
  </svg>
  <span>Go</span>
</aside>
