<aside
  class="text-sm font-semibold cursor-pointer border-2 text-[#F5F9FF] transition-all duration-200 rounded-lg border-1 border-[#172554] shadow-[0_0px_5px_0px_#172554] hover:bg-blue-950 hover:scale-105"
>
  <svg
    width="70"
    height="70"
    viewBox="0 0 70 70"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M11.6667 60.6667L7 2.33337H63L58.3333 60.6667L35 67.6667L11.6667 60.6667Z"
      fill="#E44D26"></path>
    <path
      d="M58.3333 7H34.9999V64.1667L53.6666 58.3333L58.3333 7Z"
      fill="#F16529"></path>
    <path
      d="M19.8333 36.1667L17.5 14H53.6666L52.5 21H24.5L25.6666 29.1667H51.3333L49 51.3333L35 56L21 51.3333L19.8333 39.6667H26.8333L28 45.5L35 47.8333L42 45.5L43.1666 36.1667H19.8333Z"
      fill="white"></path>
  </svg>
  <span>HTML</span>
</aside>
