<aside
  class="text-sm font-bold cursor-pointer border-2 text-[#0A0C10] border-[#CFD9E4] dark:text-[#F5F9FF] dark:hover:shadow-[0_0px_20px_0px_#08152C] transition-all rounded-lg border-1 shadow-[0_0px_20px_0px_#CFD9E4] hover:shadow-[0_0px_20px_0px_#CFD9E4] dark:border-[#172554] dark:shadow-[0_0px_5px_0px_#172554] hover:bg-blue-200 dark:hover:bg-blue-950"
>
  <svg
    width="70"
    height="70"
    viewBox="0 0 70 70"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <rect
      x="2.33333"
      y="2.33334"
      width="65.3333"
      height="65.3333"
      rx="1.5"
      fill="#FFCA28"></rect>
    <path
      d="M38.7353 51.182C38.7353 54.9591 37.8566 57.8509 36.0992 59.8575C34.355 61.8641 31.8238 62.8674 28.5057 62.8674C27.0238 62.8674 25.6533 62.6116 24.3942 62.1001V56.1394C25.4828 56.9657 26.7024 57.3788 28.0533 57.3788C30.9517 57.3788 32.4009 55.2279 32.4009 50.9263V34.1655H38.7353V51.182Z"
      fill="black"></path>
    <path
      d="M43.6141 61.2936V54.9984C44.7551 55.9558 45.9944 56.6771 47.3321 57.1624C48.6699 57.6345 50.0207 57.8706 51.3846 57.8706C52.1846 57.8706 52.8797 57.7985 53.4699 57.6542C54.0732 57.5099 54.5715 57.3132 54.965 57.064C55.3716 56.8017 55.6732 56.5001 55.8699 56.1591C56.0666 55.805 56.165 55.4247 56.165 55.0181C56.165 54.4673 56.0076 53.9755 55.6929 53.5427C55.3781 53.1099 54.9453 52.7099 54.3945 52.3427C53.8568 51.9755 53.2142 51.6214 52.4666 51.2804C51.7191 50.9394 50.9125 50.5918 50.0469 50.2377C47.8436 49.3197 46.1977 48.1984 45.1092 46.8738C44.0337 45.5492 43.496 43.9492 43.496 42.0737C43.496 40.6049 43.7911 39.3458 44.3813 38.2966C44.9715 37.2343 45.7715 36.3622 46.7813 35.6802C47.8043 34.9983 48.9846 34.4999 50.3223 34.1851C51.66 33.8573 53.0765 33.6933 54.5715 33.6933C56.0404 33.6933 57.3388 33.7851 58.4667 33.9687C59.6077 34.1392 60.6568 34.4081 61.6142 34.7753V40.6573C61.1421 40.3294 60.6241 40.0409 60.0601 39.7917C59.5093 39.5426 58.9388 39.3393 58.3486 39.1819C57.7585 39.0114 57.1683 38.8868 56.5781 38.8081C56.0011 38.7294 55.4502 38.6901 54.9256 38.6901C54.2043 38.6901 53.5486 38.7622 52.9584 38.9065C52.3682 39.0376 51.8699 39.2278 51.4633 39.477C51.0568 39.7262 50.742 40.0278 50.5191 40.3819C50.2961 40.7229 50.1846 41.1098 50.1846 41.5426C50.1846 42.0147 50.3092 42.4409 50.5584 42.8213C50.8076 43.1885 51.1617 43.5426 51.6207 43.8836C52.0797 44.2115 52.6371 44.5393 53.2928 44.8672C53.9486 45.182 54.6896 45.5098 55.5158 45.8508C56.6437 46.3229 57.6535 46.8279 58.5454 47.3656C59.4503 47.8902 60.2241 48.4869 60.8667 49.1558C61.5093 49.8246 62.0011 50.5918 62.3421 51.4574C62.6831 52.3099 62.8536 53.3066 62.8536 54.4476C62.8536 56.0214 62.5519 57.346 61.9487 58.4214C61.3585 59.4837 60.5519 60.3493 59.529 61.0182C58.506 61.6739 57.3126 62.146 55.9486 62.4346C54.5978 62.7231 53.1683 62.8674 51.66 62.8674C50.1125 62.8674 48.6371 62.7362 47.2338 62.4739C45.8436 62.2116 44.637 61.8182 43.6141 61.2936Z"
      fill="black"></path>
  </svg>
  <span>JavaScript</span>
</aside>
