<aside
  class="text-sm font-bold cursor-pointer border-2 text-[#0A0C10] border-[#CFD9E4] dark:text-[#F5F9FF] dark:hover:shadow-[0_0px_20px_0px_#08152C] transition-all duration-200 rounded-lg border-1 shadow-[0_0px_20px_0px_#CFD9E4] hover:shadow-[0_0px_20px_0px_#CFD9E4] dark:border-[#172554] dark:shadow-[0_0px_5px_0px_#172554] hover:bg-blue-200 dark:hover:bg-blue-950 hover:scale-105"
>
  <svg
    width="70"
    height="70"
    viewBox="0 0 70 70"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M36.5099 2.75422C35.5432 2.20742 34.3956 2.20742 33.4292 2.75422L8.00019 17.5232C7.03382 18.0703 6.49017 19.1033 6.49017 20.1975V49.7958C6.49017 50.89 7.09412 51.923 8.00019 52.4701L33.4292 67.2391C34.3956 67.7859 35.5432 67.7859 36.5099 67.2391L61.9386 52.4701C62.9053 51.923 63.4486 50.89 63.4486 49.7958V20.1975C63.4486 19.1033 62.8447 18.0703 61.9386 17.5232L36.5099 2.75422Z"
      fill="url(#paint0_linear_125_83)"></path>
    <path
      d="M61.9995 17.5232L36.4499 2.75427C36.2083 2.63272 35.9062 2.51118 35.6647 2.45056L7.03441 51.7409C7.27592 52.0446 7.57805 52.2877 7.87986 52.4702L33.4298 67.2391C34.1547 67.6644 35.0001 67.7859 35.7853 67.5428L62.6641 18.0704C62.4829 17.8273 62.2413 17.6448 61.9995 17.5232Z"
      fill="url(#paint1_linear_125_83)"></path>
    <path
      d="M61.9998 52.4692C62.7247 52.0437 63.2683 51.3144 63.5098 50.5242L35.5438 2.3887C34.8192 2.26716 34.0338 2.32777 33.3695 2.75334L8.00078 17.4614L35.3626 67.6635C35.725 67.6025 36.148 67.481 36.5105 67.2988L61.9998 52.4692Z"
      fill="url(#paint2_linear_125_83)"></path>
    <defs>
      <linearGradient
        id="paint0_linear_125_83"
        x1="45.3259"
        y1="13.7537"
        x2="22.1033"
        y2="60.8347"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#3F873F"></stop>
        <stop offset="0.3296" stop-color="#3F8B3D"></stop>
        <stop offset="0.6367" stop-color="#3E9638"></stop>
        <stop offset="0.9341" stop-color="#3DA92E"></stop>
        <stop offset="1" stop-color="#3DAE2B"></stop>
      </linearGradient>
      <linearGradient
        id="paint1_linear_125_83"
        x1="31.1053"
        y1="38.4529"
        x2="95.9005"
        y2="-9.12535"
        gradientUnits="userSpaceOnUse"
      >
        <stop offset="0.1376" stop-color="#3F873F"></stop>
        <stop offset="0.4016" stop-color="#52A044"></stop>
        <stop offset="0.7129" stop-color="#64B749"></stop>
        <stop offset="0.9081" stop-color="#6ABF4B"></stop>
      </linearGradient>
      <linearGradient
        id="paint2_linear_125_83"
        x1="5.55849"
        y1="34.9861"
        x2="64.3998"
        y2="34.9861"
        gradientUnits="userSpaceOnUse"
      >
        <stop offset="0.0919165" stop-color="#6ABF4B"></stop>
        <stop offset="0.2871" stop-color="#64B749"></stop>
        <stop offset="0.5984" stop-color="#52A044"></stop>
        <stop offset="0.8624" stop-color="#3F873F"></stop>
      </linearGradient>
    </defs>
  </svg>
  <span>Node.js</span>
</aside>
