<aside
  class="text-sm font-bold cursor-pointer border-2 text-[#0A0C10] border-[#CFD9E4] dark:text-[#F5F9FF] dark:hover:shadow-[0_0px_20px_0px_#08152C] transition-all duration-200 rounded-lg border-1 shadow-[0_0px_20px_0px_#CFD9E4] hover:shadow-[0_0px_20px_0px_#CFD9E4] dark:border-[#172554] dark:shadow-[0_0px_5px_0px_#172554] hover:bg-blue-200 dark:hover:bg-blue-950 hover:scale-105"
>
  <svg
    width="70"
    height="70"
    viewBox="0 0 70 70"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path d="M2.33333 2.33337H67.6667V67.6667H2.33333V2.33337Z" fill="white"
    ></path>
    <path d="M64.0406 24.1112H45.8925V5.96301H64.0406V24.1112Z" fill="#F9AD00"
    ></path>
    <path d="M44.074 24.1112H25.9259V5.96301H44.074V24.1112Z" fill="#F9AD00"
    ></path>
    <path d="M24.1111 24.1112H5.96292V5.96301H24.1111V24.1112Z" fill="#F9AD00"
    ></path>
    <path d="M64.0407 44.0742H45.8925V25.926H64.0407V44.0742Z" fill="#F9AD00"
    ></path>
    <path d="M44.074 44.0742H25.9259V25.926H44.074V44.0742Z" fill="#4E4E4E"
    ></path>
    <path d="M64.0406 64.0371H45.8925V45.8889H64.0406V64.0371Z" fill="#4E4E4E"
    ></path>
    <path d="M44.074 64.0371H25.9259V45.8889H44.074V64.0371Z" fill="#4E4E4E"
    ></path>
    <path d="M24.1111 64.0371H5.96292V45.8889H24.1111V64.0371Z" fill="#4E4E4E"
    ></path>
  </svg>
  <span>PNPM</span>
</aside>
