<aside
  class="text-sm font-bold cursor-pointer border-2 text-[#0A0C10] border-[#CFD9E4] dark:text-[#F5F9FF] dark:hover:shadow-[0_0px_20px_0px_#08152C] transition-all duration-200 rounded-lg border-1 shadow-[0_0px_20px_0px_#CFD9E4] hover:shadow-[0_0px_20px_0px_#CFD9E4] dark:border-[#172554] dark:shadow-[0_0px_5px_0px_#172554] hover:bg-blue-200 dark:hover:bg-blue-950 hover:scale-105"
>
  <svg
    width="70"
    height="70"
    viewBox="0 0 70 70"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M52.0563 51.203C52.5089 47.4343 52.3729 46.8844 55.1779 47.4926L55.8916 47.5565C58.0495 47.6537 60.8712 47.2093 62.557 46.44C66.1257 44.7848 68.242 42.0187 64.7232 42.7463C56.697 44.4015 56.1138 41.6826 56.1138 41.6826C64.5927 29.1017 68.1392 13.1326 65.0759 9.22504C56.7331 -1.43956 42.2887 3.60391 42.0471 3.73721L41.9693 3.7511C40.3863 3.41783 38.6366 3.22343 36.6093 3.19565C32.9766 3.14011 30.2216 4.14825 28.1276 5.73405C28.1276 5.73405 2.36315 -4.88055 3.56014 19.0842C3.81564 24.1832 10.8643 57.6878 19.2793 47.5509C22.3593 43.8461 25.3309 40.7161 25.3309 40.7161C26.8028 41.6965 28.5719 42.1964 30.4244 42.0159L30.5688 41.8937C30.526 42.3737 30.5456 42.8573 30.6271 43.3323C28.4608 45.754 29.0996 46.179 24.7671 47.0705C20.3846 47.9731 22.9619 49.5811 24.6394 50.0032C26.6779 50.5142 31.3936 51.2363 34.5819 46.7761L34.4541 47.2843C35.304 47.9647 35.2456 52.1722 35.3706 55.1772C35.4956 58.1822 35.6928 60.99 36.3065 62.6424C36.9203 64.2949 37.6396 68.5579 43.333 67.3637C48.0904 66.3445 51.7285 64.8753 52.0618 51.228"
      fill="black"></path>
    <path
      d="M52.0563 51.203C52.5089 47.4343 52.3729 46.8844 55.1779 47.4926L55.8916 47.5565C58.0495 47.6537 60.8712 47.2093 62.557 46.44C66.1257 44.7848 68.242 42.0187 64.7232 42.7463C56.697 44.4015 56.1138 41.6826 56.1138 41.6826C64.5927 29.1017 68.1392 13.1326 65.0759 9.22504C56.7331 -1.43956 42.2887 3.60391 42.0471 3.73721L41.9693 3.7511C40.3863 3.41783 38.6366 3.22343 36.6093 3.19565C32.9766 3.14011 30.2216 4.14825 28.1276 5.73405C28.1276 5.73405 2.36315 -4.88055 3.56014 19.0842C3.81564 24.1832 10.8643 57.6878 19.2793 47.5509C22.3593 43.8461 25.3309 40.7161 25.3309 40.7161C26.8028 41.6965 28.5719 42.1964 30.4244 42.0159L30.5688 41.8937C30.526 42.3737 30.5456 42.8573 30.6271 43.3323C28.4608 45.754 29.0996 46.179 24.7671 47.0705C20.3846 47.9731 22.9619 49.5811 24.6394 50.0032C26.6779 50.5142 31.3936 51.2363 34.5819 46.7761L34.4541 47.2843C35.304 47.9647 35.2456 52.1722 35.3706 55.1772C35.4956 58.1822 35.6928 60.99 36.3065 62.6424C36.9203 64.2949 37.6396 68.5579 43.333 67.3637C48.0904 66.3445 51.7285 64.8753 52.0618 51.228"
      stroke="black"
      stroke-width="3"></path>
    <path
      d="M64.6981 42.7714C56.6719 44.4266 56.0886 41.7077 56.0886 41.7077C64.5675 29.1268 68.1141 13.1577 65.0536 9.2501C56.7107 -1.4145 42.2663 3.63175 42.0247 3.76228L41.9469 3.77616C40.1827 3.42216 38.389 3.23526 36.5897 3.21794C32.957 3.16239 30.202 4.17053 28.108 5.75633C28.108 5.75633 2.34076 -4.85827 3.54053 19.1065C3.79603 24.2055 10.8447 57.7101 19.2597 47.5732C22.3591 43.8462 25.3307 40.7162 25.3307 40.7162C26.8027 41.6966 28.5718 42.1965 30.4242 42.0159L30.5686 41.8938C30.5262 42.3738 30.5458 42.8573 30.6269 43.3324C28.4607 45.7541 29.0994 46.179 24.767 47.0705C20.3845 47.9731 22.9617 49.5811 24.6392 50.0033C26.6777 50.5143 31.3934 51.2364 34.5817 46.7761L34.454 47.2844C35.3038 47.9648 35.8981 51.7085 35.7981 55.1023C35.6982 58.4961 35.6315 60.8234 36.298 62.6453C36.9646 64.4671 37.6311 68.5608 43.3245 67.3666C48.0819 66.3473 50.5453 63.7006 50.8924 59.2959C51.1368 56.1632 51.6867 56.6242 51.7256 53.8248L52.17 52.4972C52.6782 48.2481 52.2533 46.8789 55.1833 47.5177L55.897 47.5815C58.0549 47.6787 60.8794 47.2344 62.5346 46.4651C66.1034 44.8099 68.2168 42.0437 64.6981 42.7714Z"
      fill="#336791"></path>
    <path
      d="M34.9234 45.1792C34.7013 53.0832 34.979 61.0428 35.751 62.9535C36.5231 64.8643 38.1811 68.6469 43.8772 67.4305C48.6347 66.4112 50.3677 64.4366 51.1175 60.0791L52.8755 46.1457M28.097 5.55639C28.097 5.55639 2.3131 -4.98601 3.51287 18.9788C3.76837 24.0778 10.817 57.5824 19.232 47.4455C22.3037 43.7434 25.0809 40.8467 25.0809 40.8467M42.022 3.63176C41.1333 3.90948 56.3637 -1.9366 65.0231 9.12514C68.0781 13.0327 64.5371 29.0018 56.0582 41.5827"
      stroke="white"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M56.0609 41.5772C56.0609 41.5772 56.6164 44.2989 64.6704 42.6381C68.1891 41.9104 66.0701 44.6766 62.5041 46.3318C59.5769 47.6927 53.0115 48.0398 52.9032 46.1652C52.6255 41.3189 56.3581 42.7908 56.0887 41.5772C55.8443 40.4829 54.1724 39.4109 53.0726 36.7337C52.1089 34.4008 39.853 16.4876 56.472 19.1454C57.083 19.0205 52.1395 3.31518 36.587 3.08744C21.0344 2.85971 21.526 22.2087 21.526 22.2087"
      stroke="white"
      stroke-linecap="round"
      stroke-linejoin="bevel"></path>
    <path
      d="M30.5716 43.238C28.4053 45.6597 29.0441 46.0846 24.7116 46.9761C20.3291 47.8787 22.9064 49.4867 24.5838 49.9089C26.6223 50.4199 31.3381 51.142 34.5263 46.679C35.4984 45.3181 34.5208 43.1519 33.1877 42.602C32.5434 42.3354 31.6825 42.0021 30.5771 43.2407L30.5716 43.238Z"
      stroke="white"
      stroke-linejoin="round"></path>
    <path
      d="M30.4299 43.1963C30.2077 41.7716 30.8965 40.0803 31.6324 38.0973C32.7378 35.1257 35.2873 32.154 33.2488 22.7198C31.7297 15.6933 21.5289 21.2562 21.5289 22.2087C21.5289 23.1613 21.9899 27.0411 21.3622 31.5541C20.5374 37.4474 25.1115 42.4298 30.3771 41.9216"
      stroke="white"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M28.0026 22.0671C27.9554 22.392 28.5997 23.2613 29.4357 23.378C30.2716 23.4946 30.9854 22.817 31.0326 22.4892C31.0798 22.1615 30.4355 21.806 29.5995 21.6894C28.7636 21.5728 28.0443 21.7449 28.0026 22.0671Z"
      fill="white"
      stroke="white"
      stroke-width="0.5975"></path>
    <path
      d="M53.4534 21.4033C53.4978 21.7282 52.8563 22.5975 52.0203 22.7141C51.1844 22.8308 50.4651 22.1531 50.4234 21.8254C50.3817 21.4977 51.0205 21.1422 51.8565 21.0256C52.6924 20.9089 53.4117 21.0811 53.4534 21.4033Z"
      fill="white"
      stroke="white"
      stroke-width="0.2975"></path>
    <path
      d="M56.4415 19.151C56.5804 21.7061 55.8916 23.4418 55.8028 26.1608C55.675 30.11 57.6857 34.6313 54.6558 39.1582"
      stroke="white"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
  </svg>
  <span>PostgresSQL</span>
</aside>
