<aside
  class="text-sm font-bold cursor-pointer border-2 text-[#0A0C10] border-[#CFD9E4] dark:text-[#F5F9FF] dark:hover:shadow-[0_0px_20px_0px_#08152C] transition-all rounded-lg border-1 shadow-[0_0px_20px_0px_#CFD9E4] hover:shadow-[0_0px_20px_0px_#CFD9E4] dark:border-[#172554] dark:shadow-[0_0px_5px_0px_#172554] hover:bg-blue-200 dark:hover:bg-blue-950"
>
  <svg
    width="70"
    height="70"
    viewBox="0 0 70 70"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M35 48.4741C51.5361 48.4741 64.9412 42.4418 64.9412 35.0005C64.9412 27.5593 51.5361 21.527 35 21.527C18.4639 21.527 5.05877 27.5593 5.05877 35.0005C5.05877 42.4418 18.4639 48.4741 35 48.4741Z"
      stroke="#149ECA"
      stroke-width="2"></path>
    <path
      d="M23.3315 41.7368C31.5995 56.0575 43.5262 64.6505 49.9705 60.9299C56.4148 57.2093 54.9364 42.5839 46.6683 28.2632C38.4003 13.9426 26.4736 5.34953 20.0293 9.07015C13.585 12.7908 15.0634 27.4161 23.3315 41.7368Z"
      stroke="#149ECA"
      stroke-width="2"></path>
    <path
      d="M23.3315 28.2633C15.0634 42.584 13.585 57.2093 20.0293 60.93C26.4736 64.6506 38.4003 56.0575 46.6683 41.7369C54.9364 27.4162 56.4148 12.7908 49.9705 9.07023C43.5262 5.34961 31.5995 13.9426 23.3315 28.2633Z"
      stroke="#149ECA"
      stroke-width="2"></path>
    <path
      d="M34.9999 40.9881C38.3071 40.9881 40.9881 38.3071 40.9881 34.9998C40.9881 31.6926 38.3071 29.0116 34.9999 29.0116C31.6927 29.0116 29.0117 31.6926 29.0117 34.9998C29.0117 38.3071 31.6927 40.9881 34.9999 40.9881Z"
      fill="#149ECA"></path>
  </svg>
  <span>React</span>
</aside>
