<aside
  class="text-opacity-70 opacity-90 text-sm cursor-pointer border-2 rounded-md text-[#0A0C10] border-[#CFD9E4] shadow-[0_0px_20px_0px_#CFD9E4] hover:shadow-[0_0px_20px_0px_#CFD9E4] dark:text-[#F5F9FF] dark:border-[#08152C] dark:shadow-[0_0px_10px_0px_#08152C] dark:hover:shadow-[0_0px_20px_0px_#08152C] hover:text-opacity-100 hover:opacity-100"
>
  <svg
    width="70"
    height="70"
    viewBox="0 0 70 70"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M35.0006 15.4C26.2888 15.4 20.8453 19.7559 18.6663 28.4675C21.9335 24.1117 25.7447 22.4786 30.1 23.5669C32.5849 24.1877 34.3618 25.9908 36.3269 27.9871C39.53 31.2379 43.2376 35 51.3337 35C60.0443 35 65.489 30.6442 67.6667 21.9338C64.4008 26.2896 60.5896 27.9227 56.2343 26.8331C53.7481 26.2124 51.9712 24.4092 50.0061 22.4142C46.803 19.1608 43.0967 15.4 35.0006 15.4ZM18.6663 35C9.95575 35 4.51099 39.3559 2.33334 48.0675C5.60045 43.7117 9.41166 42.0786 13.7657 43.1669C16.2519 43.7877 18.0288 45.5908 19.9939 47.5871C23.197 50.8379 26.9033 54.6 35.0006 54.6C43.7112 54.6 49.156 50.2455 51.3337 41.5338C48.0665 45.8896 44.2553 47.5227 39.9 46.4344C37.4151 45.8124 35.6382 44.0092 33.6731 42.0142C30.47 38.7634 26.7624 35 18.6663 35Z"
      fill="#38BDF8"></path>
  </svg>
  <span>Tailwind CSS</span>
</aside>
