<aside
  class="text-sm font-bold cursor-pointer border-2 text-[#0A0C10] border-[#CFD9E4] dark:text-[#F5F9FF] dark:hover:shadow-[0_0px_20px_0px_#08152C] transition-all duration-200 rounded-lg border-1 shadow-[0_0px_20px_0px_#CFD9E4] hover:shadow-[0_0px_20px_0px_#CFD9E4] dark:border-[#172554] dark:shadow-[0_0px_5px_0px_#172554] hover:bg-blue-200 dark:hover:bg-blue-950 hover:scale-105"
>
  <svg
    width="70"
    height="70"
    viewBox="0 0 70 70"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <rect
      x="2.33333"
      y="2.33333"
      width="65.3333"
      height="65.3333"
      rx="1.5"
      fill="#3178C6"></rect>
    <path
      d="M41.1367 39.8837H33.0907V62.92H26.7169V39.8837H18.7102V34.7099H41.1367V39.8837Z"
      fill="white"></path>
    <path
      d="M43.635 61.838V55.5429C44.776 56.5003 46.0154 57.2216 47.3531 57.7068C48.6908 58.179 50.0417 58.415 51.4056 58.415C52.2056 58.415 52.9007 58.3429 53.4909 58.1986C54.0941 58.0544 54.5925 57.8576 54.986 57.6085C55.3925 57.3462 55.6942 57.0445 55.8909 56.7035C56.0876 56.3494 56.186 55.9691 56.186 55.5625C56.186 55.0117 56.0286 54.5199 55.7138 54.0871C55.3991 53.6543 54.9663 53.2543 54.4155 52.8871C53.8778 52.5199 53.2351 52.1658 52.4876 51.8248C51.74 51.4838 50.9335 51.1363 50.0679 50.7822C47.8646 49.8641 46.2187 48.7428 45.1301 47.4182C44.0547 46.0936 43.517 44.4936 43.517 42.6182C43.517 41.1493 43.8121 39.8903 44.4023 38.8411C44.9924 37.7788 45.7924 36.9066 46.8023 36.2247C47.8252 35.5427 49.0056 35.0443 50.3433 34.7296C51.681 34.4017 53.0974 34.2378 54.5925 34.2378C56.0614 34.2378 57.3597 34.3296 58.4876 34.5132C59.6286 34.6837 60.6778 34.9525 61.6352 35.3197V41.2018C61.1631 40.8739 60.645 40.5854 60.0811 40.3362C59.5303 40.087 58.9598 39.8837 58.3696 39.7263C57.7794 39.5558 57.1893 39.4312 56.5991 39.3526C56.022 39.2739 55.4712 39.2345 54.9466 39.2345C54.2253 39.2345 53.5696 39.3067 52.9794 39.4509C52.3892 39.5821 51.8908 39.7722 51.4843 40.0214C51.0777 40.2706 50.763 40.5722 50.54 40.9263C50.3171 41.2673 50.2056 41.6542 50.2056 42.087C50.2056 42.5591 50.3302 42.9854 50.5794 43.3657C50.8285 43.7329 51.1826 44.087 51.6417 44.428C52.1007 44.7559 52.6581 45.0838 53.3138 45.4116C53.9696 45.7264 54.7105 46.0543 55.5368 46.3952C56.6647 46.8674 57.6745 47.3723 58.5663 47.91C59.4712 48.4346 60.245 49.0313 60.8877 49.7002C61.5303 50.369 62.0221 51.1363 62.3631 52.0018C62.7041 52.8543 62.8746 53.851 62.8746 54.992C62.8746 56.5658 62.5729 57.8904 61.9696 58.9658C61.3795 60.0282 60.5729 60.8937 59.5499 61.5626C58.527 62.2183 57.3335 62.6905 55.9696 62.979C54.6187 63.2675 53.1892 63.4118 51.681 63.4118C50.1335 63.4118 48.658 63.2806 47.2547 63.0183C45.8646 62.756 44.658 62.3626 43.635 61.838Z"
      fill="white"></path>
  </svg>
  <span>TypeScript</span>
</aside>
