<aside
  class="text-sm font-semibold cursor-pointer border-2 text-[#F5F9FF] transition-all duration-200 rounded-lg border-1 border-[#172554] shadow-[0_0px_5px_0px_#172554] hover:bg-blue-950 hover:scale-105"
>
  <svg
    width="70"
    height="70"
    viewBox="0 0 70 70"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M67.4097 12.0032L36.7579 66.8139C36.1251 67.9455 34.4992 67.9522 33.8568 66.8261L2.59726 12.0085C1.89745 10.7813 2.94684 9.29479 4.3375 9.54336L35.0221 15.0281C35.2178 15.063 35.4182 15.0627 35.614 15.027L65.6569 9.55122C67.0429 9.29861 68.0972 10.7736 67.4097 12.0032Z"
      fill="url(#paint0_linear_125_79)"></path>
    <path
      d="M49.6388 2.34946L26.9556 6.79415C26.5828 6.8672 26.3067 7.18315 26.2842 7.56232L24.8889 31.1284C24.8561 31.6835 25.3658 32.1143 25.9076 31.9893L32.2229 30.5318C32.8138 30.3956 33.3477 30.916 33.2263 31.5102L31.35 40.698C31.2237 41.3164 31.8043 41.8451 32.4082 41.6617L36.3088 40.4766C36.9135 40.293 37.4946 40.8233 37.3666 41.4422L34.3849 55.8741C34.1983 56.7769 35.3991 57.2691 35.8998 56.4952L36.2343 55.9783L54.7179 19.0911C55.0274 18.4735 54.4937 17.7692 53.8153 17.9001L47.3147 19.1547C46.7039 19.2725 46.1841 18.7036 46.3565 18.106L50.5993 3.39771C50.7719 2.79903 50.2504 2.22965 49.6388 2.34946Z"
      fill="url(#paint1_linear_125_79)"></path>
    <defs>
      <linearGradient
        id="paint0_linear_125_79"
        x1="1.83403"
        y1="7.5845"
        x2="39.9826"
        y2="59.3933"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#41D1FF"></stop>
        <stop offset="1" stop-color="#BD34FE"></stop>
      </linearGradient>
      <linearGradient
        id="paint1_linear_125_79"
        x1="33.2609"
        y1="3.55618"
        x2="40.1618"
        y2="50.8955"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#FFEA83"></stop>
        <stop offset="0.0833333" stop-color="#FFDD35"></stop>
        <stop offset="1" stop-color="#FFA800"></stop>
      </linearGradient>
    </defs>
  </svg>
  <span>Vitejs</span>
</aside>
