---
import { IconDownload } from "../icons/Icons";
---

<a
  href="/resume.pdf"
  target="_blank"
  rel="noopener noreferrer"
  class="group font-normal px-4 py-[7px] flex gap-1 items-center text-sm text-zinc-50 rounded-lg bg-purple-700 hover:bg-purple-600 transition-colors duration-200 border-purple-600 border-2 hover:shadow-[0_0px_10px_5px_rgb(147,51,234,0.2)] download-cv"
>
  <span>Descargar CV</span>
  <IconDownload />
</a>
