---
interface Props {
  style?: string;
}

const { style } = Astro.props;
---

<a
  class=`hover:before:scale-105 ${style}`
  href="mailto:hyupanquia24@gmail.com"
  target="_blank"
  rel="noopener noreferrer"
>
  <span class=""></span>
   ¡A trabajar!
</a>

<style>
  a {
    width: max-content;
    position: relative;
    padding: 10px 16px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    border: 2px solid rgb(14 165 233);
    border-radius: 8px;
    transition-property: color, background-color, border-color,
      text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
  }

  a::before {
    content: "";
    position: absolute;
    top: 4px;
    bottom: -2px;
    left: -2px;
    right: -2px;
    z-index: -1;
    --blur: blur(12px);
    --saturate: saturate(1.5);
    filter: var(--blur) var(--tw-brightness) var(--tw-contrast)
      var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--saturate)
      var(--tw-sepia) var(--tw-drop-shadow);
    background-clip: padding-box;
    opacity: 0.6;
    transition: all 0.2s ease-in-out;
    background-image: linear-gradient(
      120deg,
      #ec6192,
      #ec4c34,
      #ffbd2b,
      #ebde56,
      #57c754,
      #53a1eb
    );
  }
</style>
