---
import Github from "../../contactIcons/Github.astro";
import Gmail from "../../contactIcons/Mail.astro";
import Instagram from "../../contactIcons/Instagram.astro";
import LinkedIn from "../../contactIcons/LinkedIn.astro";
import Twitter from "../../contactIcons/Twitter.astro";
import FormContact from "./FormContact.astro";
---

<section
  id="contact"
  class="container mx-auto px-60 flex flex-col gap-8 max-xl:px-40 max-lg:gap-6 max-lg:px-10 max-md:px-5 max-md:gap-0"
>
  <h2
    class="w-full text-4xl uppercase font-black text-purple-600 dark:text-[#96F] max-lg:text-3xl max-md:text-2xl"
  >
    Contáctame
  </h2>
  <div
    class="w-full flex py-4 max-lg:flex-col max-lg:gap-8 max-md:gap-4 max-sm:gap-2"
  >
    <section class="w-full flex flex-col gap-6 max-md:gap-6">
      <p class="text-base text-[#0A0C10] dark:text-[#F5F5FF] max-sm:text-sm">
        Siéntete libre de contactarme en cualquier momento. ¡Me pondré en
        contacto contigo tan pronto como pueda!
      </p>
      <div
        class="w-full flex flex-col gap-2 text-[#0A0C10] dark:text-[#F5F5FF] max-md:gap-0"
      >
        <span class="text-lg font-bold max-sm:text-base"
          ><strong>Email</strong></span
        >
        <section
          class="flex flex-col gap-8 max-lg:flex-row max-lg:items-center max-md:flex max-md:gap-4"
        >
          <span class="text-base max-sm:text-sm">hyupanquia24@gmail.com</span>
          <div
            class="flex gap-2 items-center max-lg:gap-4 max-md:gap-2 max-lg:[&>a>svg]:w-7 max-md:[&>a>svg]:w-6 max-sm:gap-1"
          >
            <LinkedIn style="hover:text-[#96F] transition-all transition-all" />
            <Github
              style="hover:text-[#96F] transition-all"
              hyperlink="https://github.com/ypnqh"
            />
            <Gmail style="hover:text-[#96F] transition-all" />
            <Instagram style="hover:text-[#96F] transition-all" />
            <Twitter style="hover:text-[#96F] transition-all" />
          </div>
        </section>
      </div>
    </section>
    <FormContact />
  </div>
</section>

<style>
  p {
    text-wrap: balance;
  }

  @media not all and (min-width: 1024px) {
    p {
      text-wrap: wrap;
    }
  }
</style>
