---
import Github from "../../contactIcons/Github.astro";
import Gmail from "../../contactIcons/Gmail.astro";
import Instagram from "../../contactIcons/Instagram.astro";
import LinkedIn from "../../contactIcons/LinkedIn.astro";
import Twitter from "../../contactIcons/Twitter.astro";
---

<section
  id="contact"
  class="container mx-auto px-60 flex flex-col gap-8 max-lg:gap-6 max-lg:px-10 max-md:px-5 max-md:gap-0"
>
  <h2
    class="w-full text-4xl uppercase font-black text-purple-600 dark:text-[#96F] max-lg:text-3xl max-md:text-2xl max-sm:sticky max-sm:top-4 max-sm:z-30 max-sm:text-xl max-sm:w-4/5 max-sm:text-left"
  >
    Contáctame
  </h2>
  <div
    class="w-full flex py-4 max-lg:flex-col max-lg:gap-8 max-md:gap-4 max-sm:gap-2"
  >
    <section class="w-full flex flex-col gap-6 max-md:gap-6">
      <p class="text-base text-[#0A0C10] dark:text-[#F5F5FF] max-sm:text-sm">
        Siéntete libre de contactarme en cualquier momento. ¡Me pondré en
        contacto contigo tan pronto como pueda!
      </p>
      <div
        class="w-full flex flex-col gap-2 text-[#0A0C10] dark:text-[#F5F5FF] max-md:gap-0"
      >
        <span class="text-lg font-bold max-sm:text-base"
          ><strong>Email</strong></span
        >
        <section
          class="flex flex-col gap-8 max-lg:flex-row max-lg:items-center max-md:flex max-md:gap-4"
        >
          <span class="text-base max-sm:text-sm">hyupanquia24@gmail.com</span>
          <div
            class="flex gap-2 items-center max-lg:gap-4 max-md:gap-2 max-lg:[&>a>svg]:w-7 max-md:[&>a>svg]:w-6 max-sm:gap-1"
          >
            <LinkedIn style="hover:text-[#96F] transition-all transition-all" />
            <Github style="hover:text-[#96F] transition-all" />
            <Gmail style="hover:text-[#96F] transition-all" />
            <Instagram style="hover:text-[#96F] transition-all" />
            <Twitter style="hover:text-[#96F] transition-all" />
          </div>
        </section>
      </div>
    </section>
    <form
      class="w-full h-auto flex flex-col items-center justify-center gap-6 px-4 py-6 cursor-pointer transition-all rounded-lg border-1 shadow-[0_0px_20px_0px_#CFD9E4] hover:shadow-[0_0px_20px_0px_#CFD9E4] dark:border-[#172554] dark:shadow-[0_0px_5px_0px_#172554] hover:bg-blue-200 dark:hover:bg-blue-950 max-sm:gap-4"
    >
      <div class="w-full h-auto flex gap-4 max-sm:flex-col">
        <input
          required=""
          autocomplete="off"
          name="name"
          type="text"
          value=""
          placeholder="Nombre"
          class="w-full h-12 dark:bg-[#08152C] border-2 dark:border-[#08152C] border-opacity-60 p-2 rounded-md text-sm font-bold focus:outline-none focus:border-purple-600 dark:focus:border-[#96F]/40 focus:border-opacity-40 dark:border-opacity-20 placeholder-opacity-70 dark:placeholder-opacity-50 placeholder-[#0A0C10] bg-blue-50 dark:placeholder-[#F5F9FF] border-blue-200 text-[#0A0C10] dark:text-[#F5F9FF] dark:hover:shadow-[0_0px_10px_0px_#08152C]"
          data-form-type="name"
        />
        <input
          required=""
          autocomplete="off"
          name="email"
          type="email"
          value=""
          placeholder="Correo electrónico"
          class="w-full h-12 dark:bg-[#08152C] border-2 dark:border-[#08152C] border-opacity-60 p-2 rounded-md text-sm font-bold focus:outline-none focus:border-purple-600 dark:focus:border-[#96F]/40 focus:border-opacity-40 dark:border-opacity-20 placeholder-opacity-70 dark:placeholder-opacity-50 placeholder-[#0A0C10] bg-blue-50 dark:placeholder-[#F5F9FF] border-blue-200 text-[#0A0C10] dark:text-[#F5F9FF] dark:hover:shadow-[0_0px_10px_0px_#08152C]"
          data-form-type="name"
        />
      </div>
      <textarea
        required=""
        autocomplete="off"
        name="message"
        rows="7"
        placeholder="Mensaje"
        class="w-full dark:bg-[#08152C] border-2 dark:border-[#08152C] border-opacity-60 p-2 rounded-md text-sm font-bold focus:outline-none focus:border-purple-600 dark:focus:border-[#96F]/40 focus:border-opacity-40 dark:border-opacity-20 placeholder-opacity-70 dark:placeholder-opacity-50 placeholder-[#0A0C10] bg-blue-50 dark:placeholder-[#F5F9FF] border-blue-200 text-[#0A0C10] dark:text-[#F5F9FF] dark:hover:shadow-[0_0px_10px_0px_#08152C] resize-none"
        data-dashlane-rid="7499e0651a5cbd66"
        data-form-type="other"></textarea>
      <a
        href="#"
        class="w-full h-12 flex justify-center items-center font-bold px-4 gap-2 text-base text-[#F5F9FF] hover:text-[#0A0C10] rounded-lg bg-purple-600 dark:bg-[#96F] transition-all"
      >
        Enviar mensaje
        <span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-send"
            width="22"
            height="22"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M10 14l11 -11"></path>
            <path
              d="M21 3l-6.5 18a.55 .55 0 0 1 -1 0l-3.5 -7l-7 -3.5a.55 .55 0 0 1 0 -1l18 -6.5"
            ></path>
          </svg>
        </span>
      </a>
    </form>
  </div>
</section>

<style>
  p {
    text-wrap: balance;
  }

  @media not all and (min-width: 1024px) {
    p {
      text-wrap: wrap;
    }
  }
</style>
