<form
  class="w-full h-auto flex flex-col items-center justify-center gap-6 px-4 py-6 cursor-pointer transition-all rounded-lg border-1 shadow-[0_0px_20px_0px_#CFD9E4] dark:border-[#172554] dark:shadow-[0_0px_5px_0px_#172554] hover:bg-blue-200 dark:hover:bg-blue-950 max-sm:gap-4"
  id="contact-form"
  action=""
>
  <div class="w-full h-auto flex gap-4 max-sm:flex-col">
    <input
      required=""
      autocomplete="off"
      name="name"
      type="text"
      value=""
      placeholder="Nombre"
      class="w-full h-12 dark:bg-[#08152C] border-2 dark:border-[#08152C] border-opacity-60 p-2 rounded-md text-sm font-bold focus:outline-none focus:border-purple-600 dark:focus:border-[#96F]/40 focus:border-opacity-40 dark:border-opacity-20 placeholder-opacity-70 dark:placeholder-opacity-50 placeholder-[#0A0C10] bg-blue-50 dark:placeholder-[#F5F9FF] border-blue-200 text-[#0A0C10] dark:text-[#F5F9FF] dark:hover:shadow-[0_0px_10px_0px_#08152C]"
      data-form-type="name"
    />
    <input
      required=""
      autocomplete="off"
      name="email"
      type="email"
      value=""
      placeholder="Correo electrónico"
      class="w-full h-12 dark:bg-[#08152C] border-2 dark:border-[#08152C] border-opacity-60 p-2 rounded-md text-sm font-bold focus:outline-none focus:border-purple-600 dark:focus:border-[#96F]/40 focus:border-opacity-40 dark:border-opacity-20 placeholder-opacity-70 dark:placeholder-opacity-50 placeholder-[#0A0C10] bg-blue-50 dark:placeholder-[#F5F9FF] border-blue-200 text-[#0A0C10] dark:text-[#F5F9FF] dark:hover:shadow-[0_0px_10px_0px_#08152C]"
      data-form-type="name"
    />
  </div>
  <textarea
    required=""
    autocomplete="off"
    name="message"
    rows="7"
    placeholder="Mensaje"
    class="w-full dark:bg-[#08152C] border-2 dark:border-[#08152C] border-opacity-60 p-2 rounded-md text-sm font-bold focus:outline-none focus:border-purple-600 dark:focus:border-[#96F]/40 focus:border-opacity-40 dark:border-opacity-20 placeholder-opacity-70 dark:placeholder-opacity-50 placeholder-[#0A0C10] bg-blue-50 dark:placeholder-[#F5F9FF] border-blue-200 text-[#0A0C10] dark:text-[#F5F9FF] dark:hover:shadow-[0_0px_10px_0px_#08152C] resize-none"
    data-dashlane-rid="7499e0651a5cbd66"
    data-form-type="other"></textarea>
  <div
    class="w-full h-12 flex justify-center items-center font-bold px-4 gap-2 text-base text-[#F5F9FF] hover:text-[#0A0C10] rounded-lg bg-purple-600 dark:bg-[#96F] transition-all"
  >
    <input class="h-full" type="submit" value="Enviar mensaje" />
    <span>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="icon icon-tabler icon-tabler-send"
        width="22"
        height="22"
        viewBox="0 0 24 24"
        stroke-width="2"
        stroke="currentColor"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <path d="M10 14l11 -11"></path>
        <path
          d="M21 3l-6.5 18a.55 .55 0 0 1 -1 0l-3.5 -7l-7 -3.5a.55 .55 0 0 1 0 -1l18 -6.5"
        ></path>
      </svg>
    </span>
  </div>

  <a class="opacity-0" href="mailto:hypanquia24@gmail.com" id="personal-email"
  ></a>
</form>

<script>
  const form = document.querySelector("#contact-form");
  const personalEmail = document.querySelector(
    "#personal-email",
  ) as HTMLElement;

  const handleSubmit = (event) => {
    event.preventDefault();
    const formData = new FormData(event.target);
    personalEmail.setAttribute(
      "href",
      `mailto:hypanquia24@gmail.com?subject=${formData.get(
        "name",
      )}${formData.get("email")}&body=${formData.get("message")}`,
    );
    personalEmail.click();
  };

  form.addEventListener("submit", handleSubmit);
</script>
