---
import IMGHome from "/public/home.svg";
---

<section
  id="home"
  class="w-full h-auto mx-auto container px-10 flex items-center justify-between"
>
  <div class="w-full px-10 flex flex-col justify-center gap-8">
    <div class="flex flex-col gap-6">
      <h1 class="text-6xl font-bold font-Raleway text-[#96F]">
        Humberto Yupanqui Apaza
      </h1>
      <h3
        class="text-4xl font-Raleway font-bold dark:text-[#F5F9FF] text-[#0A0C10]"
      >
        FullStack Developer
      </h3>
      <p
        class="dark:text-[#F5F9FF] text-[#0A0C10] text-base font-normal opacity-70"
      >
        +1 año de experiencia en desarrollo web, Construyendo productos
        accesibles e inclusivos y experiencias digitales para la web.
      </p>
    </div>
    <div class="flex gap-4 items-center">
      <a
        class="opacity-70 hover:opacity-100 text-[#0A0C10] dark:text-[#F5F9FF]"
        href="https://www.linkedin.com/in/ypnqh/"
        target="_blank"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon icon-tabler icon-tabler-brand-linkedin hover:text-[#0A66C2]"
          width="40"
          height="40"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path
            d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z"
          ></path>
          <path d="M8 11l0 5"></path>
          <path d="M8 8l0 .01"></path>
          <path d="M12 16l0 -5"></path>
          <path d="M16 16v-3a2 2 0 0 0 -4 0"></path>
        </svg>
      </a>
      <a
        class="opacity-70 hover:opacity-100 text-[#0A0C10] dark:text-[#F5F9FF]"
        href="https://github.com/ypnqh"
        target="_blank"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon icon-tabler icon-tabler-brand-github"
          width="36"
          height="36"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path
            d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5"
          ></path>
        </svg>
      </a>
      <a
        href="#"
        class="py-3 px-4 flex gap-2 items-center text-sm text-[#F5F9FF] hover:text-[#0A0C10] rounded-lg bg-[#96F] bg-opacity-70 hover:bg-opacity-100"
      >
        Descargar CV
        <span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-download"
            width="22"
            height="22"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M4 17v2a2 2 0 0 0 2 2h12a2 2 0 0 0 2 -2v-2"></path>
            <path d="M7 11l5 5l5 -5"></path>
            <path d="M12 4l0 12"></path>
          </svg>
        </span>
      </a>
      <a
        href="#"
        class="py-3 px-4 text-sm text-[#F5F9FF] hover:text-[#0A0C10] rounded-lg bg-[#96F] bg-opacity-70 hover:bg-opacity-100"
      >
        Contactame
      </a>
    </div>
  </div>
  <div class="w-full px-10 flex justify-end">
    <img class="w-[400pxs]" src={IMGHome} alt="" />
  </div>
</section>
