<main class="py-5 px-20">
  <section>
    <div>
      <h1 class="text-6xl font-bold text-[#96F]">
        Humberto <br /> Yupanqui Apaza
      </h1>
      <p class="text-[#F5F9FF] text-lg">
        Construyo productos accesibles e inclusivos y experiencias digitales
        para la web.
      </p>
    </div>
    <div></div>
  </section>
</main>
