---
import About from "./about/About.astro";
import Home from "./home/Home.astro";
import Experience from "./experience/Experience.astro";
import Proyects from "./proyects/Proyects.astro";
import Contact from "./contact/Contact.astro";
---

<main
  class="w-full flex flex-col gap-12 py-4 max-md:py-0 max-md:gap-8 max-sm:gap-4"
>
  <Home />
  <About />
  <Experience />
  <Proyects />
  <Contact />
</main>
