---
import About from "./about/About.astro";
import Contact from "./contact/Contact.astro";
import Experience from "./experience/Experience.astro";
import Home from "./home/Home.astro";
import Proyects from "./proyects/Proyects.astro";
---

<main class="w-full flex flex-col">
  <Home />
  <About />
  <Experience />
  <Proyects />
  <Contact />
</main>
