---
import About from "./about/About.astro";
import Home from "./home/Home.astro";
import Experience from "./experience/Experience.astro";
import Proyects from "./proyects/Proyects.astro";
import Contact from "./contact/Contact.astro";
---

<main class="w-full h-full flex flex-col gap-28 py-16">
  <Home />
  <About />
  <Experience />
  <Proyects />
  <Contact />
</main>

<style>
  h1,
  p {
    text-wrap: balance;
  }
</style>
