---
import About from "./About.astro";
import Home from "./Home.astro";
import Experience from "./experience/Experience.astro";
---

<main class="w-full h-full flex flex-col gap-28 pt-16">
  <Home />
  <About />
  <Experience />
  <h1
    class="container mx-auto w-full px-20 [text-shadow:0_0_15px_#FBFF00,0_0_40px_#FBFF00,0_0_70px_#FBFF00] cursor-pointer hover:[text-shadow:0_0_30px_#FBFF00,0_0_55px_#FBFF00,0_0_90px_#FBFF00] text-white text-8xl font-bold"
  >
    Muy Pronto!!...
  </h1>
</main>

<style>
  h1,
  p {
    text-wrap: balance;
  }
</style>
