---
import Experiences from "./experience/Experiences.astro";
import Home from "./home/Home.astro";
import Proyects from "./proyects/Proyects.astro";
---

<main class="w-full flex flex-col">
  <Home />
  <Experiences />
  <Proyects />
</main>
