---
import ExperienceItem from "@/components/ExperienceItem.astro";
import Section from "@/components/Section.astro";

import { EXPERIENCIE } from "@/utils/experience";
---

<Section className="flex-col" title="Experiencia">
  <ol class="pt-8">
    {
      EXPERIENCIE.map((item) => (
        <li>
          <ExperienceItem {...item} />
        </li>
      ))
    }
  </ol>
</Section>
