---
import LinkPill from "@/components/LinkPill.astro";
import Section from "@/components/Section.astro";

import LinkedIn from "@/icons/LinkedIn.astro";
import Mail from "@/icons/Mail.astro";

import { getI18N } from "@/i18n";
import Hobbies from "../Hobbies.astro";
import XCard from "../XCard.astro";

const { currentLocale } = Astro;
const i18n = getI18N({
  currentLocale,
});
---

<Section className="flex-col gap-10 relative justify-center">
  <section class="flex flex-col gap-4">
    <figure class="w-16 h-16">
      <img
        class="rounded-full aspect-square object-cover border border-sky-500/20"
        src="/me.webp"
        alt="Foto de perfil"
      />
    </figure>
    <section>
      <h1 class="text-4xl sm:text-5xl font-black text-emerald-400">
        Humberto Yupanqui
      </h1>
      <h2 class="font-light text-base text-purple-400 mt-2">
        Desarrollador Web.
      </h2>
    </section>
    <section>
      <p class="font-light text-sky-50">
        <span class="font-normal text-orange-400">+1</span> año de experiencia en
        el desarrollo de aplicaciones web.
      </p>
      <p class="font-light text-sky-50/50">
        He usado tecnologías como React, Astro, Tailwind CSS.
      </p>
    </section>
  </section>
  <section class="flex gap-4">
    <LinkPill target="_blank" href="mailto:yupanquidev@gmail.com">
      <Mail width="18" height="18" />
      Contáctame
    </LinkPill>
    <LinkPill target="_blank" href="https://www.linkedin.com/in/yupanquidev">
      <LinkedIn width="18" height="18" />
      LinkedIn
    </LinkPill>
  </section>
  <section class="w-80 absolute right-4">
    <XCard />
    <Hobbies />
  </section>
</Section>
