---
import Button from "../components/buttons/Button.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Error 404, no lo he encontrado">
  <div class="flex flex-col justify-center items-center leading-none h-full">
    <h1
      class="text-[10rem] font-black bg-gradient-to-r to-sky-500 from-emerald-500 bg-clip-text text-transparent"
    >
      404
    </h1>
    <span class="font-medium opacity-80 text-lg text-sky-500">Not Found</span>
  </div>
  <Button href="/" buttonName="Volver a la página de inicio">
    <svg
      slot="icon"
      width="20"
      height="20"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      fill="none"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
      <path d="M5 12l14 0"></path>
      <path d="M5 12l6 6"></path>
      <path d="M5 12l6 -6"></path>
    </svg>
  </Button>
</Layout>
