---
import Layout from "../layouts/Layout.astro";
import Error404 from "/public/404.gif";
---

<Layout title="Error 404, no lo he encontrado">
  <main class="w-full">
    <div
      class="lg:container lg:mx-auto flex items-center flex-col-reverse py-6 px-3 lg:px-0 md:py-8 md:flex-row"
    >
      <section class="flex flex-col justify-center">
        <h1
          class="text-3xl font-extrabold text-purple-800 dark:text-purple-500 md:text-4xl"
        >
          ¿TE HAS EQUIVOCADO DE CAMINO?
        </h1>
        <p class="text-base font-normal text-zinc-950 dark:text-zinc-100 my-8">
          Parece que te has perdido. ¿Sabes qué ayuda mucho en esta clase de
          situación? Un tazón de fideos bien calentito. Siéntate, estamos
          trabajando a tope para preparar algo genial. ¿Quieres algo para leer?
          Esto podría ayudarte:
        </p>
        <a
          href="/"
          class="w-auto border-2 border-[#96F]/20 bg-zinc-800 text-zinc-100 rounded-md bg-opacity-90 hover:bg-opacity-100 transition-opacity duration-20 py-2 px-4 font-medium shadow-[0px_0px_15px_2px] shadow-purple-500/50 text-lg my-8 mx-auto md:my-4"
          >Volver a la página de inicio</a
        >
      </section>
      <img
        class="w-80 rounded py-10 md:ml-20"
        src={Error404}
        alt="Este gif es un error 404, no found"
        loading="lazy"
      />
    </div>
  </main>
</Layout>
