---
import Button from "@/components/buttons/Button.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Design System portfolio.dev">
  <h1>Button</h1>
  <Button buttonName="button" href="#" />
</Layout>
