---
import Header from "../components/header/Header.astro";
import HomePage from "../components/main/HomePage.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
	<div class="container mx-auto">
		<Header />
		<HomePage />
		<h1
			class="[text-shadow:0_0_15px_#FBFF00,0_0_40px_#FBFF00,0_0_70px_#FBFF00] cursor-pointer hover:[text-shadow:0_0_30px_#FBFF00,0_0_55px_#FBFF00,0_0_90px_#FBFF00] text-white text-8xl font-bold"
		>
			Muy Pronto!!...
		</h1>
	</div>
</Layout>
