---
import Experience from "../components/main/experience/Experience.astro";
import Home from "../components/main/home/Home.astro";
import Proyect from "../components/main/proyects/Proyect.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Portafolio">
  <main>
    <Home />
    <Experience />
    <Proyect />
  </main>
</Layout>
