---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<h1 class="text-white text-8xl font-bold">Muy Pronto!!..</h1>	
</Layout>

<style>
	h1 {
  text-shadow: 
    0px 0px 15px #05DFD7, 
    0px 0px 25px #05DFD7, 
    0px 0px 35px #05DFD7;
}

h1:hover {
  cursor: pointer;
  transition: calc(0.1s * 3);
  text-shadow: 
    0px 0px 35px #05DFD7, 
    0px 0px 65px #05DFD7, 
    0px 0px 80px #05DFD7,
    0px 0px 90px #05DFD7;
}
</style>