---
import Header from "../components/header/Header.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Fotos">
  <Header />
  <main>
    <h1
      class="w-full text-4xl uppercase font-black text-purple-600 dark:text-[#96F] max-lg:text-3xl max-md:text-2xl"
    >
      Foto
    </h1>
  </main>
</Layout>
