---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Recursos">
  <section class="flex flex-col gap-4">
    <h1 class="text-base text-emerald-600">Recursos que me gustan</h1>
    <h2 class="text-xl text-sky-400">
      Tipografías, 3D, cursos, entre otros más.
    </h2>
  </section>
</Layout>
