---
import IconCalendar from "@/icons/IconCalendar.astro";
import IconSchool from "@/icons/IconSchool.astro";
import TechnologyTags from "../../technologyTags.astro";
import ExperienceTimeline from "./ExperienceCard.astro";
---

<section class="experience-section" id="experience">
  <h2 class="experiences-title">Experiencias</h2>
  <div class="experience-cards">
    <section class="experience-card">
      <h3 class="experience-title">Experiencia</h3>
      <ExperienceTimeline
        role="Full Stack Developer"
        company="ITETNIA"
        current="Actual"
        startDate="Ago. 2021"
        finishDate="Actualidad"
        location="Cusco, Perú"
        locationType="Presencial"
        amountOfTime="3 meses"
        jobType="Contrato de prácticas"
      >
        <IconCalendar slot="icon" />
        <p class="timeline-description" slot="description">
          Crear nuevas funcionalidades, pantallas y comportamientos, basados
          ​​en la diseño predefinido para cada proyecto. Desarrollar los
          componentes solicitados dentro de los entornos establecidos,
          asegurando la uso previsto de la solución.
        </p>
        <ul class="stack-tech-list" slot="aptitudes">
          <TechnologyTags name="JavaScript" className="javascript" />
          <TechnologyTags name="PHP" className="php" />
          <TechnologyTags name="CSS" className="css" />
          <TechnologyTags name="HTML" className="html" />
          <TechnologyTags name="Vue.js" className="vuejs" />
          <TechnologyTags name="Laravel" className="laravel" />
          <TechnologyTags name="Tailwind CSS" className="tailwindcss" />
          <TechnologyTags name="MySQL" className="mysql" />
        </ul>
      </ExperienceTimeline>
    </section>
    <section class="experience-card">
      <h3 class="experience-title">Educación</h3>
      <ExperienceTimeline
        role="Ingeniería de Software e Inteligencia Artificial"
        company="SENATI"
        startDate="Marzo 2021"
        finishDate="Actualidad"
        current="Actual"
        location="Cusco, Perú"
        locationType="Semipresencial"
        amountOfTime="3 años"
        jobType="Educación"
      >
        <IconSchool slot="icon" />
        <ul class="stack-tech-list" slot="aptitudes">
          <TechnologyTags name="Oracle Database" className="oracledatabase" />
          <TechnologyTags name="JavaScript" className="javascript" />
          <TechnologyTags name="Python" className="python" />
          <TechnologyTags name="Java" className="java" />
          <TechnologyTags name="PHP" className="php" />
          <TechnologyTags name="CSS" className="css" />
          <TechnologyTags name="HTML" className="html" />
          <TechnologyTags name="Laravel" className="laravel" />
          <TechnologyTags name="MySQL" className="mysql" />
          <TechnologyTags name="SQL Server" className="sqlserver" />
          <TechnologyTags name="Patrones de diseño" />
          <TechnologyTags name="Patrones de arquitectura" />
          <TechnologyTags name="Inteligencia artificial" />
        </ul>
      </ExperienceTimeline>
    </section>
  </div>
</section>

<style>
  .experience-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .experiences-title {
    font-size: 30px;
    font-weight: 800;
    color: rgb(56 189 248);
  }

  .experience-cards {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .experience-card {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }

  .experience-title {
    padding: 16px 0;
    font-size: 18px;
    font-weight: 700;
    color: rgb(5 150 105);
  }

  .timeline-description {
    font-size: 14px;
    opacity: 0.8;
    font-weight: 400;
  }

  .stack-tech-list {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    padding: 8px;
    padding-bottom: 20px;
  }

  @media (min-width: 768px) {
    .experience-cards {
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: 32px;
    }
  }
</style>
