---
import TechnologyTags from "../../technologyTags.astro";
import ExperienceTimeline from "./ExperienceTimeline.astro";
---

<section class="flex justify-center flex-col" id="experience">
  <h2 class="w-full text-3xl font-black text-sky-500">Experiencias</h2>
  <div class="grid grid-cols-1 md:grid-cols-2 md:gap-8">
    <section class="flex flex-col gap-0.5">
      <h3 class="text-xl py-4 font-bold text-sky-600">Experiencia</h3>
      <ExperienceTimeline
        role="Full Stack Developer"
        company="ITETNIA"
        current="Actual"
        startDate="Ago. 2021"
        finishDate="Actualidad"
        location="Cusco, Perú"
        locationType="Presencial"
        amountOfTime="3 meses"
        jobType="Contrato de prácticas"
      >
        <svg
          slot="icon"
          width="20"
          height="20"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path
            d="M4 5m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z"
          ></path>
          <path d="M16 3l0 4"></path>
          <path d="M8 3l0 4"></path>
          <path d="M4 11l16 0"></path>
          <path d="M8 15h2v2h-2z"></path>
        </svg>
        <p class="text-sm opacity-95 font-normal" slot="description">
          Crear nuevas funcionalidades, pantallas y comportamientos, basados
          ​​en la diseño predefinido para cada proyecto. Desarrollar los
          componentes solicitados dentro de los entornos establecidos,
          asegurando la uso previsto de la solución.
        </p>
        <section class="py-2 flex gap-1.5 pb-5 flex-wrap" slot="aptitudes">
          <TechnologyTags
            name="JavaScript"
            textColor="text-black"
            bgColor="bg-[#EFD81D]"
          />
          <TechnologyTags
            name="PHP"
            textColor="text-white"
            bgColor="bg-[#4F5B93]"
          />
          <TechnologyTags
            name="CSS"
            textColor="text-white"
            bgColor="bg-[#0C73B8]"
          />
          <TechnologyTags
            name="HTML"
            textColor="text-black"
            bgColor="bg-[#E44D26]"
          />
          <TechnologyTags
            name="Vue.js"
            textColor="text-black"
            bgColor="bg-[#42B883]"
          />
          <TechnologyTags
            name="Laravel"
            textColor="text-black"
            bgColor="bg-[#FF2D20]"
          />
          <TechnologyTags
            name="Tailwind CSS"
            textColor="text-black"
            bgColor="bg-[#38BDF8]"
          />
          <TechnologyTags
            name="MySQL"
            textColor="text-white"
            bgColor="bg-[#3E6E93]"
          />
        </section>
      </ExperienceTimeline>
    </section>
    <section class="flex flex-col gap-0.5">
      <h3 class="text-xl py-4 font-bold text-sky-600">Educación</h3>
      <ExperienceTimeline
        role="Ingeniería de Software e Inteligencia Artificial"
        company="SENATI"
        startDate="Marzo 2021"
        finishDate="Actualidad"
        current="Actual"
        location="Cusco, Perú"
        locationType="Semipresencial"
        amountOfTime="3 años"
        jobType="Educación"
      >
        <svg
          slot="icon"
          width="20"
          height="20"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path d="M22 9l-10 -4l-10 4l10 4l10 -4v6"></path>
          <path d="M6 10.6v5.4a6 3 0 0 0 12 0v-5.4"></path>
        </svg>
        <section class="py-2 flex gap-1.5 pb-5 flex-wrap" slot="aptitudes">
          <TechnologyTags
            name="JavaScript"
            textColor="text-black"
            bgColor="bg-[#EFD81D]"
          />
          <TechnologyTags
            name="Python"
            textColor="text-black"
            bgColor="bg-[#4482b2]"
          />
          <TechnologyTags
            name="Java"
            textColor="text-black"
            bgColor="bg-[#F85D31]"
          />
          <TechnologyTags
            name="PHP"
            textColor="text-white"
            bgColor="bg-[#4F5B93]"
          />
          <TechnologyTags
            name="CSS"
            textColor="text-white"
            bgColor="bg-[#0C73B8]"
          />
          <TechnologyTags
            name="HTML"
            textColor="text-black"
            bgColor="bg-[#E44D26]"
          />
          <TechnologyTags
            name="Angular"
            textColor="text-white"
            bgColor="bg-[#DD0031]"
          />
          <TechnologyTags
            name="Laravel"
            textColor="text-black"
            bgColor="bg-[#FF2D20]"
          />
          <TechnologyTags
            name="MySQL"
            textColor="text-white"
            bgColor="bg-[#3E6E93]"
          />
          <TechnologyTags
            name="Oracle Database"
            textColor="text-black"
            bgColor="bg-[#EB2D2F]"
          />
          <TechnologyTags
            name="SQL Server"
            textColor="text-black"
            bgColor="bg-[#EA4039]"
          />
          <TechnologyTags
            name="Patrones de diseño"
            textColor="text-black"
            bgColor="bg-teal-500"
          />
          <TechnologyTags
            name="Patrones de arquitectura"
            textColor="text-black"
            bgColor="bg-emerald-500"
          />
          <TechnologyTags
            name="Inteligencia artificial"
            textColor="text-white"
            bgColor="bg-lime-900"
          />
        </section>
      </ExperienceTimeline>
    </section>
  </div>
</section>

<style>
  p {
    text-wrap: balance;
  }
</style>
