---
interface Props {
  role: string;
  company: string;
  date: string;
  current: string;
}
const { role, company, date, current } = Astro.props;
---

<article class="w-full flex gap-2 pb-4 transition-all rounded-lg border-1">
  <section class="w-auto flex flex-col gap-1 justify-center items-center">
    <div class="w-10 h-10 flex justify-center items-center">
      <span
        class="w-[38px] h-[38px] rounded-full flex justify-center items-center bg-[#113B73]"
      >
        <slot name="icon" />
      </span>
    </div>
    <div class="w-10 h-full flex justify-center items-center">
      <span class="w-[2px] h-full bg-[#F5F9FF] opacity-30 rounded-full"></span>
    </div>
  </section>
  <section
    class="w-full flex flex-col gap-2 text-[#F5F9FF] justify-between items-center max-sm:flex-col max-sm:gap-2 max-sm:justify-start"
  >
    <div class="w-full flex flex-col gap-2">
      <div class="flex justify-between">
        <span class="font-bold text-lg">{role}</span>
        <span
          class="font-light text-xs p-1 rounded text-[#F5F9FF] bg-[#113B73] flex items-center justify-center"
        >
          {current}
        </span>
      </div>
      <p class="font-bold text-base opacity-80 max-sm:w-full">{company}</p>
      <p class="text-xs font-bold opacity-60 dark:opacity-40">
        {date}
      </p>
    </div>
    <section class="py-2 max-sm:py-1">
      <slot name="description" />
      <slot name="technologies" />
    </section>
  </section>
</article>
