---
import Backdrop from "../Backdrop.astro";
import ButtonContact from "../ButtonContact.astro";
import Github from "../contactIcons/Github.astro";
import { IconCode } from "../icons/Icons";
import DarkModeToogle from "./DarkModeToogle.astro";
import Menu from "./Menu.astro";
import MenuToggle from "./MenuToggle.astro";
---

<header
  class="w-full h-auto backdrop-blur-3xl bg-zinc-100/70 dark:bg-zinc-950/70 sticky top-0 z-10 border-2 border-[#96F]/5 font-medium text-base text-[#0A0C10] dark:text-[#F5F9FF]"
>
  <div
    class="lg:container lg:mx-auto flex justify-between items-center px-3 py-0 lg:px-10"
  >
    <Backdrop />
    <a
      class="w-auto h-full p-0 py-4 max-md:px-1 max-sm:py-0 opacity-70 hover:opacity-100 max-sm:px-0"
      href="/"
    >
      <IconCode />
    </a>
    <Menu />
    <section class="flex items-center gap-4 [&>a>svg]:w-6">
      <Github hyperlink="https://github.com/ypnqh/" />
      <DarkModeToogle />
      <MenuToggle />
      <ButtonContact
        style="border-2 border-[#96F]/90 bg-zinc-100 text-zinc-950 rounded-md bg-opacity-90 hover:bg-opacity-100 transition-opacity duration-20 py-1.5 px-3 text-sm shadow-[0px_0px_15px_2px] shadow-purple-500/50 hidden md:block"
      />
    </section>
  </div>
</header>

<script>
  const button = document.querySelector(".haburger") as HTMLButtonElement;
  const menu = document.querySelector(".menu-nav") as HTMLDivElement;

  button.addEventListener("click", () => {
    menu.classList.toggle("active");
    button.classList.toggle("active");
  });
</script>
