---
import Backdrop from "../Backdrop.astro";
---

<header
  class="w-full h-auto backdrop-blur-3xl bg-[#F5F9FF]/70 dark:bg-[#0A0C10]/70 sm:sticky sm:top-0 right-0 left-0 z-30 max-sm:fixed max-sm:bottom-0"
>
  <div
    class="w-full h-auto container mx-auto py-0 px-60 flex justify-between items-center font-bold text-base text-[#0A0C10] dark:text-[#F5F9FF] max-xl:px-40 max-lg:px-10 max-md:px-5 max-sm:justify-center relative"
    id="header-menu"
  >
    <Backdrop />
    <div class="w-auto h-full p-0 py-4 max-md:px-1 max-sm:py-0 max-sm:hidden">
      <a class="opacity-70 hover:opacity-100 max-sm:opacity-0" href="/">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon icon-tabler icon-tabler-code"
          width="30"
          height="30"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path d="M7 8l-4 4l4 4"></path>
          <path d="M17 8l4 4l-4 4"></path>
          <path d="M14 4l-4 16"></path>
        </svg>
      </a>
    </div>
    <nav
      class="w-auto h-full pl-10 pr-10 py-4 z-10 flex items-center justify-between max-lg:px-4 max-md:px-2 max-md:py-2 max-sm:text-sm"
      id="backdrop"
    >
      <ul
        class="w-auto h-full flex items-center p-0 [&>li]:py-2 [&>li]:px-4 [&>li]:rounded-lg max-sm:[&>li]:px-3 max-sm:justify-between max-sm:w-full"
      >
        <li class="max-md:hidden max-sm:block">
          <a
            class="opacity-70 hover:opacity-100 hover:[text-shadow:0_0_10px_#F5F9FF]"
            href="#home"
          >
            Inicio
          </a>
        </li>
        <li class="max-sm:hidden">
          <a
            class="opacity-70 hover:opacity-100 hover:[text-shadow:0_0_10px_#F5F9FF]"
            href="#about"
          >
            Conoceme
          </a>
        </li>
        <li>
          <a
            class="opacity-70 hover:opacity-100 hover:[text-shadow:0_0_10px_#F5F9FF]"
            href="#experience"
          >
            Experiencia
          </a>
        </li>
        <li>
          <a
            class="opacity-70 hover:opacity-100 hover:[text-shadow:0_0_10px_#F5F9FF]"
            href="#proyect"
          >
            Proyectos
          </a>
        </li>
        <li>
          <a
            class="opacity-70 hover:opacity-100 hover:[text-shadow:0_0_10px_#F5F9FF]"
            href="#"
          >
            Blog
          </a>
        </li>
        <li>
          <a
            class="opacity-70 hover:opacity-100 hover:[text-shadow:0_0_10px_#F5F9FF]"
            href="#contact"
          >
            Contacto
          </a>
        </li>
      </ul>
    </nav>
    <button
      class="p-0 flex justify-center items-center w-auto h-full py-4 max-md:px-1 max-sm:hidden"
      id="dark_mode-toggle"
      aria-label="ChangeTheme"
    >
      <span class="opacity-70 hover:opacity-100" id="sun-icon">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon icon-tabler icon-tabler-sun stroke-[#0A0C10] dark:stroke-[#F5F9FF]"
          width="30"
          height="30"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path
            d="M14.828 14.828a4 4 0 1 0 -5.656 -5.656a4 4 0 0 0 5.656 5.656z"
          ></path>
          <path d="M6.343 17.657l-1.414 1.414"></path>
          <path d="M6.343 6.343l-1.414 -1.414"></path>
          <path d="M17.657 6.343l1.414 -1.414"></path>
          <path d="M17.657 17.657l1.414 1.414"></path>
          <path d="M4 12h-2"></path>
          <path d="M12 4v-2"></path>
          <path d="M20 12h2"></path>
          <path d="M12 20v2"></path>
        </svg>
      </span>
      <span class="opacity-70 hover:opacity-100" id="moon-icon">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon icon-tabler icon-tabler-moon stroke-[#0A0C10] dark:stroke-[#F5F9FF]"
          width="30"
          height="30"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path
            d="M12 3c.132 0 .263 0 .393 0a7.5 7.5 0 0 0 7.92 12.446a9 9 0 1 1 -8.313 -12.454z"
          ></path>
        </svg>
      </span>
    </button>
  </div>
</header>

<script>
  const prefersColorScheme = window.matchMedia(
    "(prefers-color-scheme: dark)"
  ).matches;

  const isDarkModeMachine =
    localStorage.theme === "dark" ||
    (!("theme" in localStorage) && prefersColorScheme);

  isDarkModeMachine
    ? document.documentElement.classList.add("dark")
    : document.documentElement.classList.remove("dark");

  const sun = document.querySelector("#sun-icon") as HTMLElement;
  const moon = document.querySelector("#moon-icon") as HTMLElement;

  const toggleChange = document.querySelector("#dark_mode-toggle");

  toggleChange.addEventListener("click", (e) => {
    const toggle = document.documentElement.classList.toggle("dark");
    const removeItem = localStorage.removeItem("theme");

    toggle
      ? (localStorage.theme = "dark") &&
        (sun.style.display = "none") &&
        (moon.style.display = "block")
      : ((localStorage.theme = "light") &&
          (sun.style.display = "block") &&
          (moon.style.display = "none")) ||
        removeItem;
  });
  document.documentElement.classList.contains("dark")
    ? (sun.style.display = "none") && (moon.style.display = "block")
    : (sun.style.display = "block") && (moon.style.display = "none");
</script>
