---
import Backdrop from "../Backdrop.astro";
import DarkModeToggle from "../DarkModeToggle.astro";
---

<header
  class="w-full h-auto px-5 justify-center items-center sticky backdrop-blur-3xl bg-[#F5F9FF]/70 dark:bg-[#0A0C10]/70 top-0 right-0 left-0 z-30 max-md:px-0"
>
  <div
    class="w-full h-auto container mx-auto px-10 py-0 flex justify-between items-center font-bold text-base text-[#0A0C10] dark:text-[#F5F9FF] max-lg:px-5 max-md:p-0"
    id="header-menu"
  >
    <Backdrop />
    <div class="w-auto h-full px-10 py-4 max-lg:px-4 max-md:px-1">
      <a class="opacity-70 hover:opacity-100 max-sm:opacity-0" href="/">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon icon-tabler icon-tabler-code"
          width="30"
          height="30"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path d="M7 8l-4 4l4 4"></path>
          <path d="M17 8l4 4l-4 4"></path>
          <path d="M14 4l-4 16"></path>
        </svg>
      </a>
    </div>
    <nav
      class="w-auto h-full pl-10 pr-10 py-4 z-10 flex items-center justify-between max-lg:px-4 max-md:px-2 max-md:py-2 max-sm:hidden"
      id="backdrop"
    >
      <ul
        class="w-auto h-full flex items-center p-0 [&>li]:py-2 [&>li]:px-4 [&>li]:rounded-lg max-sm:flex-col max-sm:items-start max-sm:w-full"
      >
        <li class="w-full text-left max-md:hidden">
          <a
            class="opacity-70 hover:opacity-100 hover:[text-shadow:0_0_10px_#F5F9FF]"
            href="#home"
          >
            Inicio
          </a>
        </li>
        <li>
          <a
            class="opacity-70 hover:opacity-100 hover:[text-shadow:0_0_10px_#F5F9FF]"
            href="#about"
          >
            Conoceme
          </a>
        </li>
        <li>
          <a
            class="opacity-70 hover:opacity-100 hover:[text-shadow:0_0_10px_#F5F9FF]"
            href="#experience"
          >
            Experiencia
          </a>
        </li>
        <li>
          <a
            class="opacity-70 hover:opacity-100 hover:[text-shadow:0_0_10px_#F5F9FF]"
            href="#proyect"
          >
            Proyectos
          </a>
        </li>
        <li>
          <a
            class="opacity-70 hover:opacity-100 hover:[text-shadow:0_0_10px_#F5F9FF]"
            href="#contact"
          >
            Contacto
          </a>
        </li>
      </ul>
    </nav>
    <DarkModeToggle />
  </div>
</header>
