---
import Backdrop from "../Backdrop.astro";
import ButtonContact from "../ButtonContact.astro";
import Github from "../contactIcons/Github.astro";
import DarkModeToogle from "./DarkModeToogle.astro";
import Menu from "./Menu.astro";
import MenuToggle from "./MenuToggle.astro";
---

<header
  class="w-full h-auto backdrop-blur-3xl bg-zinc-100/70 dark:bg-zinc-950/70 sticky top-0 z-10 border-2 border-[#96F]/5"
>
  <div
    class="w-full h-auto container mx-auto flex justify-between items-center font-medium text-base text-[#0A0C10] dark:text-[#F5F9FF] max-xl:px-5 max-sm:py-3"
  >
    <Backdrop />
    <a
      class="w-auto h-full p-0 py-4 max-md:px-1 max-sm:py-0 opacity-70 hover:opacity-100 max-sm:px-0"
      href="/"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="stroke-[#0A0C10] dark:stroke-[#F5F9FF] hover:stroke-purple-600 hover:scale-125 dark:hover:stroke-purple-600 transition-all duration-500 focus-visible:text-[#96F] opacity-70 hover:opacity-100"
        width="30"
        height="30"
        viewBox="0 0 24 24"
        stroke-width="2"
        stroke="currentColor"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <path d="M7 8l-4 4l4 4"></path>
        <path d="M17 8l4 4l-4 4"></path>
        <path d="M14 4l-4 16"></path>
      </svg>
    </a>
    <Menu />
    <section class="flex items-center gap-4 [&>a>svg]:w-6">
      <Github hyperlink="https://github.com/ypnqh/" />
      <DarkModeToogle />
      <MenuToggle />
      <ButtonContact
        style="border-2 border-[#96F]/90 bg-zinc-100 text-zinc-950 rounded-md bg-opacity-90 hover:bg-opacity-100 transition-opacity duration-20 py-1.5 px-3 text-sm shadow-[0px_0px_15px_2px] shadow-purple-500/50"
      />
    </section>
  </div>
</header>

<script>
  const button = document.querySelector(".haburger");
  const menu = document.querySelector(".menu-nav");

  button.addEventListener("click", () => {
    menu.classList.toggle("active");
    button.classList.toggle("active");
  });
</script>
