---
import Backdrop from "../Backdrop.astro";
import DarkModeToggle from "./DarkModeToggle.astro";
---

<header class="w-full h-auto">
  <div
    class="w-full h-auto container mx-auto px-10 py-4 flex justify-between items-center font-bold text-base text-[#0A0C10] dark:text-[#F5F9FF]"
  >
    <Backdrop />
    <div class="w-auto h-full px-10 py-4">
      <a class="opacity-70 hover:opacity-100" href="/">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon icon-tabler icon-tabler-code"
          width="30"
          height="30"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path d="M7 8l-4 4l4 4"></path>
          <path d="M17 8l4 4l-4 4"></path>
          <path d="M14 4l-4 16"></path>
        </svg>
      </a>
    </div>
    <nav
      class="w-auto h-full px-10 flex items-center justify-center relative z-10"
      id="backdrop"
    >
      <ul
        class="w-auto h-full flex items-center p-0 [&>li]:py-2 [&>li]:px-4 [&>li]:rounded-lg"
      >
        <li>
          <a
            class="opacity-70 hover:opacity-100 hover:[text-shadow:0_0_10px_#F5F9FF]"
            href="/"
          >
            Inicio
          </a>
        </li>
        <li>
          <a
            class="opacity-70 hover:opacity-100 hover:[text-shadow:0_0_10px_#F5F9FF]"
            href="#"
          >
            Conoceme
          </a>
        </li>
        <li>
          <a
            class="opacity-70 hover:opacity-100 hover:[text-shadow:0_0_10px_#F5F9FF]"
            href="#"
          >
            Experiencia
          </a>
        </li>
        <li>
          <a
            class="opacity-70 hover:opacity-100 hover:[text-shadow:0_0_10px_#F5F9FF]"
            href="#"
          >
            Proyectos
          </a>
        </li>
        <li>
          <a
            class="opacity-70 hover:opacity-100 hover:[text-shadow:0_0_10px_#F5F9FF]"
            href="#"
          >
            Contacto
          </a>
        </li>
      </ul>
    </nav>
    <div class="px-10">
      <DarkModeToggle />
    </div>
  </div>
</header>
