---
interface Props {
  href: string;
}

const { href } = Astro.props;
---

<li class="list-menu">
  <a class="link-menu" href={href}>
    <slot name="title" />
    <div class="dotted-lines"></div>
    <slot />
    <slot name="description" />
  </a>
</li>

<style>
  .list-menu {
    width: 100%;
  }

  .link-menu {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 16px 0;
    transition-property: all 0.15s ease-in-out;
    opacity: 0.8;
  }

  .dotted-lines {
    --line-color: rgb(161 161 170);
    height: 1px;
    background-image: linear-gradient(
      90deg,
      var(--line-color),
      var(--line-color) 50%,
      transparent 0,
      transparent
    );
    background-size: 8px 1px;
    flex: 1 1 0%;
    margin: 0 8px 6px;
  }

  .list-menu:hover a {
    opacity: 1;
    color: rgb(14 165 233);
    text-shadow: 0 0 5px rgb(14, 165, 233);
  }

  @media (min-width: 768px) {
    .list-menu {
      width: auto;
    }

    .link-menu {
      width: auto;
      padding: 10px 18px 6px 18px;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
    }

    .dotted-lines {
      display: none;
    }
  }
</style>
