---
interface Props {
  href: string;
}

const { href } = Astro.props;
---

<li class="w-full md:w-auto">
  <a
    class="flex w-full md:items-center items-end justify-center md:pt-[10px] md:pb-1.5 md:px-[18px] font-normal text-base opacity-80 leading-5 hover:opacity-100 transition-opacity duration-200 md:w-auto"
    href={href}
  >
    <slot />
  </a>
</li>
