<button
  class="w-[30px] h-[30px] flex flex-col items-center justify-center gap-2 border-0 bg-transparent opacity-70 hover:opacity-100 sm:hidden"
  id="hambuger"
>
  <span class="bg-amber-50 h-[2px] w-full rounded transition-all origin-left"
  ></span>
  <span class="bg-amber-50 h-[2px] w-full rounded transition-all origin-left"
  ></span>
  <span class="bg-amber-50 h-[2px] w-full rounded transition-all origin-left"
  ></span>
</button>
