<nav
  class="w-auto h-full max-md:bg-[#F5F9FF] max-md:dark:bg-[#0A0C10] border-2 border-[#96F]/5 md:border-none md:bg-none rounded p-4 max-lg:px-4 max-md:hidden max-md:fixed max-md:top-full max-md:right-0 max-md:w-1/2 max-md:h-screen menu-nav"
  id="backdrop"
>
  <ul
    class="w-full h-full flex flex-col md:flex-row md:items-center p-0 [&>li]:rounded-lg gap-4 md:w-auto md:gap-0 max-md:text-sm [&>li]:list-none [&>li]:py-2 [&>li]:px-4 [&>li] [&>li]:inline-flex [&>li]:items-center [&>li>a]:items-center [&>li>a]:no-underline [&>li>a]:pt-1"
  >
    <li>
      <a
        class="opacity-80 hover:opacity-100 transition-opacity duration-200"
        href="#home"
      >
        Sobre mi</a
      >
    </li>

    <li>
      <a
        class="opacity-80 hover:opacity-100 transition-opacity duration-200"
        href="#experience"
      >
        Experiencia
      </a>
    </li>
    <li>
      <a
        class="opacity-80 hover:opacity-100 transition-opacity duration-200"
        href="#proyect"
      >
        Potafolio</a
      >
    </li>
    <li>
      <a
        class="opacity-80 hover:opacity-100 transition-opacity duration-200"
        href="#"
      >
        Blog</a
      >
    </li>
    <li>
      <a
        class="opacity-80 hover:opacity-100 transition-opacity duration-200"
        href="#about"
      >
        Fotos</a
      >
    </li>
    <li>
      <a
        class="opacity-80 hover:opacity-100 transition-opacity duration-200"
        href="#about"
      >
        Libros</a
      >
    </li>
  </ul>
</nav>

<style>
  @media not all and (min-width: 768px) {
    .menu-nav.active {
      display: block;
      transition: all 0.9s ease-in-out;
    }
  }
</style>
