<button
  class="w-6 h-6 flex flex-col items-center justify-around border-0 bg-transparent opacity-70 hover:opacity-100 md:hidden haburger"
>
  <span
    class="dark:bg-[#F5F9FF] bg-[#0A0C10] h-[2px] w-full rounded transition-all origin-left duration-500"
  ></span>
  <span
    class="dark:bg-[#F5F9FF] bg-[#0A0C10] h-[2px] w-full rounded transition-all duration-500"
  ></span>
  <span
    class="dark:bg-[#F5F9FF] bg-[#0A0C10] h-[2px] w-full rounded transition-all origin-left duration-500"
  ></span>
</button>
<style>
  .haburger.active span:first-child {
    transform: rotate(45deg) translate(2px, -2px);
  }

  .haburger.active span:nth-child(2) {
    opacity: 0;
    margin-left: -28px;
    transition: opacity 0.4s ease-in-out, margin-left 0.5s ease-in-out;
  }

  .haburger.active span:last-child {
    transform: rotate(-45deg) translate(2px, 2px);
  }
</style>
