<nav
  class="w-auto h-full pl-10 pr-10 py-4 flex items-center justify-between max-sm:backdrop-blur-2xl max-sm:bg-[#F5F9FF]/90 max-sm:dark:bg-[#0A0C10]/70 max-lg:px-4 max-md:px-2 max-md:py-2 max-sm:text-sm max-sm:hidden max-sm:fixed max-sm:top-full max-sm:right-0 max-sm:w-1/2 max-sm:h-screen menu"
  id="backdrop"
>
  <ul
    class="w-auto h-full flex items-center p-0 [&>li]:py-2 [&>li]:px-4 [&>li]:rounded-lg max-sm:[&>li]:px-3 max-sm:w-full max-sm:flex-col max-sm:[&>li]:py-4"
  >
    <li class="max-md:hidden max-sm:block">
      <a
        class="opacity-70 hover:opacity-100 hover:[text-shadow:0_0_10px_#F5F9FF]"
        href="#home"
      >
        Inicio
      </a>
    </li>
    <li>
      <a
        class="opacity-70 hover:opacity-100 hover:[text-shadow:0_0_10px_#F5F9FF]"
        href="#about"
      >
        Conoceme
      </a>
    </li>
    <li>
      <a
        class="opacity-70 hover:opacity-100 hover:[text-shadow:0_0_10px_#F5F9FF]"
        href="#experience"
      >
        Experiencia
      </a>
    </li>
    <li>
      <a
        class="opacity-70 hover:opacity-100 hover:[text-shadow:0_0_10px_#F5F9FF]"
        href="#proyect"
      >
        Proyectos
      </a>
    </li>
    <li>
      <a
        class="opacity-70 hover:opacity-100 hover:[text-shadow:0_0_10px_#F5F9FF]"
        href="#"
      >
        Blog
      </a>
    </li>
    <li>
      <a
        class="opacity-70 hover:opacity-100 hover:[text-shadow:0_0_10px_#F5F9FF]"
        href="#contact"
      >
        Contacto
      </a>
    </li>
  </ul>
</nav>
