---
import ButtonContact from "../buttons/ButtonContact.astro";
import ListOfMenu from "./ListOfMenu.astro";
---

<nav
  class="w-full h-full bg-zinc-950 md:bg-transparent md:border-none border-2 border-[#96F]/5 md:block flex-col items-center justify-center md:bg-none rounded p-4 max-lg:px-4 hidden max-md:fixed max-md:top-full max-md:right-0 max-md:w-4/5 max-md:h-screen md:w-auto menu-nav"
  id="backdrop"
>
  <ul class="w-auto flex flex-col items-center md:flex-row md:items-center p-0">
    <ListOfMenu href="#about" textMenu="Sobre mí" />
    <ListOfMenu href="#proyect" textMenu="Potafolio" />
    <ListOfMenu href="/blog" textMenu="Blog" />
    <ListOfMenu href="/photos" textMenu="Fotos" />
    <ListOfMenu href="/books" textMenu="Libros" />
    <ListOfMenu href="/resources" textMenu="Recursos" />
    <ButtonContact
      style="w-28 mt-10 z-50 border-2 border-[#96F]/90 bg-zinc-100 text-zinc-950 rounded-md bg-opacity-90 hover:bg-opacity-100 transition-opacity duration-20 py-1.5 px-3 text-sm block md:hidden"
    />
  </ul>
</nav>

<style>
  @media (max-width: 768px) {
    .menu-nav.active {
      display: block;
      transition: all 0.9s ease-in-out;
      transform-origin: left;
    }
  }
</style>
