---
import Button from "../buttons/Button.astro";
import ListOfMenu from "./ListOfMenu.astro";
---

<nav
  class="menu-nav w-full h-screen gap-20 right-0 left-0 bottom-0 hidden fixed top-full bg-zinc-950 border-2 border-sky-950/30 rounded backdrop-blur-xl z-50 py-8 px-4 md:hidden"
>
  <ul class="w-full flex flex-col justify-center items-center gap-5">
    <ListOfMenu href="/#experience">
      <span slot="title">Experiencia</span>
      <p
        slot="description"
        class="text-sm text-zinc-300 group-hover:text-opacity-90 opacity-90"
      >
        Mi experiencia profesional.
      </p>
    </ListOfMenu>
    <ListOfMenu href="/#proyect">
      <span slot="title">Portafolio</span>
      <p
        slot="description"
        class="text-sm text-zinc-300 group-hover:text-opacity-90 opacity-90"
      >
        Trabajos que hice.
      </p>
    </ListOfMenu>
    <ListOfMenu href="/blogs">
      <span slot="title">Blog</span>
      <p
        slot="description"
        class="text-sm text-zinc-300 group-hover:text-opacity-90 opacity-90"
      >
        Algunos blogs que escribé.
      </p>
    </ListOfMenu>
    <ListOfMenu href="/photos">
      <span slot="title">Fotos</span>
      <p
        slot="description"
        class="text-sm text-zinc-300 group-hover:text-opacity-90 opacity-90"
      >
        Lugares que visité.
      </p>
    </ListOfMenu>
    <ListOfMenu href="/books">
      <span slot="title">Libros</span>
      <p
        slot="description"
        class="text-sm text-zinc-300 group-hover:text-opacity-90 opacity-90"
      >
        Libros que leí.
      </p>
    </ListOfMenu>
    <ListOfMenu href="/resources">
      <span slot="title">Recursos</span>
      <p
        slot="description"
        class="text-sm text-zinc-300 group-hover:text-opacity-90 opacity-90"
      >
        Recursos que uso.
      </p>
    </ListOfMenu>
    <Button
      className="contact contact-header contact-header-mobile "
      buttonName="¡A trabajar!"
      href="mailto:hyupanquia24@gmail.com"
      target="_blank"
      rel="noopener noreferrer"
    />
  </ul>
</nav>

<style>
  @media (max-width: 768px) {
    .menu-nav.active {
      display: block;
      transition: all 0.9s ease-in-out;
      transform-origin: left;
    }
  }

  nav {
    --line-color: #a1a1aa;
  }
</style>
