---
import ListOfMenu from "./ListOfMenu.astro";
---

<nav class="hidden md:block" id="backdrop">
  <ul class="w-auto flex items-center">
    <ListOfMenu href="/#experience">Experiencia</ListOfMenu>
    <ListOfMenu href="/#proyect">Potafolio</ListOfMenu>
    <ListOfMenu href="/blogs">Blog</ListOfMenu>
    <ListOfMenu href="/photos">Fotos</ListOfMenu>
    <ListOfMenu href="/books">Libros</ListOfMenu>
    <ListOfMenu href="/resources">Recursos</ListOfMenu>
  </ul>
</nav>
