---
import ListOfMenu from "./ListOfMenu.astro";
---

<nav class="navbar-menu" id="backdrop">
  <ul class="menu-list">
    <ListOfMenu href="/#experience">Experiencia</ListOfMenu>
    <ListOfMenu href="/#proyect">Potafolio</ListOfMenu>
    <ListOfMenu href="/blogs">Blog</ListOfMenu>
    <ListOfMenu href="/photos">Fotos</ListOfMenu>
    <ListOfMenu href="/books">Libros</ListOfMenu>
    <ListOfMenu href="/resources">Recursos</ListOfMenu>
  </ul>
</nav>

<style>
  .navbar-menu {
    display: none;
  }

  .menu-list {
    width: auto;
    display: flex;
    align-items: center;
  }

  @media (min-width: 768px) {
    .navbar-menu {
      display: block;
    }
  }
</style>
