<div id="menu-backdrop"></div>

<style>
  #menu-backdrop {
    --left: 0;
    --top: 0;
    --width: 0;
    --height: 0;
    --tw-translate-x: var(--left);
    --tw-translate-y: var(--top);
    transform: translate(var(--tw-translate-x), var(--tw-translate-y));
    transform: translate(var(--tw-translate-x), var(--tw-translate-y));
    width: var(--width);
    height: var(--height);
    position: absolute;
    z-index: -50;
    top: 0;
    left: 0;
    transition: all 0.3s ease-in-out;
    visibility: hidden;
    background-color: rgb(14 165 233 / 0.1);
    border: 1px solid rgb(14 165 233 / 0.3);
    border-radius: 4px;
    backdrop-filter: blur(50px);
  }
</style>

<script>
  const listItem = document.querySelectorAll("#backdrop li a");
  const menuBackDrop = document.querySelector("#menu-backdrop") as HTMLElement;

  listItem.forEach((item) => {
    item.addEventListener("mouseenter", () => {
      const { left, top, width, height } = item.getBoundingClientRect();

      menuBackDrop.style.setProperty("--left", `${left}px`);
      menuBackDrop.style.setProperty("--top", `${top}px`);
      menuBackDrop.style.setProperty("--width", `${width}px`);
      menuBackDrop.style.setProperty("--height", `${height}px`);

      menuBackDrop.style.opacity = "1";
      menuBackDrop.style.visibility = "visible";
    });

    item.addEventListener("mouseleave", () => {
      menuBackDrop.style.opacity = "0";
      menuBackDrop.style.visibility = "hidden";
    });
  });
</script>
