<div
  id="menu-backdrop"
  class={`
  absolute bg-purple-700/40  blur-md rounded-sm  
  translate-x-[var(--left)] translate-y-[var(--top)]
  left-0 top-0  invisible
  w-[var(--width)] h-[var(--height)]
  transition-all duration-500 
  ease-in-out  pointer-events-none -z-50 
`}
>
  /40
</div>

<script>
  const listItem = document.querySelectorAll("#backdrop li a");
  const menuBackDrop = document.querySelector("#menu-backdrop") as HTMLElement;

  listItem.forEach((item) => {
    item.addEventListener("mouseenter", () => {
      const { left, top, width, height } = item.getBoundingClientRect();

      menuBackDrop.style.setProperty("--left", `${left}px`);
      menuBackDrop.style.setProperty("--top", `${top}px`);
      menuBackDrop.style.setProperty("--width", `${width}px`);
      menuBackDrop.style.setProperty("--height", `${height}px`);

      menuBackDrop.style.opacity = "1";
      menuBackDrop.style.visibility = "visible";
    });

    item.addEventListener("mouseleave", () => {
      menuBackDrop.style.opacity = "0";
      menuBackDrop.style.visibility = "hidden";
    });
  });
</script>
