---
interface Props {
  style?: string;
}

const { style } = Astro.props;
---

<a
  class={style}
  href="mailto:hyupanquia24@gmail.com"
  target="_blank"
  rel="noopener noreferrer"
>
  ¡A trabajar!
</a>
