---
interface Props {
  href: string;
  className?: string;
}

const { href, className } = Astro.props;
---

<li>
  <a
    class=`contact-info ${className}`
    href={href}
    rel="noopener noreferrer"
    target="_blank"
  >
    <slot />
  </a>
</li>

<style is:inline>
  .contact-info:hover svg {
    transform: scaleX(1.05) scaleY(1.05);
  }
</style>

<style>
  .contact-info {
    width: 36px;
    height: 36px;
    background-color: rgb(24 24 27 / 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: all 0.3s;
    border: 2px solid rgb(63 63 70 / 0.8);
    border-radius: 100%;
    cursor: pointer;
  }
</style>
