---
interface Props {
  href: string;
  className?: string;
}

const { href, className } = Astro.props;
---

<li class="list-none">
  <a
    class=`group flex items-center justify-center relative transition-all duration-300 contactInfo ${className}`
    href={href}
    rel="noopener noreferrer"
    target="_blank"
  >
    <slot />
  </a>
</li>
