---
interface Props {
  href: string;
  network: string;
}

const { href, network } = Astro.props;
---

<li>
  <a
    href={href}
    rel="noopener noreferrer"
    target="_blank"
    aria-label=`Visitar a ${network}`
  >
    <slot />
  </a>
</li>

<style is:inline>
  a:hover svg {
    transform: scaleX(1.05) scaleY(1.05);
    transition: all 0.3s ease-in-out;
  }

  a:hover .tooltip {
    display: block;
    transition: all 0.3s ease-in-out;
  }
</style>

<style>
  a {
    width: 36px;
    height: 36px;
    background-color: rgb(24 24 27 / 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: all 0.5s ease-in-out;
    border: 2px solid rgb(63 63 70 / 0.8);
    border-radius: 100%;
    cursor: pointer;
  }
</style>
