---
interface Props {
  href: string;
  style?: string;
}

const { href, style } = Astro.props;
---

<li class="list-none">
  <a
    class=`group flex items-center justify-center relative transition-all duration-300 contactInfo ${style}`
    href={href}
    rel="noopener noreferrer"
    target="_blank"
  >
    <slot />
  </a>
</li>
