---
interface Props {
  href: string;
  style?: string;
}

const { href, style } = Astro.props;
---

<li class="list-none">
  <a
    class=`cursor-pointer group w-9 h-9 border-2 
        border-zinc-700/80 bg-zinc-900/50 flex items-center justify-center
        rounded-full relative transition-all duration-300 
        ${style}`
    href={href}
    rel="noopener noreferrer"
    target="_blank"
  >
    <slot />
  </a>
</li>
