<section class="flex gap-2">
  <span
    class="inline-flex items-center rounded-md border-2 font-medium transition-all px-2 py-0.5 text-sm cursor-pointer bg-yellow-500/20 border-yellow-500/30 text-yellow-100 hover:bg-yellow-500/40"
  >
    Fútbol
  </span>
  <span
    class="inline-flex items-center rounded-md border-2 font-medium transition-all px-2 py-0.5 text-sm cursor-pointer bg-orange-700/20 border-orange-700/30 text-orange-100 hover:bg-orange-700/40"
  >
    Correr
  </span>
  <span
    class="inline-flex items-center rounded-md border-2 font-medium transition-all px-2 py-0.5 text-sm cursor-pointer bg-green-500/20 border-green-500/30 text-green-100 hover:bg-green-500/40"
  >
    Caminar
  </span>
  <span
    class="inline-flex items-center rounded-md border-2 font-medium transition-all px-2 py-0.5 text-sm cursor-pointer bg-blue-500/20 border-blue-500/30 text-blue-100 hover:bg-blue-500/40"
  >
    Fotografía
  </span>
</section>
