---
interface Props {
  title?: string;
  className?: string;
  nameId?: string;
}

const { title, className, nameId } = Astro.props;
---

<section class=`flex max-w-5xl mx-auto p-4 ${className}` id={nameId}>
  {title && <h2 class="text-3xl font-semibold">{title}</h2>}
  <slot />
</section>
