---
import { IconStar } from "./icons/Icons";
---

<a
  class="group p-2 border-2 border-gray-400 dark:border-gray-700 rounded-full bg-gray-300 dark:bg-gray-900 hover:bg-yellow-500 dark:hover:bg-yellow-500 hover:border-yellow-600 [&>svg]:stroke-yellow-600 [&>svg]:fill-yellow-500 relative flex justify-center items-center transition-colors duration-150"
  href="https://github.com/ypnqh/portfolio/stargazers"
  data-tip="Star on Github"
  rel="noopener noreferrer"
  target="_blank"
>
  <IconStar />
  <span
    class="group-hover:block text-gray-950 text-xs -bottom-[50px] font-medium absolute hidden bg-gray-300 py-2 px-3 rounded dark:bg-gray-700 dark:text-gray-300 transition-all"
  >
    <span
      class="w-5 h-5 bg-gray-300 absolute -top-2 left-[62px] rotate-45 rounded-sm -z-10 dark:bg-gray-700"
    ></span>
    <p class="whitespace-nowrap">Una estrella en GitHub</p>
  </span>
</a>
