---
interface Props {
  name: string;
}

const { name } = Astro.props;
---

<span class="tech-tags">
  {name}
</span>

<style>
  .tech-tags {
    background-color: rgb(24 24 27 / 0.5);
    color: rgb(228 228 231);
    border: 1px solid rgb(63 63 70 / 0.8);
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
    padding: 3px 10px;
    border-radius: 1rem;
  }
</style>
