---
interface Props {
  tech: string;
  href: string;
  class: string;
}

const { tech, href } = Astro.props;
---

<li class="list-disc list-inside">
  <a
    class:list={[
      "opacity-85 text-xs hover:opacity-100 hover:underline transition-all duration-300 ease-in-out",
      Astro.props.class,
    ]}
    href={href}
  >
    {tech}
  </a>
</li>
