---
interface Props {
  name: string;
  className?: string;
}

const { name, className = "default" } = Astro.props;
---

<li class="tech-tags">
  <span class=`circle ${className}`></span>
  <span class="name">{name}</span>
</li>

<style>
  .tech-tags {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    background-color: rgb(24 24 27 / 0.5);
    color: rgb(228 228 231);
    border: 1px solid rgb(63 63 70 / 0.8);
    font-weight: 300;
    font-size: 12px;
    padding: 3px 8px;
    border-radius: 1rem;
    margin-right: 10px;
  }

  .circle {
    border-radius: 100%;
    width: 10px;
    height: 10px;
  }

  .name {
    opacity: 0.7;
  }

  .default {
    background-color: #fff;
  }

  .javascript {
    background-color: #f0db4f;
  }

  .typescript {
    background-color: #007acc;
  }

  .php {
    background-color: #777bb3;
  }

  .html {
    background-color: #e34c26;
  }

  .css {
    background-color: #264de4;
  }

  .vuejs {
    background-color: #41b883;
  }

  .react {
    background-color: #61dbfb;
  }

  .angular {
    background-color: #dd0031;
  }

  .node {
    background-color: #026e00;
  }

  .laravel {
    background-color: #f55247;
  }

  .mysql {
    background-color: #4479a1;
  }

  .postgresql {
    background-color: #336791;
  }

  .mongodb {
    background-color: #13aa52;
  }

  .oracledatabase {
    background-color: #f80000;
  }

  .sqlserver {
    background-color: #cc2927;
  }

  .redis {
    background-color: #dc382d;
  }

  .docker {
    background-color: #2496ed;
  }

  .tailwindcss {
    background-color: #06b6d4;
  }

  .python {
    background-color: #3776ab;
  }

  .java {
    background-color: #007396;
  }
</style>
