<label
  class="w-14 h-8 text-[17px] relative inline-block before:absolute before:w-full before:h-full before:left-0 before:top-0 before:-z-10 before:rounded-[50px] before:bg-[#d8ff99]"
  aria-label="ChangeTheme"
>
  <input
    type="checkbox"
    class="input__check opacity-0 w-0 h-0"
    id="switch-theme"
    checked
  />
  <span
    class="absolute cursor-pointer top-0 left-0 right-0 bottom-0 bg-[#fdfefedc] transition-[0.4s] rounded-[30px] before:absolute before:h-[1.4rem] before:w-[1.4rem] before:left-[.35rem] before:bottom-[.35rem] before:rounded-full before:transition-[0.4s] before:bg-[#ff99fd]"
  ></span>
</label>

<style>
  label::before {
    content: "";
    filter: blur(5px);
    background-image: radial-gradient(
        at 21% 46%,
        hsla(183, 65%, 60%, 1) 0px,
        transparent 50%
      ),
      radial-gradient(at 23% 25%, hsla(359, 74%, 70%, 1) 0px, transparent 50%),
      radial-gradient(at 20% 1%, hsla(267, 83%, 75%, 1) 0px, transparent 50%),
      radial-gradient(at 86% 87%, hsla(204, 69%, 68%, 1) 0px, transparent 50%),
      radial-gradient(at 99% 41%, hsla(171, 72%, 77%, 1) 0px, transparent 50%),
      radial-gradient(at 55% 24%, hsla(138, 60%, 62%, 1) 0px, transparent 50%);
  }

  span:before {
    content: "";
    box-shadow: rgba(0, 0, 0, 0.17) 0px -10px 10px 0px inset,
      rgba(0, 0, 0, 0.09) 0px -1px 15px -8px;
    background-image: radial-gradient(
        at 81% 39%,
        hsla(327, 79%, 79%, 1) 0px,
        transparent 50%
      ),
      radial-gradient(at 11% 72%, hsla(264, 64%, 79%, 1) 0px, transparent 50%),
      radial-gradient(at 23% 20%, hsla(75, 98%, 71%, 1) 0px, transparent 50%);
  }

  input:checked + span {
    background-color: #17202a;
  }

  input:checked + span:before {
    transform: translateX(1.5em);
  }
</style>
