---
interface Props {
  name: string;
}

const { name } = Astro.props;
---

<span class="tooltip">
  {name}
</span>

<style>
  .tooltip {
    position: absolute;
    width: max-content;
    height: auto;
    background-color: rgb(24 24 27 / 0.5);
    color: rgb(228 228 231);
    font-size: 12px;
    line-height: 16px;
    font-weight: 300;
    padding: 6px 10px;
    border: 2px solid rgb(63 63 70 / 0.8);
    border-radius: 6px;
    display: none;
    bottom: -40px;
  }
</style>
