<article
  class="w-full mb-4 bg-sky-400/5 border-2 border-sky-100/10 p-4 rounded-md backdrop-blur-md shadow-xl shadow-sky-300/5"
>
  <header class="flex justify-between">
    <img
      class="w-10 h-10 object-cover aspect-square rounded-full border-2 border-emerald-600/70"
      src="/me.webp"
      alt="Foto de perfil de Humberto Yupanqui Apaza de X"
      loading="lazy"
    />
    <div>
      <h6 class="w-40 text-sm font-semibold truncate">
        Humberto Yupanqui Apaza
      </h6>
      <h6 class="text-sm font-light">@yupanquidev</h6>
    </div>
    <a
      class="h-min py-1.5 px-4 text-xs bg-sky-900 rounded-full transition-colors duration-200 hover:bg-sky-800"
      href="https://x.com/yupanquidev"
      target="_blank"
      rel="noopener noreferrer"
    >
      Seguir
    </a>
  </header>
  <main class="text-[13px] line-clamp-3 opacity-80 font-light my-3">
    Oye, soy nuevo en X y no soy realmente una persona de redes sociales 🙃,
    Estoy buscando conectarme con otros desarrolladores y aprender sobre lo
    último en desarrollo web 🤗.
  </main>
  <footer
    class="flex gap-2 text-sm [&>section]:flex [&>section]:gap-1 first:[&>section>span]:font-medium last:[&>section>span]:font-light last:[&>section>span]:opacity-80"
  >
    <section>
      <span>50</span><span>Siguiendo</span>
    </section>
    <section>
      <span>2</span><span>Seguidores</span>
    </section>
  </footer>
</article>
