.download-cv>svg path {
  transition: all .5s;
}

.download-cv:hover>svg path:nth-child(2) {
  d: path("M4 18v2a2 2 0 0 0 2 2h12a2 2 0 0 0 2 -2v-2");
}

.download-cv:hover>svg path:nth-child(3) {
  d: path("M7 9l5 5l5 -5");
}

.download-cv:hover>svg path:last-child {
  d: path("M12 2l0 12");
}