---
import Github from "../contactIcons/Github.astro";
import Instagram from "../contactIcons/Instagram.astro";
import LinkedIn from "../contactIcons/LinkedIn.astro";
import Twitter from "../contactIcons/Twitter.astro";
---

<footer
  class="w-full bg-blue-200 dark:bg-[#08152C] dark:bg-opacity-40 text-gray-700 dark:text-gray-500 pointer-events-auto"
>
  <section
    class="container mx-auto py-10 flex flex-col gap-8 max-lg:gap-6 max-md:px-2"
  >
    <p class="w-full text-base text-gray-700 dark:text-gray-500 max-sm:text-sm">
      Diseñado en
      <a
        href="https://www.figma.com/"
        target="_blank"
        rel="noreferrer"
        class="text-[#0A0C10] dark:text-[#F5F9FF] hover:text-[#90F] focus-visible:text-[#90F] dark:hover:text-[#96F] dark:focus-visible:text-[#96F]"
        >Figma</a
      >
      y codificado en
      <a
        href="https://code.visualstudio.com/"
        target="_blank"
        rel="noreferrer"
        class="text-[#0A0C10] dark:text-[#F5F9FF] hover:text-[#90F] focus-visible:text-[#90F] dark:hover:text-[#96F] dark:focus-visible:text-[#96F]"
        >Visual Studio Code</a
      > por mí mismo. Construido con
      <a
        href="https://astro.build/"
        target="_blank"
        rel="noreferrer"
        class="text-[#0A0C10] dark:text-[#F5F9FF] hover:text-[#90F] focus-visible:text-[#90F] dark:hover:text-[#96F] dark:focus-visible:text-[#96F]"
        >Astro</a
      > y
      <a
        href="https://tailwindcss.com/"
        target="_blank"
        rel="noreferrer"
        class="text-[#0A0C10] dark:text-[#F5F9FF] hover:text-[#90F] focus-visible:text-[#90F] dark:hover:text-[#96F] dark:focus-visible:text-[#96F]"
        >Tailwind CSS</a
      >
      , desplegado en
      <a
        href="https://fly.io/"
        target="_blank"
        rel="noreferrer"
        class="text-[#0A0C10] dark:text-[#F5F9FF] hover:text-[#90F] focus-visible:text-[#90F] dark:hover:text-[#96F] dark:focus-visible:text-[#96F]"
        >Fly.io</a
      >
      . Las tipografías utilizadas son

      <a
        href="https://rsms.me/inter/"
        class="text-[#0A0C10] dark:text-[#F5F9FF] hover:text-[#90F] focus-visible:text-[#90F] dark:hover:text-[#96F] dark:focus-visible:text-[#96F]"
        target="_blank"
        rel="noreferrer">Inter</a
      >
      y
      <a
        href="https://www.atipofoundry.com/fonts/n27"
        target="_blank"
        rel="noreferrer"
        class="text-[#0A0C10] dark:text-[#F5F9FF] hover:text-[#90F] focus-visible:text-[#90F] dark:hover:text-[#96F] dark:focus-visible:text-[#96F]"
        >N27</a
      >.
    </p>
    <span class="w-full h-[1px] bg-gray-400 dark:bg-gray-700"></span>
    <div
      class="w-full flex items-center justify-center gap-2max-md:gap-1 max-sm:flex-col [&>div>a>svg]:w-6 [&>div]:px-0"
    >
      <p class="w-full flex justify-center text-sm max-sm:text-xs">
        © 2023 Humberto Yupanqui | FullStack Developer - Freelancer
      </p>
      <div
        class="flex items-center justify-center gap-2 max-lg:justify-end max-lg:gap-6 max-sm:justify-center max-sm:gap-1"
      >
        <Github style="hover:text-[#96F]" />
        <Instagram style="hover:text-[#96F]" />
        <Twitter style="hover:text-[#96F]" />
        <LinkedIn style="hover:text-[#96F]" />
      </div>
    </div>
  </section>
</footer>
