---
import Github from "../contactIcons/Github.astro";
import Instagram from "../contactIcons/Instagram.astro";
import LinkedIn from "../contactIcons/LinkedIn.astro";
import Twitter from "../contactIcons/Twitter.astro";
---

<footer class="w-full bg-blue-200 py-14 dark:bg-[#08152C] dark:bg-opacity-40">
  <section
    class="lg:container lg:mx-auto items-center px-3 grid grid-cols-1 md:grid-cols-3 gap-4 md:flex-row md:justify-between lg:px-10"
  >
    <p
      class="w-full text-base max-sm:text-sm text-[#0A0C10]/70 dark:text-[#F5F9FF]/50"
    >
      Diseñado en
      <a
        href="https://www.figma.com/"
        target="_blank"
        rel="noreferrer"
        class="text-[#0A0C10] dark:text-[#F5F9FF] hover:text-purple-600 dark:hover:text-[#96F] focus-visible:text-[#90F] transition-all dark:focus-visible:text-[#96F] font-medium"
        >Figma</a
      >
      y codificado en
      <a
        href="https://code.visualstudio.com/"
        target="_blank"
        rel="noreferrer"
        class="text-[#0A0C10] dark:text-[#F5F9FF] hover:text-purple-600 dark:hover:text-[#96F] focus-visible:text-[#90F] transition-all dark:focus-visible:text-[#96F] font-medium"
        >Visual Studio Code</a
      > por mí mismo. Construido con
      <a
        href="https://astro.build/"
        target="_blank"
        rel="noreferrer"
        class="text-[#0A0C10] dark:text-[#F5F9FF] hover:text-purple-600 dark:hover:text-[#96F] focus-visible:text-[#90F] transition-all dark:focus-visible:text-[#96F] font-medium"
        >Astro</a
      > y
      <a
        href="https://tailwindcss.com/"
        target="_blank"
        rel="noreferrer"
        class="text-[#0A0C10] dark:text-[#F5F9FF] hover:text-purple-600 dark:hover:text-[#96F] focus-visible:text-[#90F] transition-all dark:focus-visible:text-[#96F] font-medium"
        >Tailwind CSS</a
      >
      , desplegado en
      <a
        href="https://fly.io/"
        target="_blank"
        rel="noreferrer"
        class="text-[#0A0C10] dark:text-[#F5F9FF] hover:text-[#90F] focus-visible:text-[#90F] dark:hover:text-[#96F] transition-all dark:focus-visible:text-[#96F] font-medium"
        >Fly.io</a
      >
      . Las tipografía utilizada es

      <a
        href="https://rsms.me/inter/"
        class="text-[#0A0C10] dark:text-[#F5F9FF] hover:text-[#90F] focus-visible:text-[#90F] dark:hover:text-[#96F] transition-all dark:focus-visible:text-[#96F] font-medium"
        target="_blank"
        rel="noreferrer">Inter</a
      >.
    </p>
    <span
      class="w-auto md:w-10 h-[1px] bg-gray-400 dark:bg-gray-700 md:opacity-0"
    ></span>
    <div class="w-full flex flex-col gap-2 [&>div]:px-0">
      <p class="text-sm text-[#0A0C10]/70 dark:text-[#F5F9FF]/40">
        © 2023 Humberto Yupanqui, todos los derechos reservados. FullStack
        Developer, Freelancer.
      </p>
      <div
        class="flex gap-2 justify-center md:justify-start [&>a]:bg-purple-950/5 [&>a]:w-10 [&>a]:h-10 [&>a]:rounded-full [&>a]:p-2.5 [&>a>svg]:w-6 [&>a>svg]:h-6"
      >
        <Github hyperlink="https://github.com/ypnqh" />
        <Instagram />
        <Twitter />
        <LinkedIn />
      </div>
    </div>
  </section>
</footer>
