---
interface Props {
  name: string;
  href: string;
}

const { name, href } = Astro.props;
---

<a class="resouce-link" href={href} target="_blank" rel="noreferrer">
  {name}
</a>

<style>
  .resouce-link {
    opacity: 0.5;
    transition: all 0.3s ease-in-out;
    text-underline-offset: 4px;
  }

  .resouce-link:hover {
    opacity: 1;
    color: rgb(56 189 248);
    text-decoration-line: underline;
  }
</style>
