---
import Card from "@components/Card.astro";
import TechLink from "@components/TechLink.astro";

interface Props {
  class?: string;
}

const TECH = [
  {
    tech: "CSS",
    href: "https://developer.mozilla.org/docs/Web/CSS",
    hover: "hover:text-blue-400",
  },
  {
    tech: "HTML",
    href: "https://developer.mozilla.org/docs/Web/HTML",
    hover: "hover:text-red-400",
  },
  {
    tech: "JavaScript",
    href: "https://developer.mozilla.org/docs/Web/JavaScript",
    hover: "hover:text-yellow-400",
  },
  {
    tech: "TypeScript",
    href: "https://www.typescriptlang.org/",
    hover: "hover:text-blue-400",
  },
  {
    tech: "Go",
    href: "https://golang.org/",
    hover: "hover:text-blue-400",
  },
  {
    tech: "React",
    href: "https://reactjs.org/",
    hover: "hover:text-blue-400",
  },
];
---

<Card title="Sobre mí" class:list={["space-y-4", Astro.props.class]}>
  <p class="opacity-85">
    <strong class="text-lg font-medium text-mauve-400">+1</strong> año de experiencia
    en desarrollo web, actualmente me encuentro trabajando en proyectos personales
    y colaborando en proyectos open source.
  </p>
  <ul>
    <h5 class="text-sm pb-1.5">Mis principales herramientas son:</h5>
    {
      TECH.map(({ tech, href, hover }) => (
        <TechLink tech={tech} href={href} class={hover} />
      ))
    }
  </ul>
</Card>
