---
import Card from "@components/Card.astro";

import { GEOLOCATION, VISIT } from "astro:env/server";

interface Props {
  class?: string;
}

const res = await fetch(GEOLOCATION);
const json = await res.json();

const {
  city: { name: city },
  country: { name: country, flag },
} = json;

await fetch(VISIT, {
  method: "POST",
  headers: {
    "Content-Type": "application/json",
  },
  body: JSON.stringify({
    city,
    country,
    flag,
  }),
});
---

<Card class:list={["space-y-4 text-center relative", Astro.props.class]}>
  <h2>Última visita desde {city} - {country} {flag}</h2>
</Card>
