---
import Card from "@components/Card.astro";
---

<Card class:list={["relative space-y-1", Astro.props.class]}>
  <h3 class="text-lg font-medium">Ahora</h3>
  <span class="text-sm opacity-60">¿Qué es eso?</span>
  <p>Actualmente trabajando como freelance</p>
  <span
    class="text-4xl font-bold absolute top-0 right-4 text-emerald-400 animate-flicker"
    >•</span
  >
</Card>
