/*
- N27 font family.
- Normal font style.
*/
@font-face {
  font-family: "N27";
  src: url("/public/fonts/n27-thin.eot");
  src:
    url("/public/fonts/n27-thin.eot?#iefix") format("embedded-opentype"),
    url("/public/fonts/n27-thin.woff") format("woff"),
    url("/public/fonts/n27-thin.woff2") format("woff2"),
    url("/public/fonts/n27-thin.ttf") format("truetype");
  font-weight: 100;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "N27";
  src: url("/public/fonts/n27-extralight.eot");
  src:
    url("/public/fonts/n27-extralight.eot?#iefix") format("embedded-opentype"),
    url("/public/fonts/n27-extralight.woff") format("woff"),
    url("/public/fonts/n27-extralight.woff2") format("woff2"),
    url("/public/fonts/n27-extralight.ttf") format("truetype");
  font-weight: 200;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "N27";
  src: url("/public/fonts/n27-light.eot");
  src:
    url("/public/fonts/n27-light.eot?#iefix") format("embedded-opentype"),
    url("/public/fonts/n27-light.woff") format("woff"),
    url("/public/fonts/n27-light.woff2") format("woff2"),
    url("/public/fonts/n27-light.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "N27";
  src: url("/public/fonts/n27-regular.eot");
  src:
    url("/public/fonts/n27-regular.eot?#iefix") format("embedded-opentype"),
    url("/public/fonts/n27-regular.woff") format("woff"),
    url("/public/fonts/n27-regular.woff2") format("woff2"),
    url("/public/fonts/n27-regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "N27";
  src: url("/public/fonts/n27-medium.eot");
  src:
    url("/public/fonts/n27-medium.eot?#iefix") format("embedded-opentype"),
    url("/public/fonts/n27-medium.woff") format("woff"),
    url("/public/fonts/n27-medium.woff2") format("woff2"),
    url("/public/fonts/n27-medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "N27";
  src: url("/public/fonts/n27-bold.eot");
  src:
    url("/public/fonts/n27-bold.eot?#iefix") format("embedded-opentype"),
    url("/public/fonts/n27-bold.woff") format("woff"),
    url("/public/fonts/n27-bold.woff2") format("woff2"),
    url("/public/fonts/n27-bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

/*
- N27 font family.
- Italic font style.
*/
@font-face {
  font-family: "N27";
  src: url("/public/fonts/n27-thinitalic.eot");
  src:
    url("/public/fonts/n27-thinitalic.eot?#iefix") format("embedded-opentype"),
    url("/public/fonts/n27-thinitalic.woff") format("woff"),
    url("/public/fonts/n27-thinitalic.woff2") format("woff2"),
    url("/public/fonts/n27-thinitalic.ttf") format("truetype");
  font-weight: 100;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "N27";
  src: url("/public/fonts/n27-extralightitalic.eot");
  src:
    url("/public/fonts/n27-extralightitalic.eot?#iefix") format("embedded-opentype"),
    url("/public/fonts/n27-extralightitalic.woff") format("woff"),
    url("/public/fonts/n27-extralightitalic.woff2") format("woff2"),
    url("/public/fonts/n27-extralightitalic.ttf") format("truetype");
  font-weight: 200;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "N27";
  src: url("/public/fonts/n27-lightitalic.eot");
  src:
    url("/public/fonts/n27-lightitalic.eot?#iefix") format("embedded-opentype"),
    url("/public/fonts/n27-lightitalic.woff") format("woff"),
    url("/public/fonts/n27-lightitalic.woff2") format("woff2"),
    url("public/fonts/n27-lightitalic.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "N27";
  src: url("/public/fonts/n27-regularitalic.eot");
  src:
    url("/public/fonts/n27-regularitalic.eot?#iefix") format("embedded-opentype"),
    url("/public/fonts/n27-regularitalic.woff") format("woff"),
    url("/public/fonts/n27-regularitalic.woff2") format("woff2"),
    url("public/fonts/n27-regularitalic.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "N27";
  src: url("/public/fonts/n27-mediumitalic.eot");
  src:
    url("/public/fonts/n27-mediumitalic.eot?#iefix") format("embedded-opentype"),
    url("/public/fonts/n27-mediumitalic.woff") format("woff"),
    url("/public/fonts/n27-mediumitalic.woff2") format("woff2"),
    url("public/fonts/n27-mediumitalic.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "N27";
  src: url("/public/fonts/n27-bolditalic.eot");
  src:
    url("/public/fonts/n27-bolditalic.eot?#iefix") format("embedded-opentype"),
    url("/public/fonts/n27-bolditalic.woff") format("woff"),
    url("/public/fonts/n27-bolditalic.woff2") format("woff2"),
    url("public/fonts/n27-bolditalic.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: italic;
}

/*
- Cunia font family.
- Normal font style.
*/
@font-face {
  font-family: "Cunia";
  src:
    url("/public/fonts/Cunia-Bold.woff2") format("woff2"),
    url("/public/fonts/Cunia-Bold.woff") format("woff"),
    url("/public/fonts/Cunia.otf") format("opentype");
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}