---
import { ViewTransitions } from "astro:transitions";
import Footer from "../components/footer/Footer.astro";
import Header from "../components/header/Header.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <meta name="copyright" content="Diseñado por yupanqui.dev" />
    <meta name="author" content="Humberto Yupanqui Apaza" />
    <meta name="description" content="Humberto Yupanqui Apaza" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title} - Humberto Yupanqui Apaza</title>
    <ViewTransitions />
  </head>
  <body class="w-full flex flex-col bg-zinc-950">
    <Header />
    <slot />
    <Footer />
    <style is:global>
      /*
        - N27 font family.
        - Normal font style.
      */
      @font-face {
        font-family: "N27";
        src:
          url("/fonts/n27/WOFF/n27-light.woff") format("woff"),
          url("/fonts/n27/WOFF/n27-light.woff2") format("woff2"),
          url("/fonts/n27/TTF/n27-light.ttf") format("truetype");
        font-weight: 300;
        font-display: swap;
        font-style: normal;
      }

      @font-face {
        font-family: "N27";
        src:
          url("/fonts/n27/WOFF/n27-regular.woff") format("woff"),
          url("/fonts/n27/WOFF/n27-regular.woff2") format("woff2"),
          url("/fonts/n27/TTF/n27-regular.ttf") format("truetype");
        font-weight: 400;
        font-display: swap;
        font-style: normal;
      }

      @font-face {
        font-family: "N27";
        src:
          url("/fonts/n27/WOFF/n27-medium.woff") format("woff"),
          url("/fonts/n27/WOFF/n27-medium.woff2") format("woff2"),
          url("/fonts/n27/TTF/n27-medium.ttf") format("truetype");
        font-weight: 500;
        font-display: swap;
        font-style: normal;
      }

      @font-face {
        font-family: "N27";
        src:
          url("/fonts/n27/WOFF/n27-bold.woff") format("woff"),
          url("/fonts/n27/WOFF/n27-bold.woff2") format("woff2"),
          url("/fonts/n27/TTF/n27-bold.ttf") format("truetype");
        font-weight: 700;
        font-display: swap;
        font-style: normal;
      }

      /*
        - N27 font family.
        - Italic font style.
      */
      @font-face {
        font-family: "N27";
        src:
          url("/fonts/n27/WOFF/n27-lightitalic.woff") format("woff"),
          url("/fonts/n27/WOFF/n27-lightitalic.woff2") format("woff2"),
          url("/fonts/n27/TTF/n27-lightitalic.ttf") format("truetype");
        font-weight: 300;
        font-display: swap;
        font-style: italic;
      }

      @font-face {
        font-family: "N27";
        src:
          url("/fonts/n27/WOFF/n27-regularitalic.woff") format("woff"),
          url("/fonts/n27/WOFF/n27-regularitalic.woff2") format("woff2"),
          url("/fonts/n27/TTF/n27-regularitalic.ttf") format("truetype");
        font-weight: 400;
        font-display: swap;
        font-style: italic;
      }

      @font-face {
        font-family: "N27";
        src:
          url("/fonts/n27/WOFF/n27-mediumitalic.woff") format("woff"),
          url("/fonts/n27/WOFF/n27-mediumitalic.woff2") format("woff2"),
          url("/fonts/n27/TTF/n27-mediumitalic.ttf") format("truetype");
        font-weight: 500;
        font-display: swap;
        font-style: italic;
      }

      @font-face {
        font-family: "N27";
        src:
          url("/fonts/n27/WOFF/n27-bolditalic.woff") format("woff"),
          url("/fonts/n27/WOFF/n27-bolditalic.woff2") format("woff2"),
          url("/fonts/n27/TTF/n27-bolditalic.ttf") format("truetype");
        font-weight: 700;
        font-display: swap;
        font-style: italic;
      }

      /*
        - Mona Sans font family.
        - Normal font style.
      */
      @font-face {
        font-family: "Mona Sans";
        src:
          url("/fonts/mona_sans/WOFF/MonaSans[slnt,wdth,wght].woff2")
            format("woff2 supports variations"),
          url("/fonts/mona_sans/WOFF/MonaSans[slnt,wdth,wght].woff2")
            format("woff2-variations");
        font-weight: 200 900;
        font-stretch: 75% 125%;
      }

      html,
      body {
        font-family: "N27", sans-serif;
        color-scheme: dark light;
      }

      h1,
      h2,
      h3 {
        font-family: "Mona Sans", sans-serif;
      }

      body::-webkit-scrollbar,
      textarea::-webkit-scrollbar {
        width: 0.5rem;
      }

      body::-webkit-scrollbar-thumb,
      textarea::-webkit-scrollbar-thumb {
        background-color: #0284c7;
        border-radius: 1rem;
        transition: all 0.5s;
      }

      body::-webkit-scrollbar-thumb:hover,
      textarea::-webkit-scrollbar-thumb:hover {
        background-color: #0369a1;
      }
    </style>
  </body>
</html>
