---
import { ViewTransitions } from "astro:transitions";
import Footer from "../components/footer/Footer.astro";
import Header from "../components/header/Header.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="src/assets/styles/styles.css" />
    <link rel="stylesheet" href="src/assets/styles/fonts.css" />
    <title>{title} - Humberto Yupanqui Apaza</title>
    <ViewTransitions />
    <script src="/src/utils/darkMode.js"></script>
  </head>
  <body class="bg-zinc-100 dark:bg-zinc-950 w-full h-full flex flex-col">
    <Header />
    <slot />
    <Footer />
  </body>
</html>
