---
import { ViewTransitions } from "astro:transitions";
import Footer from "../components/footer/Footer.astro";
import Header from "../components/header/Header.astro";
import "../styles/app.css";
import "../styles/fonts.css";
import "../styles/index.css";
import "../styles/tailwind.css";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <meta name="copyright" content="Diseñado por yupanqui.dev" />
    <meta name="author" content="Humberto Yupanqui Apaza" />
    <meta name="description" content="Humberto Yupanqui Apaza" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title} - Humberto Yupanqui Apaza</title>
    <ViewTransitions />
  </head>
  <body class="w-full flex flex-col bg-zinc-950">
    <Header />
    <slot />
    <Footer />
  </body>
</html>
