---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="w-full h-full bg-[#F5F9FF] dark:bg-[#0A0C10]">
    <slot />
  </body>
</html>

<style is:global>
  @font-face {
    font-family: "Inter";
    src: url("/public/fonts/Inter-Bold.woff2") format("woff2"),
      url("/public/fonts/Inter-Bold.woff") format("woff");
    font-weight: bold;
  }

  @font-face {
    font-family: "Inter";
    src: url("/public/fonts/Inter-Regular.woff2") format("woff2"),
      url("/public/fonts/Inter-Regular.woff") format("woff");
    font-weight: normal;
  }

  @font-face {
    font-family: "Inter";
    src: url("/public/fonts/Inter-Medium.woff2") format("woff2"),
      url("/public/fonts/Inter-Medium.woff") format("woff");
    font-weight: 500;
  }

  @font-face {
    font-family: "N27";
    src: url("/public/fonts/n27-regular.woff2") format("woff2"),
      url("/public/fonts/n27-regular.woff") format("woff");
    font-weight: normal;
  }

  body::-webkit-scrollbar,
  textarea::-webkit-scrollbar {
    width: 0.7rem;
  }

  body::-webkit-scrollbar-thumb,
  textarea::-webkit-scrollbar-thumb {
    background-color: #97f;
    border-radius: 0.1rem;
  }

  body::-webkit-scrollbar-thumb:hover,
  textarea::-webkit-scrollbar-thumb:hover {
    background-color: #96f;
  }

  header,
  main {
    font-family: "Inter", sans-serif;
  }

  footer {
    font-family: "N27", sans-serif;
  }
</style>
