---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title} - Humberto Yupanqui Apaza</title>
    <meta name="view-transition" content="same-origin" />
    <script src="/src/utils/darkMode.js"></script>
  </head>
  <body class="bg-zinc-100 dark:bg-zinc-950 w-full h-full flex flex-col">
    <slot />
  </body>
</html>

<style is:global>
  @font-face {
    font-family: "Aileron";
    src: url("/public/fonts/Aileron-Light.woff2") format("woff2"),
      url("/public/fonts/Aileron-Light.woff") format("woff"),
      url("/public/fonts/Aileron-Light.otf") format("opentype");
    font-weight: 300;
    font-display: swap;
  }

  @font-face {
    font-family: "Aileron";
    src: url("/public/fonts/Aileron-Regular.woff2") format("woff2"),
      url("/public/fonts/Aileron-Regular.woff") format("woff"),
      url("/public/fonts/Aileron-Regular.otf") format("opentype");
    font-weight: 400;
    font-display: swap;
  }

  @font-face {
    font-family: "Aileron";
    src: url("/public/fonts/Aileron-SemiBold.woff2") format("woff2"),
      url("/public/fonts/Aileron-SemiBold.woff") format("woff"),
      url("/public/fonts/Aileron-SemiBold.otf") format("opentype");
    font-weight: 600;
    font-display: swap;
  }

  @font-face {
    font-family: "Aileron";
    src: url("/public/fonts/Aileron-Bold.woff2") format("woff2"),
      url("/public/fonts/Aileron-Bold.woff") format("woff"),
      url("/public/fonts/Aileron-Bold.otf") format("opentype");
    font-display: swap;
    font-weight: 700;
  }

  @font-face {
    font-family: "Aileron";
    src: url("/public/fonts/Aileron-Black.woff2") format("woff2"),
      url("/public/fonts/Aileron-Black.woff") format("woff"),
      url("/public/fonts/Aileron-Black.otf") format("opentype");
    font-weight: 800;
    font-display: swap;
  }

  @font-face {
    font-family: "Aileron";
    src: url("/public/fonts/Aileron-Heavy.woff2") format("woff2"),
      url("/public/fonts/Aileron-Heavy.woff") format("woff"),
      url("/public/fonts/Aileron-Heavy.otf") format("pentype");
    font-weight: 900;
    font-display: swap;
  }

  *,
  html,
  body {
    font-family: "Aileron", sans-serif;
  }

  body::-webkit-scrollbar,
  textarea::-webkit-scrollbar {
    width: 0.7rem;
  }

  body::-webkit-scrollbar-thumb,
  textarea::-webkit-scrollbar-thumb {
    background-color: #90f;
    border-radius: 0.1rem;
  }

  body::-webkit-scrollbar-thumb:hover,
  textarea::-webkit-scrollbar-thumb:hover {
    background-color: #96f;
  }

  .avatar,
  svg {
    view-timeline-name: --image;
    view-timeline-axis: block;

    animation-timeline: --image;
    animation-name: show;

    animation-range: entry 25% cover 25%;
    animation-fill-mode: both;
  }

  @keyframes show {
    from {
      opacity: 0;
      scale: 25%;
    }

    to {
      opacity: 1;
      scale: 100%;
    }
  }
</style>

<script>
  // CHANGE TITLE WHEN USER CHANEGS TAB
  let docTitle = document.title;
  window.addEventListener("blur", () => {
    document.title = "Come back - Humberto Yupanqui Apaza ";
  });

  window.addEventListener("focus", () => {
    document.title = docTitle;
  });
</script>
