---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="w-full h-full bg-[#F5F9FF] dark:bg-[#0A0C10]">
    <slot />
  </body>
</html>

<style is:global>
  @font-face {
    font-family: "Raleway";
    src: url("/public/fonts/Raleway-Bold.ttf");
    font-weight: bold;
  }

  @font-face {
    font-family: "Raleway";
    src: url("/public/fonts/Raleway-Regular.ttf");
    font-weight: normal;
  }

  @font-face {
    font-family: "Raleway";
    src: url("/public/fonts/Raleway-Medium.ttf");
    font-weight: 500;
  }

  @font-face {
    font-family: "N27";
    src: url("/public/fonts/n27-regular.woff2") format("woff2"),
      url("/public/fonts/n27-regular.woff") format("woff");
  }

  header,
  main {
    font-family: "Raleway", sans-serif;
  }

  footer {
    font-family: N27, sans-serif;
  }
</style>
