---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="view-transition" content="same-origin" />
  </head>
  <body class="bg-zinc-100 dark:bg-zinc-950 w-full h-full flex flex-col">
    <slot />
  </body>
</html>

<style is:global>
  @font-face {
    font-family: "Aileron";
    src: url("/public/fonts/Aileron-Thin.woff2") format("woff2"),
      url("/public/fonts/Aileron-Thin.woff") format("woff"),
      url("/public/fonts/Aileron-Thin.otf") format("opentype");
    font-weight: 100;
    font-display: swap;
  }

  @font-face {
    font-family: "Aileron";
    src: url("/public/fonts/Aileron-UltraLight.woff2") format("woff2"),
      url("/public/fonts/Aileron-UltraLight.woff") format("woff"),
      url("/public/fonts/Aileron-UltraLight.otf") format("opentype");
    font-display: swap;
    font-weight: 200;
  }

  @font-face {
    font-family: "Aileron";
    src: url("/public/fonts/Aileron-Light.woff2") format("woff2"),
      url("/public/fonts/Aileron-Light.woff") format("woff"),
      url("/public/fonts/Aileron-Light.otf") format("opentype");
    font-weight: 300;
    font-display: swap;
  }

  @font-face {
    font-family: "Aileron";
    src: url("/public/fonts/Aileron-Regular.woff2") format("woff2"),
      url("/public/fonts/Aileron-Regular.woff") format("woff"),
      url("/public/fonts/Aileron-Regular.otf") format("opentype");
    font-weight: 400;
    font-display: swap;
  }

  @font-face {
    font-family: "Aileron";
    src: url("/public/fonts/Aileron-SemiBold.woff2") format("woff2"),
      url("/public/fonts/Aileron-SemiBold.woff") format("woff"),
      url("/public/fonts/Aileron-SemiBold.otf") format("opentype");
    font-weight: 600;
    font-display: swap;
  }

  @font-face {
    font-family: "Aileron";
    src: url("/public/fonts/Aileron-Bold.woff2") format("woff2"),
      url("/public/fonts/Aileron-Bold.woff") format("woff"),
      url("/public/fonts/Aileron-Bold.otf") format("opentype");
    font-display: swap;
    font-weight: 700;
  }

  @font-face {
    font-family: "Aileron";
    src: url("/public/fonts/Aileron-Black.woff2") format("woff2"),
      url("/public/fonts/Aileron-Black.woff") format("woff"),
      url("/public/fonts/Aileron-Black.otf") format("opentype");
    font-weight: 800;
    font-display: swap;
  }

  @font-face {
    font-family: "Aileron";
    src: url("/public/fonts/Aileron-Heavy.woff2") format("woff2"),
      url("/public/fonts/Aileron-Heavy.woff") format("woff"),
      url("/public/fonts/Aileron-Heavy.otf") format("pentype");
    font-weight: 900;
    font-display: swap;
  }

  *,
  html,
  body {
    font-family: "Aileron", sans-serif;
  }

  body::-webkit-scrollbar,
  textarea::-webkit-scrollbar {
    width: 0.7rem;
  }

  body::-webkit-scrollbar-thumb,
  textarea::-webkit-scrollbar-thumb {
    background-color: #90f;
    border-radius: 0.1rem;
  }

  body::-webkit-scrollbar-thumb:hover,
  textarea::-webkit-scrollbar-thumb:hover {
    background-color: #96f;
  }

  ::view-transition-old(root),
  ::view-transition-new(root) {
    animation-duration: 10s;
  }

  @keyframes fade-in {
    from {
      opacity: 0;
    }
  }

  @keyframes fade-out {
    to {
      opacity: 0;
    }
  }

  @keyframes slide-from-right {
    from {
      transform: translateX(30px);
    }
  }

  @keyframes slide-to-left {
    to {
      transform: translateX(-30px);
    }
  }

  ::view-transition-old(root) {
    animation: 90ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
      700ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-left;
  }

  ::view-transition-new(root) {
    animation: 210ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
      700ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
  }
</style>

<script>
  // CHANGE TITLE WHEN USER CHANEGS TAB
  let docTitle = document.title;
  window.addEventListener("blur", () => {
    document.title = "Come back - Humberto Yupanqui Apaza ";
  });

  window.addEventListener("focus", () => {
    document.title = docTitle;
  });
</script>
